[2020-04-18 21:28] nikhil-sachdeva commented on #557
I would like to work on this issue.
Further clarifications on implementation details :
1.Will the implementation be similar to _receive notifications_  feature. (A checkbox to be used instead of a toggle button)
2. What would be the default value for the user.

[2020-04-19 11:10] alexanmtz commented on #523
@sanjaypokkali, have you looked into our [README?](https://github.com/worknenjoy/gitpay/blob/master/README.md)?

[2020-04-19 11:12] alexanmtz commented on #557
Hello @nikhil-sachdeva, thanks for the update, you're now assigned and about your questions:
1. Yes, it will be similar
2. The default value will be unchecked

Let me know if you have any further questions

[2020-04-19 12:02] Hardik500 commented on #543
Hey @alexanmtz, I was trying to setup the project, and I noticed that there is already a script.js file in the root directory. So do I have to add anything in it or what should I do?

[2020-04-19 13:07] sanjaypokkali commented on #523
@alexanmtz I got it working but when I try running the backend, I'm getting this error:

C:\Users\sanja\Desktop\gitpay\node_modules\passport-oauth2\lib\strategy.js:82                                             if (!options.clientID) { throw new TypeError('OAuth2Strategy requires a clientID option'); }                                                     ^

[2020-04-19 13:39] sanjaypokkali commented on #523
I think i require an api key to get the backend running

[2020-04-19 16:06] VictorAlessander opened #625 "Issue doesn't exists anymore in GitHub but is showing in GitPay task list"
Description

### Why
Seems like a bug.

### Level
Beginner, I guess.

### Current behavior
Issue was deleted in GitHub, but in GitPay shows a record with title "blah". When the task is opened, nothing is loaded.

### Expected behavior
When issue is deleted from GitHub, in GitPay I guess that needs to disappear.

### Useful links
  - https://github.com/sanjaypokkali/test/issues/1

### Screenshot at

[2020-04-19 19:14] alexanmtz commented on #543
Hello @Hardik500, you should add a new method in this script.js file

[2020-04-19 19:15] alexanmtz commented on #523
this error happens because you need your `.env` file from `.env.example` as described on our documentation @sanjaypokkali

[2020-04-19 19:16] alexanmtz commented on #584
You were removed @sachin-duhan26, cause I could get any response from you

[2020-04-19 21:11] #266 closed

[2020-04-20 09:18] alexanmtz commented on #541
Hello @mani-developer, you're right, there's was some issues after I tested, you actually was retrieving the current user, not the task creator, so please check my latest commit with the fix:
https://github.com/worknenjoy/gitpay/commit/1e4c28b0696fda253b1ee394b4054e4f4e7f6709

[2020-04-20 09:27] mani-developer commented on #541
@alexanmtz  thanks for the details.  Will go through the changes and try to understand.  Happy to see my changes on the website :)

[2020-04-20 09:29] alexanmtz commented on #541
Great @mani-developer, yeah, that's the idea, while doing challenges, to have real contributions from your end 👍

I think we will close this for now and wait for the next steps 🙏

[2020-04-20 09:29] #541 closed

[2020-04-20 09:36] mani-developer commented on #541
Sure.. Looking forward @alexanmtz  🙏

[2020-04-20 15:04] lexaabrahamsen commented on #584
Hey @alexanmtz - Mind if I take a stab at this issue?

[2020-04-20 15:22] robertkibet commented on #227
@alexanmtz
https://github.com/worknenjoy/gitpay/pull/629
:tada: :tada: :tada: :tada:

[2020-04-20 18:49] alexanmtz commented on #584
Hey @lexaabrahamsen, you're now assigned and you can start to work on this issue 👍

[2020-04-21 11:46] alexanmtz commented on #625
Thanks for reporting @VictorAlessander 👍

[2020-04-21 13:30] mani-developer opened #630 "TASKS button on the tasks page should take us to the exact task list page from where we opened the task."
Description

### Why

 Better navigation options from a particular task page back to the Task List (Coming back to the exact task list page from where we opened a particular task )

### Level

### Current behavior
From the “Task list” page we see the list of tasks.
![image](https://user-images.githubusercontent.com/63766141/79870652-e8462900-8400-11ea-9570-28a4a52ef549.png)

And we  navigate furth

[2020-04-21 20:39] EANimesha commented on #606
I am interested in this. I can really work on this issue. Assign me.

[2020-04-21 20:47] alexanmtz commented on #606
@adelmojnr are you still working on this?

[2020-04-22 15:31] Saivishalc commented on #569
Hi, I was able to finish this but I had one question when you said create a tutorial do you want me to create a video showing how I did it or like how it works.

[2020-04-22 15:34] alexanmtz commented on #569
@Saivishalc, just a section on our README is enough to describe how to do it in a simple way, based on what you learned.

[2020-04-22 18:49] aleku399 commented on #247
I want to contribute

[2020-04-22 20:16] alexanmtz commented on #247
Hello @aleku399, you're now assigned and you can send your code

[2020-04-22 20:40] arrudaricardo commented on #562
can I work on that?

[2020-04-23 02:26] gnyani commented on #532
Hi @alexanmtz,

I tried reaching you over email and I was not able to get to you.
The issue seems interesting to me but I have spare time only during weekends.  Would that be ok for you? I can work on this issue on Saturday and Sunday.
I am happy to take up this task. BTW, I have already registered on Gitpay long ago.
Just one question, how does communication happen? If I have a question regarding

[2020-04-23 03:09] Shawn-Noruzi commented on #539
Hey!

Went to do a pull request and got hit with no permissions @alexanmtz

I fell ill 2 days ago so slowed me down a bit unfortunately

[2020-04-23 03:10] Shawn-Noruzi commented on #539
I got the the page made with layout + responsiveness + styling and looks like the image above.

There's some functionality missing for the buttons but I can do that tonight easily

[2020-04-23 09:01] alexanmtz commented on #539
Hello @Shawn-Noruzi, you need to create a fork and push for your branch, then you create a PR from there. In your cause, that you already cloned, you can add other remote:
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/configuring-a-remote-for-a-fork

Let me know if you need any help

[2020-04-23 09:02] alexanmtz commented on #539
@Shawn-Noruzi, and that's great that you could implement the screen, don't worry about these buttons, for now, is just a landing page and you don't need to worry about the links

[2020-04-23 09:04] alexanmtz commented on #532
@gnyani, you can comment here or reach out on Slack. And that's fine that you will work on the weekend

[2020-04-23 09:06] alexanmtz commented on #606
Hello @EANimesha, you're now assigned and you can start to work on this issue

[2020-04-23 09:25] gnyani commented on #532
Cool, thanks.

[2020-04-23 13:54] robertkibet commented on #227
@alexanmtz
https://github.com/worknenjoy/gitpay/pull/629
Fixed lint :smile:

[2020-04-23 18:29] EANimesha commented on #630
I am interested in this. Assign me. I started working on this

[2020-04-23 18:50] Shawn-Noruzi commented on #539
Gotchya - Thank you!

I pushed it to the fork.

https://github.com/Shawn-Noruzi/gitpay/commit/ae4f348c3e65d38cc8ad5d522f0c810621aa82e0

[2020-04-23 18:57] Shawn-Noruzi commented on #539
Its pushed to worknenjoy:master but I dont want that -> I think I should be pushing it to a branch instead

Shawn-Noruzi wants to merge 2 commits into **worknenjoy:master** from Shawn-Noruzi:master

How do I proceed?

[2020-04-24 07:21] Shawn-Noruzi commented on #539
npm run dev for front end works  on my end - sites visible and works.
![gitsite](https://user-images.githubusercontent.com/25312057/80185615-7b2dc180-85c1-11ea-9d40-87a89c14c409.PNG)

But the build-all check fails on pull request - any advice on how to proceed?

[2020-04-24 11:46] alexanmtz commented on #562
Hello @arrudaricardo, yes, but I'm afraid we will need to create a Github bot, how you think to implement this?

We have a Github app but It requires to install, so this would just work for repositories with Gitpay App installed.

Maybe with Github Actions, this would be possible, so let me know your thoughts.

[2020-04-24 12:27] arrudaricardo commented on #562
Hey @alexanmtz, I was thinking to use the Oauth token from the private repo gitpay feature that is already implemented and make a API call at: https://developer.github.com/v3/issues/#create-an-issue
The restrictions would be that only the owner can give authorization. In this scenario we could ask authorization to the owner to post the issue by email

[2020-04-24 12:55] #557 closed

[2020-04-25 22:38] VictorAlessander commented on #465
Greetings, @alexanmtz.

During the development of this issue, I may found a bug.

When a label filter is selected and have a page refresh, the label and the path of page still are the same but the content in task list is referenced to all tasks. Example:

- Selecting label filter 'Closed';
- Now in the task list I have all tasks closed;
- I will refresh the page for some reason;
- Now, I still hav

[2020-04-26 12:13] alexanmtz commented on #532
Hey @gnyani, you're now assigned and you can start to work on this issue 👍

[2020-04-26 12:58] alexanmtz commented on #465
Yeah @VictorAlessander, this seems an issue and if it is possible you can fix it together with this.

[2020-04-26 16:11] gauraws commented on #606
Hi, I am beginner, can I work on this issue?

[2020-04-26 16:16] alexanmtz commented on #606
Hello @gauraws, there's someone already assigned, so you should preferably get another one unassigned if you want to have your code integrated.

[2020-04-26 20:00] Saivishalc commented on #569
Hi, I was able to finish the code that I have written for the problem and I put about 2 sentences about what it is. Where would you like me to put this code? Also, I apologize for how long this took, I was very busy and with COVID-19 it was hard to do accomplish this in the timeframe.

[2020-04-26 21:01] alexanmtz commented on #569
@Saivishalc, no problem, we were all affected. You should create a fork and send a Pull Request

[2020-04-26 21:37] nikhil-sachdeva commented on #533
Can I work on this ?

[2020-04-26 23:05] Adekoreday commented on #554
@alexanmtz will like to work on this task

[2020-04-27 10:26] mdfaizan7 commented on #540
Can I take this issue?

[2020-04-27 10:55] alexanmtz commented on #540
Yes @mdfaizan7, you're now assigned 👍

[2020-04-27 10:57] alexanmtz commented on #554
Hello @Adekoreday, how do you think about the steps involved to solve this issue?

[2020-04-27 11:49] Adekoreday commented on #554
okay @alexanmtz.

My approach to solving the problem is to configure the GitHub webhook for Gitpay repository to send details of any labels created, edited, or deleted to an endpoint in the application.

I went through the code base and saw there exist a webhook endpoint that handles the following label `gitpay`(build a task) and `notify`(this update a task).

I think for this task we might want t

[2020-04-27 12:00] alexanmtz commented on #554
Great @Adekoreday, I think it's a good way, the webhook is triggered by our Github App:
https://github.com/worknenjoy/gitpay-github-app

And these labels are to take some action when we define a label, and we can use it considering that it continues to work on these labels, and in the same event we update a `labels `table, it depends to create a new table to store labels on Gitpay

[2020-04-27 12:23] alexanmtz commented on #562
Hey @arrudaricardo, it's a good approach. But just to make it clear, we will need to make a call to comment on the issue, because the issue was imported on Gitpay and it is already created on Gitpay.

And with this approach, the user would be the author of the comment.

There's a way of doing it using Github bots, so our bot would comment without asking user authorization, the cause is our user do

[2020-04-27 12:55] Adekoreday commented on #554
Nice @alexanmtz...

 from my understanding of your comment, the task will involve

- [ ]  create a label table
- [ ] update the gitpay-github-app to allow our webhook endpoints to be called on all issues.label
- [ ] if any of the labels does not exist persist them in the labels table.
- [ ] if any the label is type `gitpay` or `notify` ensure it continues with it's normal flow.
- [ ] create logic

[2020-04-27 13:00] alexanmtz commented on #554
Yes @Adekoreday, I think that's a good approach, you're now assigned 👍

[2020-04-27 13:08] Adekoreday commented on #554
Alright thanks will proceed accordingly

[2020-04-27 17:51] arrudaricardo commented on #562
@alexanmtz, I understand, a bot would be a good call than. I can work on that than, witch github account should we use for the bot? same as the repo or a specific one for the bot?

[2020-04-27 21:08] Adekoreday opened #638 "Codebase Should support usage of a daily rotating file logging system"
Description

### Why
Logging of details and error on the console makes it difficult to have a detailed history of errors and user interactions with the application on production over a long period of time.

### Level
Beginner

### Current behavior
On start of the application details of interactions are logged via the console, this makes it difficult to know the following

-  level of importance of

[2020-04-27 23:24] ceyuboglu commented on #498
Hey, I would like to help about this

[2020-04-28 09:04] alexanmtz commented on #498
Hello @ceyuboglu, that's great! You're now assigned and you can start to work on this issue 👍

[2020-04-28 09:08] #539 closed

[2020-04-28 12:08] alexanmtz commented on #562
Great @arrudaricardo, let's proceed with that, and we have this user that we will personal tokens to authenticate, so the GitpayBot will comment. I will send you the development tokens by email.

So you're assigned to work on this 👍

[2020-04-29 08:46] hgupta2363 commented on #568
I am interested  in this task

[2020-04-29 09:33] alexanmtz commented on #568
Great @hgupta2363, you're now assigned and you can start to work on this 👍

[2020-04-29 14:33] alexanmtz commented on #520
Hello @iamNarcisse, sorry for the late response, you still want to work on this?

[2020-04-29 15:58] iamNarcisse commented on #520
Hi Alexandra,

I have worked on it already.

Should I wait till it is assigned to me before I make a PR?

On Wed, Apr 29, 2020, 3:33 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-04-29 16:03] alexanmtz commented on #520
@iamNarcisse You're now assigned and you can send you PR 👍

[2020-04-29 19:29] #227 closed

[2020-04-30 00:33] emirodriguezalc commented on #497
I want to work on this issue

[2020-04-30 01:47] emirodriguezalc commented on #497
Hi, im having problems when trying to access the issue i have created. The page flickers and then goes white. Its like when you mess up with the client-side rendering

[2020-05-01 20:49] etfaghaoubeid commented on #584
@alexanmtz I Will work on this

[2020-05-01 22:46] #465 closed

[2020-05-02 15:40] VictorAlessander opened #644 "After page refresh, task list ignores the label filters selected and shows all tasks"
When a label filter is selected and have a page refresh, the label and the path of page still are the same but the content in task list is referenced to all tasks.

### Why
Causes unexpected behavior.

### Level
Easy/Medium

### Current behavior
After page refresh, the content in task list aren't equal to label filters selected.

### Expected behavior
After page refresh, the content in task list n

[2020-05-03 03:23] sanjaypokkali commented on #523
I've sent an email to the email that was attached to get the api keys but I have not gotten a response yet

[2020-05-04 12:35] etfaghaoubeid commented on #584
@alexanmtz  ??

[2020-05-04 12:37] alexanmtz commented on #584
You can start to work on this @etfaghaoubeid 👍

[2020-05-04 13:01] etfaghaoubeid commented on #584
@alexanmtz  I need more information about the issue . like we have "A" and we want "B"

[2020-05-04 13:12] alexanmtz commented on #584
@etfaghaoubeid, on the screenshot, the text on Tooltip is written in Portuguese, and we need to use our current solution to display the text in different languages (en and br)

[2020-05-04 15:02] etfaghaoubeid commented on #584
@alexanmtz url of the screenshot?  e.g: http://localhost:8082/#/tasks/all

[2020-05-04 15:26] namandangi commented on #548
Hey! I would like to work on this issue

[2020-05-04 16:25] alexanmtz commented on #548
Hello @namandangi, you're now assigned and you can start to work on this issue 👍

[2020-05-04 16:27] alexanmtz commented on #584
It's exactly this one @etfaghaoubeid 👍

[2020-05-04 16:55] etfaghaoubeid commented on #584
i have made new PR

On Mon, May 4, 2020 at 4:28 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-05-04 17:34] #584 closed

[2020-05-04 17:38] etfaghaoubeid commented on #569
@alexanmtz  i will work on this

[2020-05-04 18:10] alexanmtz commented on #569
Hello @etfaghaoubeid, that's great, you're now assigned and you can start to work on this 👍

[2020-05-04 21:23] maryamtb commented on #630
Hello, I would like to be assigned to this issue.

[2020-05-05 00:40] ashusmvit commented on #247
I want to contribute

[2020-05-05 11:18] Adekoreday commented on #544
This issue has been fixed in PR #640 once merged
Kindly use the migration update command

[2020-05-05 11:19] alexanmtz commented on #247
Feel free to send your PR @ashusmvit 👍

[2020-05-05 11:52] alexanmtz commented on #498
Your changes was merged and deployed @ceyuboglu, thanks for the contribution 👍

[2020-05-05 11:52] #498 closed

[2020-05-05 16:10] etfaghaoubeid commented on #569
@alexanmtz  in frontend/src/translations there are two folders(generated and result) . these folder are generated by fomat.js ?

[2020-05-05 16:12] alexanmtz commented on #569
@etfaghaoubeid, yeah, you don't need to change that, it's generated by the tools we use to translate.

[2020-05-05 18:42] etfaghaoubeid commented on #569
path of the  file they are generated from ?

[2020-05-05 18:44] alexanmtz commented on #569
for the frontend, here: https://github.com/worknenjoy/gitpay/blob/master/frontend/src/translations/en.json

[2020-05-06 11:41] etfaghaoubeid commented on #569
@alexanmtz  i am stuck i can't find the solution

[2020-05-06 11:52] alexanmtz commented on #569
You should internationalize this section:
https://github.com/worknenjoy/gitpay/blob/master/frontend/src/components/welcome/pricing.js#L58

And we have the messages file we should import:
https://github.com/worknenjoy/gitpay/blob/master/frontend/src/components/welcome/messages.js

And we should do this:
https://github.com/worknenjoy/gitpay/blob/master/frontend/src/components/welcome/welcome.js#L183

[2020-05-06 12:19] etfaghaoubeid commented on #569
@alexanmtz i did the same but it did not work

[2020-05-06 12:59] alexanmtz commented on #569
You can send a PR and we can check @etfaghaoubeid, cause we should see at least the default text.

[2020-05-06 13:10] etfaghaoubeid commented on #569
i have made new PR

[2020-05-06 13:13] alexanmtz commented on #569
I can see you're doing good, now we need to proceed, with your changes, are you able to see the screen that is with the correct text? There's some error on the console?

[2020-05-06 13:19] etfaghaoubeid commented on #569
I saw the the default Text even if I toggle languages

On Wed, May 6, 2020 at 1:14 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-05-06 13:21] alexanmtz commented on #569
No problem, the translation will take place when we merge and send to
translation review, so if you see the default text is enough.

On Wed, 6 May 2020 at 15.19, Etfagha oubeid Elatigh <
notifications@github.com> wrote:

--
--
Alexandre Magno
*Software Engineer*
https://alexandremagno.net/
+45 26479776
@alexanmtz

[2020-05-06 13:48] AlekseiKorolev opened #648 "Task opening crash"
Description

### Why
Throws an error

### Level
Entry

### Current behavior
The profile page, tasks list (https://gitpay.me/#/profile/tasks)
Click on any task (task column) throws an error

### Expected behavior
Open description of the selected task

### Useful links
https://www.loom.com/share/8f1e2fcf99bb4d54b4f87f1b6e623740

### Screenshot attached
![image](https://user-images.githubusercontent.

[2020-05-06 14:20] etfaghaoubeid commented on #569
@alexanmtz  next steep ?

[2020-05-06 19:38] alexanmtz commented on #648
Thanks @AlekseiKorolev, I fixed this for now with this commit:
https://github.com/worknenjoy/gitpay/commit/1ec474e8b93a7f55e547e4ef55712508b078c6d8

We need to better handle empty values maybe we will make the name of the user required when register.

Thanks for reporting this 👍

[2020-05-06 19:38] #648 closed

[2020-05-06 19:43] alexanmtz commented on #569
@etfaghaoubeid do the same approach with all the strings from Pricing section

[2020-05-06 21:45] #554 closed

[2020-05-07 09:32] #548 closed

[2020-05-07 11:35] etfaghaoubeid commented on #569
@alexanmtz  new commit to my last PR to make if i am on the right path

[2020-05-07 12:15] EvandroGibicoski commented on #247
Give me enter on this task! Please. :)

[2020-05-07 13:38] alexanmtz commented on #247
You're assigned @EvandroGibicoski, feel free to send a pull request 👍

[2020-05-11 17:38] ampsteric commented on #644
can i work on this issue as a first time contributor??

[2020-05-11 20:31] alexanmtz commented on #644
Yes @ampsteric, you can start to work on this to do your first contribution 👍

[2020-05-12 02:49] ampsteric commented on #644
the Backend has a error named:
TypeError: OAuth2Strategy requires a clientID option
#2544

[2020-05-12 09:44] alexanmtz commented on #644
@ampsteric you need to follow this step in our documentation:

### Env to do some actions
For a full integration with api services used by the platform, you will need the api keys. You should make a copy of your .env.example to .env with the right credentials.

You can do this with: `cp .env.example .env`

[2020-05-14 13:29] alexanmtz commented on #497
@emirodriguezalc, try to get the latest updates from master

[2020-05-15 14:37] sep2001aryan commented on #504
hello I would like to work on this issue as my first issue :)

[2020-05-15 15:49] alexanmtz commented on #504
You're now assigned @sep2001aryan 👍

[2020-05-15 19:03] sep2001aryan commented on #553
Hello, I would like to work on this issue :)

[2020-05-15 19:33] #504 closed

[2020-05-15 19:41] alexanmtz commented on #553
Hello @sep2001aryan, you're assigned!

[2020-05-16 00:23] mathvaleriano opened #653 "Chip filter with wrong style on click"
Change the button style when it has been clicked

### Why
Improve the experience

### Level
Beginner

### Current behavior
When I click on MuiChip filter button in task list the style has been updated by focus... so to see the real checked style I need to click outside of the button.

### Expected behavior
When I click on MuiChip filter button, it should have the selected style

### Useful links
h

[2020-05-16 00:27] mathvaleriano opened #654 "Fix translation of the button text"
### Why
To use correct text when the site has been using pt-br

### Level
Beginner

### Current behavior
Wrong text on button "make an offer"

### Expected behavior
It should be "Faça uma proposta"

### Useful links
  https://gitpay.me/#/task/339

### Screenshot attached
![image](https://user-images.githubusercontent.com/12265496/82105638-b91a9300-96f2-11ea-99d7-57e92652753e.png)

### How to repro

[2020-05-16 00:31] mathvaleriano opened #655 "Adjust button text"
Button text is broken

### Why
Improve reading

### Level
Beginner

### Current behavior
Buttons of bounty area have broken texts

### Expected behavior
Need to pass another text or adjust button size

### Useful links
https://gitpay.me/#/task/339

### Screenshot attached
some screenshot
![image](https://user-images.githubusercontent.com/12265496/82105750-4a8a0500-96f3-11ea-93e0-e949ea7e7c22.png)

[2020-05-16 20:07] sep2001aryan commented on #653
Hello I would like to work on this issue :)

[2020-05-18 11:19] #553 closed

[2020-05-18 12:19] alexanmtz commented on #655
Thanks for reporting this @mathvaleriano 🙏

[2020-05-18 12:20] alexanmtz commented on #653
Hello @sep2001aryan, that's great, you're now assigned 👍

[2020-05-18 12:21] sep2001aryan commented on #653
On it 😁

[2020-05-18 17:19] alexanmtz commented on #625
Another commit that runs a script to look for invalid tasks that solve the issue. So the invalid issue was deleted and the user received a confirmation.

[2020-05-18 17:19] #625 closed

[2020-05-20 12:45] #562 closed

[2020-05-21 20:28] arrudaricardo commented on #555
@alexanmtz I would like to work on this issue.

[2020-05-23 08:03] navneet79 commented on #638
Hi , Can I work on this issue?

[2020-05-23 11:34] Adekoreday commented on #638
if @alexanmtz approves.

wrote some stuff on it lately
you can start from this blog post
 https://korey.ml/configuring-daily-rotating-file-logging-system-in-nodejs/

[2020-05-24 00:23] MTLChrisLEE commented on #654
Shouldn't it be "Fazer uma oferta" instead of "Faça uma proposta" ?

[2020-05-24 23:26] alexanmtz commented on #654
@MTLChrisLEE and @mathvaleriano we need to fix the button layout break, and the text should be proposed here: https://crowdin.com/project/gitpay/pt-BR#

Just send the corrections for Portuguese and feel free to help with the translation.

[2020-05-24 23:29] alexanmtz commented on #638
that's great @Adekoreday, very good article. So you're interested to work on this? Or you want to share your reference so other contributors can learn from your article?

[2020-05-24 23:45] MTLChrisLEE commented on #654
@alexanmtz
There is a property string in br.json file (frontend/src/translation/result) with the field
"task.interested.offer" and it says "Fazer uma oferta"

https://github.com/MTLChrisLEE/gitpay/commit/14d8c8ece7b335b9efc6d58a3ffdbc74f7034c39

As you my see on my forked repo, I created a branch and fixed the issue(I just changed the id value of FormattedMessage on the line 745). However, I am st

[2020-05-25 01:25] Adekoreday commented on #638
Sharing my reference to make the task easier for @navneet79

[2020-05-25 17:38] namandangi commented on #516
I'll work on this , assign me.

[2020-05-25 21:04] Adekoreday commented on #638
@navneet79 are you still interested or should I take up the task?

[2020-05-26 06:56] unnatii commented on #247
I would love to contribute

[2020-05-26 09:15] alexanmtz commented on #247
Hey @unnatii you can send your PR 👍

[2020-05-26 09:33] alexanmtz commented on #532
@gnyani no response from so I will unassign you from this issue

[2020-05-26 09:36] alexanmtz commented on #537
No response from you @harshlakhanpal , so you were unassigned to this.

[2020-05-26 09:41] alexanmtz commented on #516
As discussed with @namandangi, we will need to do changes in `canSendMail` in constants, in order to allow mails to test Mail functions using Unit Tests, so we will need to create another issue to address this and start to remove this parameter and mock Sendgrid calls.

So once I have this issue created, we can close this one.

[2020-05-26 11:39] namandangi commented on #532
I'll work on this @alexanmtz

[2020-05-26 11:39] alexanmtz commented on #532
@namandangi you're now assigned to this issue 👍

[2020-05-27 12:29] #606 closed

[2020-05-28 07:34] unnatii commented on #497
I want to work on this issue

[2020-05-28 09:05] alexanmtz commented on #497
Hello @unnatii, you're now assigned and you can work on this issue 👍

[2020-05-28 09:23] khoded commented on #558
Hi I'm interested in working on this issue

[2020-05-28 09:26] alexanmtz commented on #558
you're now assigned to this issue @khoded 👍

[2020-05-28 16:54] khoded commented on #558
great but I think you assigned the wrong handle.

[2020-05-28 17:30] unnatii commented on #497
I am also facing the same issue mentioned earlier here that I am unable to create account on the platform (locally without github or bitbucket) . The 'http://localhost:3000/authorize/local' can't be reached.

[2020-05-29 06:10] tusharkudal commented on #533
I would like to work on this issue.

[2020-05-29 08:16] alexanmtz commented on #558
Sorry @khoded, now you're assigned.

On Thu, 28 May 2020 at 18:54, Okikioluwa Onamade <notifications@github.com>
wrote:

--
--
Alexandre Magno
*Software Engineer*
https://alexandremagno.net/
+45 26479776
@alexanmtz

[2020-05-29 08:19] alexanmtz commented on #497
@unnatii the server is running properly? And did you copied the .env from
.env.example?

On Thu, 28 May 2020 at 19:30, unnatii <notifications@github.com> wrote:

--
--
Alexandre Magno
*Software Engineer*
https://alexandremagno.net/
+45 26479776
@alexanmtz

[2020-05-29 08:19] alexanmtz commented on #533
@tusharkudal you're now assigned 👍

[2020-05-29 11:55] unnatii commented on #497
Yes the server is running perfectly but when I assign bounty points when user is not signed in then   instead of failed payment the server crashes.

[2020-06-03 08:00] namandangi commented on #535
I'll take this up , assign me @alexanmtz

[2020-06-03 08:01] alexanmtz commented on #535
Yes, you're now assigned @namandangi

[2020-06-03 08:03] alexanmtz commented on #535
@namandangi tip: you can use the same approach as #666 to have a route to this page but don't worry about include in any menu for now.

[2020-06-03 11:32] alexanmtz commented on #497
@unnatii you can do a payment with Paypal and cancel so the order will be created.

*Create an order for that issue imported (You don't need to conclude successfully, what is important here is the user info, even if an order failed)*

[2020-06-03 11:34] alexanmtz commented on #523
You don't need any API keys to conclude this task @sanjaypokkali , you need to create accounts and assign, which no API key is required when you create an account locally on Gitpay.

[2020-06-03 14:59] alexanmtz commented on #540
Hello @mdfaizan7, since we didn't get any response from you, you will be unassigned from this issue.

[2020-06-04 16:02] arrudaricardo commented on #550
Can I get assign for this task?

[2020-06-04 22:24] khoded commented on #558
Hey I have thought about implementing this feature, and I think it can be done this way
1. in the cron.js file fetch all tasks where assigned is null, status is open, limit to 5
2. send the task to an async function in mail/task.js
3. fetch all users in the async function in mail/task.js, map the necessary data to mailList and subjectData.
4. in the map function compare task.Labels array and user.

[2020-06-05 09:05] khoded commented on #499
Hi alex would love to be assigned this issue

[2020-06-05 09:08] khoded commented on #559
Hi alex, i believe my solution to issue #558 can help solve this issue would love to be assigned this issue too

[2020-06-05 09:25] alexanmtz commented on #499
Hey @khoded, you're now assigned to this issue 👍

[2020-06-05 09:30] alexanmtz commented on #559
Great @khoded, you're now assigned 👍

[2020-06-05 09:40] alexanmtz commented on #558
Sounds great @khoded 👍

Please join our slack channel or mail me at alexandre@gitpay.me and I can send you the development keys for Sendgrid

[2020-06-05 09:41] khoded commented on #558
Alright

[2020-06-11 09:47] alexanmtz commented on #561
This was solved by the implementation of the approval of a task flow

[2020-06-11 09:47] #561 closed

[2020-06-11 09:48] #564 closed

[2020-06-11 09:53] alexanmtz commented on #534
@sonny-maan, you were unassigned cause we hadn't any response from you

[2020-06-13 12:23] khoded commented on #554
Hi @alexanmtz @Adekoreday I'm currently testing my PR for issue #558  and i noticed the following.
- when an issue from github is created with labels, the labels are only shown directly from the webhook when you call the endpoint of taskFetch.js endpoint i.e fetch a single task
- When you call taskSearch.js i.e fetch all tasks,the labels for each task  aren't fetched  from the webhook and the mode

[2020-06-13 12:37] alexanmtz commented on #554
@khoded how you're saving labels? And have you ran `npm run migrate` and `npm run migrate-test`?

[2020-06-13 13:01] khoded commented on #554
At the moment I only created a task from a real issue on GitHub, I followed the steps but I don't think my labels are saved.

Yes I have ran the scripts npm run migrate and npm run migrate-test.

[2020-06-13 13:06] alexanmtz commented on #554
@khoded I think you need to add manually in this case, cause this labels sync just will work in production, so you can use the models to save sample labels

[2020-06-13 13:06] alexanmtz commented on #554
@khoded and you don't need to add in production test issues to test this.

[2020-06-13 13:20] khoded commented on #554
Alright then.

[2020-06-13 18:34] sep2001aryan commented on #538
hello ... i would like to work on it

[2020-06-13 19:07] alexanmtz commented on #538
Hey @sep2001aryan, this is a really challenging one. You're now assigned and you can start to work on it. Let me know if you have any questions 👍

[2020-06-13 19:09] sep2001aryan commented on #538
yes sure

[2020-06-25 14:04] mthais opened #678 "node update version"
For better functioning, it is necessary to update the version node to the latest version available.

### Why
To avoid future compatibility errors.

### Level
Medium

### Current behavior
Gitpay platform is working with node "8.6.0".

### Expected behavior
For better functioning, it is necessary to update the version node to the latest recommended(v12.18.1) available.

### Useful links
  https://gi

[2020-06-26 03:46] keshavg2 commented on #537
Hi @alexanmtz I'd like to work on this issue?

[2020-06-26 08:25] alexanmtz commented on #537
Hey @keshavg2, great, you're now assigned to this issue 👍

We have a card components for members used in gitpay.me/#/recruitment and you can use the same component

[2020-06-27 04:52] keshavg2 commented on #537
Thanks @alexanmtz

[2020-06-28 19:05] harshlakhanpal commented on #247
Can you please remove me from your mailing list / Github Organization.

Thanks.

On Tue, May 26, 2020 at 2:45 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-06-29 18:40] alexanmtz commented on #247
Hello @harshlakhanpal, you didn't join the organization and I couldn't find you on the list.

[2020-06-29 19:44] basuki57 commented on #247
I want to contribute.

[2020-06-29 19:59] alexanmtz commented on #247
Feel free to send the PR @basuki57 👍

[2020-06-30 08:11] basuki57 commented on #247
@alexanmtz I have updated the readme and created the pull request.

[2020-07-04 06:14] keshavg2 commented on #537
Hi @alexanmtz can You please tell me where I should include in the Top Menu "Team". If you don't understand the question then feel free to ask me.

[2020-07-04 09:59] alexanmtz commented on #537
@keshavg2, for now, it's a route to this team page, and you don't need to include on the menu right now.

[2020-07-05 07:55] EANimesha commented on #655
I am interested

[2020-07-05 10:44] alexanmtz commented on #655
Hello @EANimesha, that would be great! You're now assigned and you can start to work on this issue 👍

[2020-07-05 16:43] EANimesha commented on #655
Is the issue is still there?
When I am checking that was ok.

![Capture-gitpay](https://user-images.githubusercontent.com/37245819/86537400-66986e80-bf0c-11ea-9e0c-e09fe71c0aa0.PNG)

[2020-07-06 13:12] alexanmtz commented on #655
@EANimesha the button text should be always in one line, so the bug happens if we have larger texts. Maybe is a defined width, so we need to fix the wrap line when the text is large

[2020-07-07 19:19] alexanmtz commented on #537
Hey @keshavg2, any progress on this?

[2020-07-09 12:06] keshavg2 commented on #537
Hi @alexanmtz I'm working on it to solve this issue.

[2020-07-09 12:44] alexanmtz opened #683 "Create a report button"
We will add in the task page a new *Report* button in order to notify our team that is a wrong issue or doesn't exist, or even if there's an error.

When a report is sent from the form (as in the screenshot), our notification email (notifications@gitpay.me) should receive an e-mail with the following template:

Subject: We received a new report from an issue imported to Gitpay
[code]

Once approve

[2020-07-09 13:06] alexanmtz opened #684 "Retrieve finished tasks and bounties earned by user"
We have a new profile page for Gitpay and now we need to create a new route that will provide the tasks completed and bounties earned.

1. For tasks completed, you can make a query to check finished tasks with that assigned user
2. For bounties earned, you can check order paid from a given task and the assigned user from that task

### Why
We need to provide info to our users as well start to have

[2020-07-09 13:08] alexanmtz commented on #570
Hello @Yusadolat, some progress on this one?

[2020-07-09 18:57] longj724 commented on #683
I'd be a first time contributor, but could I give this a try?

[2020-07-10 03:51] f3ve commented on #684
Hi! I am a new developer and I'm interested in learning more about open source. I'd like to try and help with this issue!

[2020-07-10 09:06] alexanmtz commented on #684
@f3ve you were assigned here and I sent you the extra keys required to test payments. Please let me know if you have any questions, and run the project following our README.

To receive the bounty associated, please register on https://gitpay.me and show your interest to work on this task (https://gitpay.me/#/task/356) and I will assign you. Just by clicking in *I'm interested* button

<img width=

[2020-07-10 14:25] alexanmtz commented on #683
Hey @longj724, you're now assigned and you can start to work on this issue 👍

Please be aware that we have this issue on Gitpay: https://gitpay.me/#/task/355 with a deadline of 7 days.
And you can show your interest (as the screenshot) there to receive a bounty associated with this issue.
<img width="1400" alt="Screen Shot 2020-07-10 at 10 51 39 AM" src="https://user-images.githubusercontent.com/8

[2020-07-10 16:08] f3ve commented on #684
Thanks!

[2020-07-10 17:37] f3ve commented on #684
Wanted to let you know I set up an account and I have tried saying I'm interested in the issue but It doesn't show me on the list of interested people. Just wanted to make sure it went through properly.

[2020-07-10 19:02] f3ve commented on #684
So I'm not sure how to assign a user to a task. There are no users showing up in the interested tab.

[2020-07-10 19:14] f3ve commented on #684
Switched to chrome works fine now. seems to be an issue with firefox

[2020-07-10 21:09] HusseinKaraki99 commented on #247
Hello

[2020-07-13 09:54] #684 closed

[2020-07-13 17:00] longj724 commented on #683
Can I be sent the SendGrid test keys? Also what would be the best way to go about testing to see if the notifications email has received the issue report - would I have access to an email account to test?

[2020-07-13 17:07] alexanmtz commented on #683
@longj724, I sent the keys for you 👍

And you can test the emails by adding a new constant like `reportEmail` with your email and after all the tests you can send the pull request as *report@gitpay.me*.

[2020-07-15 13:57] longj724 commented on #683
I want to test sending the response email, however there are no users assigned as the author of the 3 tasks added in the db. Is there a way to add users? I also need a userId as the current method of deleting a task involves using the userId and taskId.

[2020-07-15 14:21] alexanmtz commented on #683
@longj724 you can add users by creating new accounts with different emails, and you don't need to have users assigned, cause the response will be sent to the author.

You will probably need to create a private route that receives the userId from the link on the email, but we will need some token to validate, otherwise, any task can be deleted.

[2020-07-16 16:48] longj724 commented on #683
Just cleaning things up and then I will submit a pull request. What do you want the response to send when you approve a deletion? Right now I am just sending sending some text that says if the deletion was successful.

[2020-07-17 01:56] Adekoreday commented on #638
@alexanmtz  will like to go ahead and implement this

[2020-07-19 15:16] jeevansrivastava commented on #530
@alexanmtz i want to work on this. But  i am first time contributor

[2020-07-20 09:14] alexanmtz commented on #530
Hey @jeevansrivastava, that's great, you're now assigned and you can do your first contribution 👍

[2020-07-20 09:19] jeevansrivastava commented on #530
Thanks @alexanmtz , can you briefly explain what content i have to remove . And steps to reproduce.

[2020-07-20 09:25] alexanmtz commented on #530
Great @jeevansrivastava, it's good questions indeed.

We have email notification modules like this one: https://github.com/worknenjoy/gitpay/blob/master/modules/mail/assign.js

And they use locales files: https://github.com/worknenjoy/gitpay/blob/master/locales/en.json

We need to remove all references of the contributor e-mail when we're sending e-mail notifications.

Like this one: https://githu

[2020-07-20 12:02] iamjoross commented on #555
Hello, Im interested to work on this issue!

[2020-07-20 12:14] alexanmtz commented on #555
Hello @iamjoross, that's great, this one is really challenging. How do you think you will be able to notify from Github forked to Gitpay? Let me know if you have any questions.

You're now assigned and you can start to work on this 🙏

[2020-07-20 14:28] alexanmtz commented on #570
@Yusadolat so I will unassign you, cause I didn't get any response from you

[2020-07-20 15:18] iamjoross commented on #555
@alexanmtz I got some few questions on reproducing the issue. Should the users be real accounts?

[2020-07-20 15:21] alexanmtz commented on #555
@iamjoross  locally there's no confirmation for e-mails, so you can create test emails and log in using the credentials you signed up.

[2020-07-20 15:25] alexanmtz commented on #654
Great @MTLChrisLEE, yeah, there are other nonrelated changes, and it seems your code is outdated, and maybe if you do your change from a fresh branch and create the PR?

[2020-07-20 15:30] iamjoross commented on #555
@alexanmtz From what I understand, you fork from github. How can we notify from Github without a physical account in github?

[2020-07-20 15:45] alexanmtz commented on #555
@iamjoross

One solution maybe if we check for assignment the source repo from that issue, and the forks, and check if correspond with some user.

This assignment should have Github account associated with Gitpay, so to check this you should look on `provider` row on the user table.

Once the user assigned has Github and the issue he was assigned have a fork which corresponds to the Github user.

[2020-07-21 02:58] iamjoross commented on #555
@alexanmtz Efficiency wise, webhooks is the way to go. Im already at it.

[2020-07-21 05:47] iamjoross commented on #555
Need advice @alexanmtz . The template for the email's body should be  `The user {{username}} forked your project to start to work on the issue {{title}} - {{url}}.` Being said, is it possible that a user/conrtibuter is working on two tasks for the same repo? If so, it will be hard pointing to which issue the contributor is going to fix for the fork he just did. Any thoughts?

[2020-07-21 09:02] #538 closed

[2020-07-21 09:33] alexanmtz opened #691 "Script to update order entries status"
When we created the pending status in the `Assign` model, the existing Assigns need to be checked to reflect the current status.

Looking at what we have today:
[code]

We have a script file when we can add scripts that can be used to add a new script:
https://github.com/worknenjoy/gitpay/blob/master/scripts.js

We need to query the null entries and update them with the right status, checking if t

[2020-07-21 12:19] alexanmtz commented on #555
@iamjoross good point, this may happen, but for now, let's consider one task at a time.

We could alternatively change to `The user {{username}} forked your project {{repoName}} - {{repoUrl}} with issues imported to Gitpay`

[2020-07-21 15:40] iamjoross commented on #555
@alexanmtz Digging deeper, I have a couple of roadblocks that I have to discuss with.

1. The fork event webhook payload contains the forkee's github username which we can easily map out to the User model that we have. However, I don't know which field from the User model maps out the git provider username (if there is one). Having a field in the User model that maps to the git provider username w

[2020-07-22 12:45] alexanmtz commented on #555
Hey @iamjoross, I think the option 3 would be a good solution, so when a user is assigned, we can have a link on the email body to take him (and he needs to login cause it's a private route) to provide authorization to create a fork on behalf of him and start the project, great catch 👍

I think the way we think initially will generate dependency by using the hooks, so let's change the approach :-)

[2020-07-22 14:05] #683 closed

[2020-07-22 19:06] f3ve commented on #691
Sounds good getting started on this now!

[2020-07-23 08:02] #691 closed

[2020-07-23 09:18] alexanmtz commented on #537
Hello @keshavg2, any update on this? We're looking forward to seeing this in action!

[2020-07-23 21:45] ramonfsk commented on #678
Hi @mthais. Would the addition of "> =" in the node version be sufficient?

[2020-07-24 05:21] f3ve commented on #543
Does this still need to be implemented?

[2020-07-24 07:03] alexanmtz commented on #543
Yeah @f3ve, we implement a part of that at:
https://github.com/worknenjoy/gitpay/blob/master/scripts.js#L19

So we can close this one for now

[2020-07-24 07:03] #543 closed

[2020-07-24 20:04] mthais commented on #678
@alexanmtz Can you help us with this question, please?

[2020-07-28 08:27] alexanmtz commented on #538
@sep2001aryan, thanks for the great contribution.

I just realized that the bottom is missing, could you send a PR with the generic bottom bar?

[2020-07-28 08:35] sep2001aryan commented on #538
Yeah sure . But can you send the design of what bottom look like .... In the design you sent i think there was no bottom 😬

[2020-07-28 09:32] alexanmtz commented on #538
@sep2001aryan it's the same bottom of all pages.  You can see the component here:
https://github.com/worknenjoy/gitpay/blob/master/frontend/src/components/bottom/bottom.js

[2020-07-28 09:33] sep2001aryan commented on #538
Issue will be solved by night 😁

[2020-07-29 17:50] alexanmtz commented on #655
@EANimesha any updates on this?

[2020-07-30 06:47] Shawn-Noruzi commented on #630
@EANimesha  Hi, you're going to need to retain memory of the page section and pass that through the components.

You can create an increment value for the # of times a user clicks the next page button and save that into the state, recall that value when the component re-renders using the consturctor() life cycle method.

I haven't looked into component behavior with regards to data flow after you

[2020-07-30 06:53] Shawn-Noruzi commented on #525
Hey @alexanmtz

I'll work on this, please assign it to me.

[2020-07-30 20:04] #530 closed

[2020-07-30 21:12] alexanmtz commented on #525
Yes @Shawn-Noruzi , you're now assigned 👍

[2020-07-31 02:37] jeevansrivastava commented on #522
@alexanmtz I want work on this.

[2020-08-03 16:52] alexanmtz commented on #565
Hello @spikeboom, can you contact us at hiring@gitpay.me in order to proceed to the interview for the intern position on Gitpay?

[2020-08-03 16:53] alexanmtz commented on #541
Hello @mani-developer, can you contact us at hiring@gitpay.me in order to proceed to the interview for the intern position on Gitpay?

[2020-08-03 16:54] alexanmtz commented on #551
Hello @nguyenquangv97, can you contact us at hiring@gitpay.me in order to proceed with the interview for the intern position on Gitpay?

[2020-08-03 16:55] alexanmtz commented on #510
Hello @azdrenymeri, can you contact us at hiring@gitpay.me in order to proceed with the interview for the intern position on Gitpay?

[2020-08-03 16:55] alexanmtz commented on #514
Hello @Faithfinder, can you contact us at hiring@gitpay.me in order to proceed with the interview for the intern position on Gitpay?

[2020-08-03 17:17] alexanmtz commented on #529
Hello @clarencepenz, can you contact us at hiring@gitpay.me in order to proceed with the interview for the intern position on Gitpay?

[2020-08-03 18:49] clarencepenz commented on #529
Hello Alexandre,

Yes I can. I'll do that shortly.

On Mon, Aug 3, 2020, 6:17 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-08-04 01:39] springsai commented on #541
@alexanmtz  that's good to know.  Sure i will get in touch on the given email address.

[2020-08-04 01:41] mani-developer commented on #541
@alexanmtz  that's good to know.  Sure i will get in touch on the given email address. thank you.

[2020-08-04 23:11] #540 closed

[2020-08-05 09:51] alexanmtz commented on #497
@unnatii you were unassigned to this and we have a possible solution to this

[2020-08-05 14:39] alexanmtz opened #702 "Claim issue"
Any user can import an issue to Gitpay, but this user maybe is not the author. This feature will allow authors to claim for their issues, so he can gain admin privileges to control assignments and payments.

As the screenshot, you should add a claim button, that will open the dialog to claim the issue. If the user is not logged, requires login first. Please check out other examples one the platfor

[2020-08-05 18:36] alexanmtz opened #705 "Define notification messages to support internationalization"
We started in this PR to define messages for notifications:
https://github.com/worknenjoy/gitpay/pull/703/files

We need to continue to define all notifications messages here, in order to generate the translation files.

The steps you need to do to complete this task:
1 - Look for all occurrences in the project of the action function call `addNotification`
2 - Add the object from all occurrences y

[2020-08-06 12:29] #560 closed

[2020-08-06 12:31] alexanmtz commented on #537
Hey @keshavg2 there's no update in 15 days, so I will remove your assignment and leave this issue available again

[2020-08-07 18:40] Uttkarsh-Srivastava commented on #655
@alexanmtz  I would like to work on this if it is available.

[2020-08-08 10:44] alexanmtz commented on #655
Yes please @Uttkarsh-Srivastava, you're now assigned 👍

[2020-08-11 09:07] #705 closed

[2020-08-13 00:13] Shawn-Noruzi commented on #525
Some progress - still has bugs however.
Things I've tried :

1.Having babel build with Ie>=11 in mind through modifying the .babelrc file

2.@babel/preset-env added with babel-core packages
edited .babelrc to include "defaults" range of support for browsers

Ran into build issue stating conflict with babel-core and @babel-core versions
Removed babel-core and replaced with @babel-core v 7.0.0 to re

[2020-08-19 08:27] alexanmtz commented on #525
Thanks @Shawn-Noruzi, so now we have a better view of the complexity to support this

[2020-08-20 09:59] alexanmtz commented on #705
@f3ve hello Freedom, we have this one available that is similar to this one we closed:
https://gitpay.me/#/task/360

Are you interested to solve this issue too?

[2020-08-20 11:13] Yusadolat commented on #570
Hey @alexanmtz Where can I get the Term of service to work with?

[2020-08-27 06:51] clarencepenz commented on #529
Hello Alexandre,

I trust you are well.

Did you get my email regarding the interview?

Looking forward to your reply.

Warm regards,
Clarence Bakosi

On Mon, Aug 3, 2020, 7:48 PM Ogenieni Bakosi <clarencedespenz@gmail.com>
wrote:

[2020-08-29 04:35] Simran-Chaudhary commented on #655
Hey, if it's not yet fixed, I'd like to work on it. Just one question. Should the button width be flexible or we should change the font size for text to fit in one line?

[2020-08-29 04:47] Simran-Chaudhary commented on #534
Hey, I'd like to work on it. Please assign if it's still open

[2020-08-29 06:22] Simran-Chaudhary commented on #653
Hey is this fixed? If not I'd like to work on it.

[2020-08-29 10:54] Simran-Chaudhary commented on #653
Saw it wasn't fixed yet, so raised a pr.
https://github.com/worknenjoy/gitpay/pull/710

[2020-08-29 21:13] alexanmtz commented on #655
Hey @Simran-Chaudhary, thanks for your interest, I will assign to you, and the width should be flexible, following the text size, but as a small button, it keeps a small height

So, happy coding 💻

[2020-08-29 21:15] alexanmtz commented on #534
You're now assigned @Simran-Chaudhary and you can start to work on this 👍

[2020-08-29 21:18] #653 closed

[2020-08-29 21:50] #570 closed

[2020-08-30 10:52] Simran-Chaudhary commented on #534
Thanks. Raised a pr, please review https://github.com/worknenjoy/gitpay/pull/712

[2020-08-31 22:05] #702 closed

[2020-09-04 11:37] alexanmtz commented on #529
@clarencepenz you will receive a message calling for an interview 👍

[2020-09-04 11:40] alexanmtz commented on #638
hey @Adekoreday you want to continue to work on this? Do you want to be assigned?

[2020-09-04 11:41] alexanmtz commented on #247
Hello @HusseinKaraki99, you want to be assigned and send a PR for this?

[2020-09-04 11:47] Adekoreday commented on #638
i'll continue work on this was waiting on your approval

[2020-09-04 11:55] alexanmtz commented on #638
Great @Adekoreday , you're now assigned 👍

[2020-09-05 14:03] #534 closed

[2020-09-17 11:29] salonigoyal2309 commented on #537
hey , i would love to work on this issue :)

[2020-09-17 21:27] alexanmtz commented on #537
Hey @salonigoyal2309, please! You are now assigned and you can start to work on it.

Please follow the discussions here that we have, and that this component already exists in the team section.

So this issue is to make this component more generic and use for a Team page and keep it on the Recruitment page
<img width="979" alt="Screen Shot 2020-09-17 at 11 26 42 PM" src="https://user-images.github

[2020-09-18 16:56] salonigoyal2309 commented on #537
hey @alexanmtz  i was working on this issue and i was wondering what library i should use for sending emails ? I am little new to open source and your suggestion would help me a lot.

[2020-09-18 17:04] alexanmtz commented on #537
Hello @salonigoyal2309, you will be able to see in the terminal of the node server the output of the email when is sent.

Let me know if you have any other questions, and happy coding 💻

[2020-09-18 19:36] alexanmtz commented on #655
Are still looking into this @Simran-Chaudhary ?

[2020-09-18 19:37] Simran-Chaudhary commented on #655
@alexanmtz I'm not able to reproduce the same. Could you help me with that?

[2020-09-18 19:42] alexanmtz commented on #655
@Simran-Chaudhary can you see the "Make an offer" wrapping in two lines? It should be one line, so we need to make the buttons adjustable.

[2020-09-22 19:43] alexanmtz commented on #519
Fixed 👍

[2020-09-22 19:43] #519 closed

[2020-09-22 19:44] alexanmtz commented on #518
No activity to this one, so you will be unassigned @igorjm

[2020-09-23 02:08] adelmojnr commented on #518
I'm interested in this task.

[2020-09-23 02:15] adelmojnr commented on #518
I'm interested in this task.

[2020-09-23 09:47] alexanmtz commented on #518
You're now assigned @adelmojnr 👍

[2020-09-23 11:00] #537 closed

[2020-09-24 18:47] alexanmtz commented on #655
You will complete this one @Simran-Chaudhary ?

Maybe there's some fixed width or some wrap property making the button break the line.

[2020-10-01 15:36] Gabrielpatrola commented on #497
Hello, I will do it
:D

[2020-10-01 19:16] alexanmtz commented on #518
@adelmojnr are you working on this?

[2020-10-01 19:21] alexanmtz commented on #497
@Gabrielpatrola this was partially solved to avoid new null users adding orders: #701

Now the issue is existing orders, so to test you will need to create an order and with a null user, cause now is possible to create only if is logged, and the existing ones without any user should display 'user not registered'

[2020-10-05 14:04] clarencepenz commented on #529
Hello Alexandre,

I trust you are well.

I haven't heard from you since after the interview.

Looking forward to your reply.

Warm regards,
Clarence Bakosi

On Fri, Sep 4, 2020, 12:37 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-10-05 14:13] alexanmtz commented on #529
Hey @clarencepenz, I'm good, I hope you're well too. We will move ahead this month and we will let you know the response.

[2020-10-05 14:43] clarencepenz commented on #529
Hello Alexandre,

I'm good too. Thanks for replying. I look forward to a positive response.

Warm regards,
Clarence Bakosi

On Mon, Oct 5, 2020, 3:13 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-10-07 19:08] #532 closed

[2020-10-23 23:38] djl218 commented on #655
Can I take a shot at this?

[2020-10-24 01:26] djl218 commented on #655
Woohoo! I got it!

https://prnt.sc/v5pc24

[2020-10-24 09:35] alexanmtz commented on #655
Great @djl218 🎉 , please send a PR so we can proceed with your solution 👍

[2020-10-24 10:35] djl218 commented on #655
I thought that I did submit a PR.  Did I do it right?

[2020-10-25 12:27] #655 closed

[2020-10-25 12:33] alexanmtz commented on #497
We can close this since now it is not possible to create an order without an account created

[2020-10-25 12:33] #497 closed

[2020-10-29 09:50] #518 closed

[2020-10-30 19:45] alexanmtz commented on #654
Fixed
![Screen Shot 2020-10-30 at 8 44 55 PM](https://user-images.githubusercontent.com/88840/97750310-d2709980-1af0-11eb-8fa0-cd698445c196.png)

[2020-10-30 19:45] #654 closed

[2020-11-03 19:11] clarencepenz commented on #529
Hello Alexandre,

I trust you're well. I'm reaching to inform you that I can now take on the
6hrs per day instead of the 4hrs per day I originally opted for. I look
forward to a consideration and a positive response.

Warm regards,
Clarence Bakosi

On Mon, Oct 5, 2020, 3:43 PM Ogenieni Bakosi <clarencedespenz@gmail.com>
wrote:

[2020-11-19 21:16] qmohitsingh commented on #247
Hi, I would love to contribute. Thanks

[2020-11-27 15:05] drzraf opened #744 "How to add labels?"
How are labels working

### Why
Don't understand the UI

### Level
Level required to conclude this issue

### Current behavior
Label buttons not present. No where to click or fill text. No explanations.

### Expected behavior
I should be able to add labels

### Screenshot attached
![Screenshot from 2020-11-27 12-04-21](https://user-images.githubusercontent.com/1169926/100462220-b4269b00-30a8-11eb-

[2020-11-27 15:12] drzraf opened #745 "Public task list by sponsoring organization"
As an organization I'd like to provide a public list of issue I'm interested in.

### Why
So that external collaborators easily knows which tasks apply for me.

### Level
?

### Current behavior
I can't filter the list of task by "supporting organization" neither can I see the task an organization support or created.

### Expected behavior
A visitor to https://gitpay.me/MyOrganization/profile/task

[2020-11-30 20:06] alexanmtz commented on #247
Hey @qmohitsingh, just send a Pull Request

[2020-12-01 17:57] alexanmtz commented on #744
@drzraf Thanks for open this issue. The labels came from the labels set on the Github original issue. But we should be clear, so we will change the text to make it clear. Thanks for your feedback!

[2020-12-01 18:02] alexanmtz commented on #744
@drzraf, you can contribute with the text strings on:
https://crowdin.com/project/gitpay

[2020-12-01 18:31] #744 closed

[2020-12-02 18:28] alexanmtz opened #747 "Error to import issue from Github"
We're having the following issue to import a new Github issue from Gitpay

[code]

### Level
Beginner

### Current behavior
- We have an error to create some issues like in the example above

### Expected behavior
- It should be possible to create an issue with the valid URL

### What you will need to complete this issue
You can run the local environment easy, just create an issue with the URL abo

[2020-12-08 20:30] alexanmtz commented on #747
I couldn't reproduce this so let's close

[2020-12-08 20:30] #747 closed

[2020-12-08 20:33] alexanmtz opened #749 "Bug when switching the user language"
Our language switching from English to Portuguese is not working properly

### Current behavior
Not switching the language

### Expected behavior
Switch the language to Portuguese

### Screenshot attached
![FireShot Capture 032 - Gitpay - Bounties for git issues solved - gitpay me](https://user-images.githubusercontent.com/88840/101538050-d5d32c80-399c-11eb-83fe-256391637926.png)

[2020-12-09 17:44] #749 closed

[2020-12-10 16:03] alexanmtz commented on #745
Thanks, @drzraf, for reporting this, and we will address this issue for our next release 👍

[2021-03-02 21:03] alexanmtz commented on #745
@drzraf we implemented an area for users to see the tasks created, the tasks assigned to them, or the one he's applied to work.

 We have now a way to see your organizations with the issues, and a project page available.

 Thanks for all your feedback 🙏

<img width="1341" alt="Screen Shot 2021-03-02 at 9 48 18 PM" src="https://user-images.githubusercontent.com/88840/109713194-34c1cf80-7ba1-11eb-83

[2021-03-03 00:26] drzraf commented on #745
![Screenshot from 2021-03-02 21-25-38](https://user-images.githubusercontent.com/1169926/109733426-d810e580-7b9d-11eb-8289-dfd996d2e539.png)
![Screenshot from 2021-03-02 21-25-00](https://user-images.githubusercontent.com/1169926/109733433-d9421280-7b9d-11eb-9366-388ec7efebe3.png)

... even though I imported this issue using this account.

[2021-03-03 09:11] alexanmtz commented on #745
@drzraf thanks for letting me know, and we will work on that, probably don't have your role set (you can set multiples):
https://gitpay.me/#/profile/roles

Set your role and will have the access to different areas based on this role.

[2021-03-04 19:03] drzraf commented on #745
Great, it works ! But I still miss the "public page" concept.

[2021-03-11 22:41] alexanmtz commented on #508
Fixed

[2021-03-11 22:41] #508 closed

[2021-04-07 14:41] alexanmtz commented on #523
Not relevant anymore as we redesigned this page

[2021-04-07 14:41] #523 closed

[2021-04-07 17:54] #569 closed

[2021-04-08 16:17] alexanmtz opened #798 "Friendly url for issues, projects and organizations"
We need to support a friendly URL for the task page, project, and organization. Keep in mind that the existing URL's should continue to work.

### Why
We want a URL that helps us to identify the issues, projects, and organization

### Level
Beginner

### Current behavior
Currently, the URL formats follow the path, where the number is the id of that entity (task, project, or organization), given an

[2021-04-08 16:36] alexanmtz opened #799 "Sync closed issue on Github"
When the task page is called and the issue is fetched from Github, we need to sync the status, so when it's closed on Github, it will change to close the issue on Gitpay.

Currently, we have a status attribute on the task, that is taken from Github on Creation.

### Why
When an issue is closed on Github, it should be closed on Gitpay, so we will know that is not open anymore for development

### L

[2021-04-08 16:48] alexanmtz commented on #644
The filter was removed so this can be closed

[2021-04-08 16:48] #644 closed

[2021-04-08 16:49] alexanmtz commented on #549
No updated from you @adamash99 so you were unassigned. Let me know if you want to work on this to be assigned again 🙏

[2021-04-08 17:04] alexanmtz opened #800 "Overlap chip on task list table for project column"
The project chip is overlapping the column when listing issues on the task list for the main list, projects, and organizations.

### Level
Beginner

### Current behavior
The current chip on the project column overlaps if it exceeds the limits

### Expected behavior
The column should expand with the chip text, without overlap

### Useful links
  - https://example.com

### Screenshot attached
![imag

[2021-04-11 12:24] alexanmtz opened #801 "Sendo solution for an issue"
This is a new feature that will implement a flow to contributors who want to send manually a solution for an issue through a pull request created on Github.

We will verify and interact with the Github API to get information about the issue and pull request state to allow users to receive a payment after they send a solution.

I think for this case we will need a `TaskSolution` table that will hol

[2021-04-11 13:44] alexanmtz opened #802 "Link to explore issues not refreshing the destination page"
For some annoying reason, the React Router is not opening the destination link, causing the need to call a reload in order to load the new page as we can see on:
https://github.com/worknenjoy/gitpay/blob/master/frontend/src/components/topbar/topbar.js#L287

### Level
Beginner

### Current behavior
When clicking in Explore in our topbar on the home page, the page needs to refresh to load the destin

[2021-04-11 13:58] alexanmtz opened #803 "Add comment on Github with our Gitpay bot for an issue paid on Paypal"
We want to add a comment on the issue from Github imported to Gitpay when a Paypal payment is triggered

### Why
This will give more flexibility to the platform, and users can see on the issue the link to the related payments on Gitpay

### Level
Beginner

### Current behavior
When a Paypal payment is done, the user receives a notification

### Expected behavior
When a Paypal payment is done, the

[2021-04-13 15:28] ruben-montes commented on #802
Can I take a look at this one?

[2021-04-13 15:30] alexanmtz commented on #802
Yes @ruben-montes 👍

[2021-04-14 10:20] ruben-montes commented on #802
Thanks :)

[2021-04-15 06:43] nickel-yadav commented on #803
Hello @alexanmtz, I'd like to work on this issue if it hasn't been assigned to anyone yet? Also, is mentored guidance available for this issue, it's my first time contributing to open source and I could use all the help I can get.

[2021-04-16 11:26] alexanmtz commented on #803
Hello @Nikhil this one seems assigned on [GitPay](https://gitpay.me/#/task/451), but there's more available https://gitpay.me/#/organizations/1/projects/4

[2021-04-17 19:30] aman0408 commented on #799
Can I give this a try?

[2021-04-17 20:01] aman0408 commented on #798
Can I take up this issue?

[2021-04-19 09:16] alexanmtz commented on #799
Hey @aman0408 , I assigned you to another one, this one is assigned on Gitpay already 👍

[2021-04-19 14:04] #802 closed

[2021-04-22 18:43] #799 closed

[2021-04-22 22:38] VictorAlessander commented on #801
@alexanmtz Hi. I would like to work on this issue. Could you assign me?

[2021-04-23 08:06] alexanmtz commented on #801
Assigned 👍

[2021-04-23 08:07] alexanmtz commented on #798
Hey @aman0408 , is assigned to you already, any progress?

[2021-04-23 20:54] aman0408 commented on #798
I was busy during the week. Completed the setup. Working on the task now. Do you need me to just accept urls with slugs in them? If so, at which point is the slug generation and usage expected? Since the id is already present in the URL, we could just do [https://gitpay.me/#/task/360/claim-issue-random-string-abcd](https://gitpay.me/#/task/360/claim-issue-random-string-abcd) and it will still work

[2021-04-24 17:17] alexanmtz commented on #798
Yes, it just adds the slugs to be more friendly. I would recommend having a column @aman0408 with the slug for tasks, projects, and organizations.

Yes, the URL https://gitpay.me/#/task/360/claim-issue-random-string-abcd would work for tasks. You still get the task by id and generate urls for tasks based on id and slug.

[2021-04-25 22:09] roberttorres commented on #800
Hi @alexanmtz could you assign me this issue?

[2021-04-26 08:44] alexanmtz commented on #800
Yes @roberttorres , absolutely! 🙏

[2021-04-27 03:37] aman0408 commented on #798
Got it. I will send the PR by tonight

[2021-05-09 18:30] bhargavkumar7031 commented on #509
Hi @alexanmtz, Can I work on this?

[2021-05-09 21:32] andreltaraujo commented on #798
Hello alexanmtz, was this task acomplished?

[2021-05-10 09:57] alexanmtz commented on #509
Yes, definetely, @bhargavkumar7031, but please make sure you will complete
it, because we need this feature and it is a little bit late.

On Sun, 9 May 2021 at 20:30, bhargavkumar7031 ***@***.***>
wrote:

--
--
Alexandre Magno
*Software Engineer*
https://alexandremagno.net/
+45 26479776
@alexanmtz

[2021-05-10 20:17] alexanmtz commented on #798
Hey @andreltaraujo, no, we need this, it's already overdue, do you want to solve this one?

[2021-05-10 22:37] andreltaraujo commented on #798
Olá Alexandre.... eu poderia olhar o projeto para ter certeza que consigo fazer? O react já está integrado, seria somente integrar a slugfy?

[2021-05-10 23:04] alexanmtz commented on #798
O slugify e as rotas, você pode começar rodando o projeto seguindo a
documentação

On Tue, 11 May 2021 at 00.37, André Luís Teixeira de Araujo <
***@***.***> wrote:

--
--
Alexandre Magno
*Software Engineer*
https://alexandremagno.net/
+45 26479776
@alexanmtz

[2021-05-11 10:20] alexanmtz commented on #798
@andreltaraujo esta parte aqui controla as rotas, elas iriam para os mesmos componentes, só seria uma outra forma de carregar a url, e por enquanto, essa url não será passada em lugar nenhum, é só para ter uma url mais amigável e com o nome dos projetos e organizações, além de também ajudar no SEO.

Basta seguir o [README](https://github.com/worknenjoy/gitpay/blob/master/README.md)

Qualquer dúvid

[2021-05-11 10:48] andreltaraujo commented on #798
Opa! Bom dia.
Ontem eu consegui rodar o gitpay localmente, o frontend no caso, o backend ainda não. Assim que rodar certinho aqui eu vou fazer beleza?
Obrigado.

[2021-05-11 13:47] alexanmtz commented on #798
Ótimo @andreltaraujo 🎉 , associei a tarefa a você 👍

[2021-05-14 08:31] #801 closed

[2021-05-17 09:28] #803 closed

[2021-05-17 18:36] alexanmtz commented on #247
Hey everyone, now that you deliver your first pull request, it's time for a new challenge 🥇

We have a simple task on Gitpay for $20 for the ones who want to get started:
https://gitpay.me/#/task/447

A simple bug to be solved will help you go into all the processes to deliver a task with Gitpay.

You can run the project following our README
https://github.com/worknenjoy/gitpay

Apply now to start

[2021-05-20 16:18] #798 closed

[2021-05-22 20:43] alexanmtz opened #828 "Coupon system to apply discounts to payments with credit card"
We will implement a coupon system. When the user makes a payment and when he tries to create an order with payments with a credit card.

This coupon system will require a new table (check our README to see how to create a new migration) that will store all the information and the discount it needs to apply.

If the discount is 100%, we will create an order on Gitpay (we have an order table) but no

[2021-05-22 22:05] alexanmtz opened #829 "Send notification comment with our Gitpaybot for users who needs to claim issue"
We need to make our bot help contributors who need to claim a bounty.

This user may have an account on Gitpay or not.

We will check this weekly in our cronjobs:
https://github.com/worknenjoy/gitpay/blob/master/cron.js

This Cron will query all tasks with bounties with status closed not paid, and it will comment on the issue with the following message:

[code]

### Why
A user can solve an issue i

[2021-05-25 09:16] #800 closed

[2021-05-25 13:55] VictorAlessander commented on #828
Hey! Could you assign this issue to me?

[2021-05-25 14:53] alexanmtz commented on #828
Hello @VictorAlessander , assigned 👍

Check on [Gitpay](https://gitpay.me) too:
https://gitpay.me/#/task/465

[2021-06-09 09:56] #828 closed

[2021-06-23 15:14] drzraf commented on #745
Is _public profile page_ showing the task list still somehow planned?

[2021-06-24 13:52] alexanmtz commented on #745
Hey @drzraf , this is our priority now, and I would love to hear your feedback when it's done.

As I understood from your feedback, we should provide a list of the tasks you created, the ones you sponsored, your organizations, projects, as tasks marked as "favorite" (as a wishlist), so this page is public and other contributors can see and apply to your public issues, is that right?

So in your ca

[2021-07-02 21:51] mthais opened #835 "Issue project"
Description

### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### Useful links
  - Github API: https://docs.github.com/en/rest
  - Material-UI: https://material-ui.com/

### Screenshot attached
Screenshot
Description

### How to reproduce the user scenario
- Scenario 1
   - Run

[2021-07-04 14:29] alexanmtz opened #836 "Legacy payments deprecated"
Follow the guidelines for Legacy payments

### Why
[code]

[2021-07-04 14:50] #836 closed

[2021-07-04 15:26] mthais commented on #835
Test issue

[2021-07-04 15:26] #835 closed

[2021-07-05 10:07] alexanmtz opened #839 "New login page"
We will have a new login page, and you should create a new route on the front-end for the login process, replacing this one:
https://gitpay.me/#/login

This will replace our sign-in / sign-up process.

### Why
This is the beginning of our new redesign, so we will offer a better experience for our user onboarding. We need to add our terms of service when creating an account.

### Level
Medium

###

[2021-07-05 12:15] alexanmtz opened #840 "Direct payments support for Brazilian accounts"
From Stripe:
"Transfers cannot be sent to accounts located in Brazil because it's outside of your platform's region. Create a destination or direct payment in order to add funds to this account's balance."

### Why
We have many active accounts in Brazil that will not be able to receive payments for bounties if is not direct payments

### Level
Medium

### Current behavior
When a payment is made fo

[2021-07-05 12:30] alexanmtz opened #841 "Add Github comment when an issue is added on Gitpay"
Add a comment on Github using our bot when an issue is imported to Gitpay from Github.

This is the content:
[code]
### Why
We will let Github users know that this given issue was imported to Gitpay.

### Level
Beginner

### Current behavior
When an issue is added, nothing happens

### Expected behavior
When an issue is added, our GithubBot should comment on that issue

### Useful links
  - Github

[2021-07-06 10:59] alexanmtz opened #842 "Run project on Linux machine"
We're having issues with authentication on Linux machines. We should be able to run the server and the docker on Linux

### Why
Most of our developers are trying to run on Linux and they're having issues

### Level
Beginner

### Current behavior
The project already work on Linux with no issues, but when we try to create an account, we have an issue with the redirect with token

### Expected behavi

[2021-07-06 11:05] alexanmtz commented on #490
To be solved with #842

[2021-07-06 11:05] #490 closed

[2021-07-09 09:37] MikeyJL commented on #842
I can take a look at this. My system is running Ubuntu 20.04.

[2021-07-09 10:02] alexanmtz commented on #842
Hey, @MikeyJL we have an open pull request #844 from @adelmojnr, you want to maybe check out his branch and test?

Or you can suggest a solution and we can work together on this.

I think he sent a practical solution, but maybe we can improve it to have a better way to run on Linux without an extra file as he suggested. Please take a look and let me know what do you think

[2021-07-09 13:13] MikeyJL commented on #842
Sure, looked at it already and it's good. I personally can't think of anything else but will drop it here if anything comes to mind.

[2021-07-09 14:42] VictorAlessander commented on #840
Hi. Could you assign me?

[2021-07-10 11:37] alexanmtz commented on #840
Yes @VictorAlessander

[2021-07-20 13:02] #842 closed

[2021-07-20 15:27] #841 closed

[2021-07-21 02:56] leonardohofling commented on #829
@alexanmtz Hey! About the first line of the message "hello {{github_user}},":
So, if the user is not registered on gitpay and not assigned, I can't get this information.

[2021-07-21 12:06] alexanmtz commented on #829
@leonardohofling , yes, you will show only in that case 👍

[2021-07-22 15:26] alexanmtz commented on #840
As discussed with @VictorAlessander, there's a platform limitation on Stripe to send transfers to Brazilian connected accounts. So, in this case we should update this task to:

### Recognize payments done on Stripe to platform directly

You need to be able in our webhooks routes to recognize this event:
[code]

So, when receiving webhooks the event should create a paid order to that issue for this

[2021-07-22 18:17] #829 closed

[2021-07-22 18:32] alexanmtz opened #848 "Bug on send solution screen"
There's a bug when we try to access "Send solution tab" after we import an issue.

### Screenshot attached
![bug - solve issue](https://user-images.githubusercontent.com/88840/126690722-fee21b80-68e9-4479-975b-11adc463a2c1.png)

[2021-07-23 14:33] alexanmtz commented on #745
Here's a proposal for an initial public user page:
![Web 1920 – 1](https://user-images.githubusercontent.com/88840/126797546-607e7e6a-45f3-4e99-a1cb-baec97d626f0.png)

[2021-07-26 17:05] #484 closed

[2021-07-30 23:59] drzraf commented on #745
Yes, the idea was indeed to provide a public page `where our "most-wanted" bugs could, more or less publicly, appear. We would have then directed people to that page.`.
So yes, this appears to fullfil it pretty nicely.

[2021-08-07 13:14] Artturin opened #850 "Can't add bank account"
### Current behavior
Can't add my bank account therefore i cannot receive the bounty for https://gitpay.me/#/task/524

"Send the solution" doesn't work either

i added my paypal account but i do not know if that is enough

### Screenshot attached
![image](https://user-images.githubusercontent.com/56650223/128601333-dba4cca6-8b0f-4ed1-a1d1-8d902e9dffa9.png)

![image](https://user-images.githubuserc

[2021-08-07 14:56] alexanmtz commented on #850
Hello @Artturin, thanks for reporting this; I found that Stripe, the payment platform we use to make the payments, had deprecated a capability recently, so that's why it was an error to create your account.

I just merged #851, and it's already deployed, so can you try again and let me know if it works?

[2021-08-07 15:19] Artturin commented on #850
It works now, however

i dont know what id number you're asking and there's no country field

![image](https://user-images.githubusercontent.com/56650223/128604694-e30e648d-741d-4991-97ed-affce8107fb4.png)

Is it enough to provide an IBAN in the Account number field? i also have a SWIFT/BIC if needed
![image](https://user-images.githubusercontent.com/56650223/128604700-fb294e33-fa34-4a63-ad35-05c3

[2021-08-07 15:27] alexanmtz commented on #850
Hello @Artturin thanks for your feedback 👍

In your case, in Finland, the number is the _Personal identity code (HETU)_

For your bank, please provide your IBAN in both fields.

[2021-08-07 15:52] Artturin commented on #850
according to https://stripe.com/docs/connect/required-verification-information#FI-full-individual--card_payments|transfers

you don't need to collect `individual.personal_id_number`
Neither do you need to collect website for individuals

Also, there is no Email or phone number field
![screenshot_2021-08-07_18-07-00_075730430](https://user-images.githubusercontent.com/56650223/128605897-4f9feaaa-06

[2021-08-07 16:52] Artturin commented on #850
Solved via email

[2021-08-07 16:52] #850 closed

[2021-08-07 18:01] alexanmtz opened #852 "Stripe new required fields to update account"
Update our account activation fields to fit based on country requirements.

As in this Stripe reference:
https://stripe.com/docs/connect/required-verification-information#BR-full-individual--card_payments|transfers

We will need to generate the form based on the requirements.

For all countries, now the phone number is required, so it should be added.

In the bank step, we should check the require

[2021-08-20 15:58] Sockalingam29 commented on #839
Can you send the background image?

[2021-08-24 18:20] alexanmtz commented on #839
Here is the background image @Sockalingam29, let me know if you have any questions in how to proceed 👍

![cover](https://user-images.githubusercontent.com/88840/130669148-6f7e4471-7f0b-437f-8620-efc7d7bd5b19.jpeg)

[2021-08-25 04:53] Sockalingam29 commented on #839
Thanks 👍

On Tue, 24 Aug 2021, 11:50 pm Alexandre Magno, ***@***.***>
wrote:

[2021-09-09 14:29] alexanmtz opened #860 "User list"
Add a tab with the list of users and their profiles

### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### Useful links
  - Github API: https://docs.github.com/en/rest
  - Material-UI: https://material-ui.com/

### Screenshot attached
Screenshot
Description

### How to reproduce

[2021-09-16 09:34] alexanmtz commented on #745
@drzraf we have now the profile page, just click on your account as on the screenshot:
![pageshot of 'Gitpay Stripe Payments - Google Sheets' @ 2021-09-09-2032'08](https://user-images.githubusercontent.com/88840/133588133-d6dbfd93-68fe-4a89-80b9-9f57781397c9.png)

Here is my profile: https://gitpay.me/#/users/1-alexanmtz/

We will implement later the "wishlist" on a tab on that page, so you can ad

[2021-09-23 10:43] Artturin commented on #852
This is important/critical for eu since IBAN is used here

[2021-11-03 12:46] #848 closed

[2021-11-05 12:32] #745 closed

[2021-11-05 12:35] #840 closed

[2021-11-16 10:21] alexanmtz opened #871 "GitpayBot is not posting issues on creation when a payment is made"
The GitpayBot is not commenting on the issue when we create and make a payment of a bounty for an issue.

Investigate the cause and a find solution to new issues created and a script to sync existing posts.

Our current way to do it is by using a Bot user, and our account was flagged.

Look for another way of doing it.

You will need to create a flag on the model like `synced: true` on the task to

[2021-11-16 11:25] nerd36 opened #872 "change username"
Description

### Why
Removing my real name

### Expected behavior
Allow changing username
https://gitpay.me/#/organizations/105/projects/176

### Tips
- Github itself allow it

[2021-11-16 11:29] #860 closed

[2021-11-17 03:35] VictorAlessander commented on #871
Hey, could you assign this issue to me?

[2022-03-18 11:54] alexanmtz opened #886 "Update issue imported from Gitpay after receive an invoice paid webhook"
When a webhook send to update payment or invoice, we should put into the Gitpay flow:

- Send notifications
- Update Payment
- Display on the issue page
-  Be able to send transfers

### Webhook sent

[code]

### Why
We sometimes do payments from external sources, mainly using Stripe invoices from clients
We need to recognize this event to get the payment part of the test already charged for a tas

[2022-03-18 15:25] GitpayPop commented on #886
Gitpay is an Open Source platform to reward contributors to get things done 💝

[About Gitpay platform](https://gitpay.me).

For portuguese, you can [access the portuguese version](https://github.com/worknenjoy/gitpay-github-app/blob/master/first-comment.pt-br.md)

### 📋 Step by Step

#### If you are the task owner who created this issue
- [x] 🔔 ***Issue open*** an issue was created
- [x] 👌 **Issue

[2022-03-18 15:27] alexanmtz commented on #871
Changing the Bot account seems to work for now so we will close

[2022-03-18 15:27] #871 closed

[2022-03-26 15:44] vczb opened #887 "Add language to issue on explore"
Description

### Why
I like to know what projects use React stack, so i propose its be possible add tags or language to set additional info.

![image](https://user-images.githubusercontent.com/51221635/160246636-f4724e0f-247d-41db-8d71-98a6be797898.png)

Maybe can auto-import from the git code language or topics

examples:

![image](https://user-images.githubusercontent.com/51221635/160246896-5b29

[2022-03-26 15:53] vczb opened #888 "Apply to solve - change input to textarea"
Description

### Why
I can't  write a good explanation to this `Tell about your interest in solve this task and any plan in mind` question only with 120 characters, i suggest change it to text area and add more characters.

### Level
Ease

### Current behavior
Write all in only 120

### Expected behavior
have more comfortable space and chars to say what is in or mind

### Screenshot attached

**be

[2022-04-04 12:23] alexanmtz commented on #886
@VictorAlessander

Here is the right webhook received:

[code]

we have the task_id and the order id, as payment id to update the order on Gitpay with these data

Please make the automated webhook test based on this webhook to update the payment

The event is `invoice.payment_succeeded`

[2022-04-04 16:15] alexanmtz commented on #888
Hello, @vczb very good suggestion for improvement, do you have the interest to work on this issue? I could add on Gitpay and we would offer a bounty to implement your solution.

[2022-04-05 02:22] vczb commented on #888
Great, i like to work on it

[2022-04-05 10:04] GitpayPop commented on #888
This issue was added to Gitpay, check the task [https://gitpay.me/#/task/617](https://gitpay.me/#/task/617) 💝

[About Gitpay platform](https://gitpay.me).

For portuguese, you can [access the portuguese version](https://github.com/worknenjoy/gitpay-github-app/blob/master/first-comment.pt-br.md)

### 📋 Step by Step

#### If you are the task owner who created this issue
- [x] 🔔 ***Issue open*** an i

[2022-04-05 10:06] alexanmtz commented on #888
Hey @vczb , this issue was imported to Gitpay https://gitpay.me/#/task/617

So just send an offer or I can suggest, maybe $20?

[2022-04-05 10:22] alexanmtz commented on #886
UPDATE: @VictorAlessander I've changed the object from my last comment to the right one as you mentioned before

[2022-04-05 12:16] vczb commented on #888
USD$ 20 it's fine, i will propose it offer

[2022-04-13 10:11] smrutiparida commented on #852
Hi. I am interested to take up the work. Is this still open for bounty ? Before doing that, I wanted to check on how the bounty works ? What is the bounty amount, how shall you pay for the same and how to ensure that payment shall happen once work is completed .

[2022-04-17 01:37] vczb commented on #888
hello @alexanmtz it's able to review in PR #893

[2022-04-25 09:52] #888 closed

[2022-04-25 09:56] alexanmtz commented on #852
@smrutiparida you can make an offer for the bounty amount, here's the link:
https://gitpay.me/#/task/619

Once the work is completed, you can request the payment when the PR is merged, and the platform will check the status and send the money

Once I accept your offer I can pay and the payment is on Gitpay to be transferred to you.

Let me know if you have any question

[2022-04-25 13:45] alexanmtz opened #894 "Can't make payments from coupons"
When we try to pay with payments from coupons, this is the result on the server:

[code]

[2022-04-26 21:42] VictorAlessander commented on #894
It seems that if the coupon is for 100%, the amount will be zero and an amount equal to zero will cause this error.

I'll dig into it.

[2022-04-27 03:27] VictorAlessander commented on #894
When the coupon discount is calculated based on the payment value it could remain to be paid at a value greater than zero but less than one (eg.: 0.4351), so, when it's going to calculate the rounded final amount using the function `calFinalPrice`, the value returned is zero.

Function `calcFinalPrice` that is defined on Plan's model:
![image](https://user-images.githubusercontent.com/21283066/165

[2022-05-02 09:49] alexanmtz commented on #894
@VictorAlessander I think the second option sounds better, but let's be clear how this will work.

But we need to pay attention that when we apply the discount and is 100%, the order value is still the original amount, and when we transfer the values it will should pay the amount without the coupon to the assigned user, and when this happen it will use the platform balance, so in this case is like

[2022-05-03 01:17] VictorAlessander commented on #894
@alexanmtz

Yeah, I think that this flow will remain, this logic is referred to the payment to be made by the funding user that's the flow is going to create a charge to do it.

So I'm going to proceed with option two and we can validate on a sandbox environment if we gonna have any unexpected behavior.

[2022-05-17 18:58] VictorAlessander commented on #894
Ok, could you give me some info?

eg.: payment value, coupon percentage discount

[2022-05-30 14:45] alexanmtz commented on #894
@VictorAlessander it seems to work now with a new test, check your notifications and let me know it works 👍

[2022-05-30 14:45] #894 closed

[2022-06-10 10:32] alexanmtz opened #899 "Change conditions to validate issue as close when user claims a bounty"
When a user finished the PR and it is merged and the issue is closed, he can claim the bounty on Gitpay.

We need to make a better check to validate that the issue is closed

First, just by verifying that the issue on Gitpay is closed, it should be closed on Github. Add this verification to flag issue closed on Github

You should add the condition:
[code]

And when a new Solution is created, if th

[2022-11-01 11:33] alexanmtz opened #913 "Make a payment by invoice outside the platform be listed and succeeded"
When an order is created as a 'invoice-item', list on the platform and set to succeeded and paid, then we can process and the developer can claim

### Current behavior
When an invoice-item is created as an order on Gitpay based on Stripe Webhooks, the order when is paid, nothing happens and we can finalize the payment workflow

### Expected behavior
use the webhook to update the order status when

[2022-11-08 17:32] alexanmtz opened #915 "Update Slack Channel Link"
We have a new slack channel and we need to update in the platform

This is the new invite link: https://join.slack.com/t/gitpay-workspace/shared_invite/zt-1j8yyotnp-EbA3OSuL7cJkZL_CgBW37g

1 - It should be added to our link in the platform as below:
![pageshot of 'Gitpay - Bounties for git issues solved' @ 2022-11-08-1429'44](https://user-images.githubusercontent.com/88840/200634771-1b59c11f-c508-

[2022-11-22 21:11] alexanmtz commented on #678
@ramonfsk it needs to define a version to avoid compatibility errors and automatic updates, because a update in node version needs to be tested

[2022-11-22 21:12] alexanmtz commented on #678
@mthais now we need to update to 16.0 to get the latest updates

[2022-11-22 21:12] alexanmtz commented on #678
@RafaelQuintanilha18 I assigned this one to you

[2022-11-22 23:36] RafaelQuintanilha18 opened #921 "[BUG - Import Issue] Image not displaying correctly in the description field"
### Description
When importing an issue/task, if the issue description contains a big image like a full screenshot, it displays 100% of the img size breaking the interface. Check the screenshots below.

### Why
To fix a bug and improve our user experience.

### Level
Medium

### Current behavior
Displaying the image at its original size.

### Expected behavior
Resizing the image to fit the descrip