[2017-04-06 19:58] alexanmtz opened #1 "Install Angular"
Use angular in the project and continues to display the welcome page

[2017-04-06 20:02] alexanmtz commented on #1
![](https://github.trello.services/images/mini-trello-icon.png) [Install Angular](https://trello.com/c/zgU7Zll6/63-install-angular)

[2017-04-08 11:32] alexanmtz commented on #1
#2

[2017-04-09 20:14] alexanmtz commented on #1
We work together on this to run this setup this on Heroku. It was integrate and displaying the same demo page now using Angular

[2017-04-09 20:14] #1 closed

[2017-04-09 21:04] alexanmtz opened #3 "Setup Database"
Setup a Postgres database locally

[2017-04-09 21:05] alexanmtz commented on #3
![](https://github.trello.services/images/mini-trello-icon.png) [Setup a database](https://trello.com/c/4muZuPiD/65-setup-a-database)

[2017-05-02 11:07] #3 closed

[2018-02-26 12:22] alexanmtz opened #9 "Check if the user is logged on the front-end"
We are figuring out the best approach to communicate on the front-end with Passport authentication on the back-end #bitbucket-login

[2018-02-26 13:58] alexanmtz commented on #9
https://forum.freecodecamp.org/t/handling-passportjs-authenticated-user-in-the-front-end/75913/6

[2018-02-26 14:22] alexanmtz commented on #9
https://vladimirponomarev.com/blog/authentication-in-react-apps-jwt

[2018-02-26 14:47] alexanmtz commented on #9
I think we can setup passport to this:
http://www.passportjs.org/docs/configure/

[2018-03-06 22:42] alexanmtz opened #10 "Database sync in development"
After create a migration to add a new field for user:

[code]

The user model is still missing `name`, even adding one and running the migration with `npm run migrate` or even a command that I added `npm run reset` and run the migration again. The old data keep there.

Researching I found that is maybe something related to database sync.

[2018-03-06 22:43] alexanmtz commented on #9
I think we found a good solution using passport with jwt with react storing the Bearer token on localStorage

[2018-03-06 22:43] #9 closed

[2018-03-07 14:39] alexanmtz commented on #10
#11

[2018-03-12 22:59] alexanmtz commented on #10
Solved with [this usefull Gist ](https://gist.github.com/JoeKarlsson/ebb1c714466ae3de88ae565fa9ba4779) 🏆

[2018-03-14 19:20] mthais opened #12 "Favicon for GitPay"
define a favicon to the platform [Gitpay](gitpay.me)

[2018-03-21 13:28] #10 closed

[2018-06-03 23:45] alexanmtz opened #17 "[FOSSA] **UNLICENSED_DEPENDENCY:** passport-stub$1.1.1"
[FOSSA](http://fossa.io) has found issues in this repo:

 - **UNLICENSED_DEPENDENCY:** passport-stub$1.1.1

Generated by [FOSSA](http://fossa.io) on 06/04/2018

Reported by FOSSA user: alexanmtz

[2018-06-03 23:57] alexanmtz opened #18 "Changing state to show account created"
![screen shot 2018-06-04 at 1 48 21 am](https://user-images.githubusercontent.com/88840/40892674-9a8b8cfc-679a-11e8-9d42-fa46e976828c.png)

![screen shot 2018-06-04 at 1 48 37 am](https://user-images.githubusercontent.com/88840/40892673-994f2cc2-679a-11e8-86ac-b9a630c876b5.png)

For some reason, when you create a new account to receive bounties, the account information screens is not appearing. We

[2018-06-04 00:00] alexanmtz opened #19 "Overlapping images on description of a task"
A task like this [https://gitpay.me/#/task/3](https://gitpay.me/#/task/3) overlaps the image content that is fetched from Github.

We need to manipule somehow the styles inside the content that is originated from Github, that now is generated like raw content.

### Why
The attached images on issue description from Github is breaking the layout. It's a very annoying bug

### Level
Beginner

### Cur

[2018-06-04 00:04] alexanmtz opened #20 "Go to account button"
![screen shot 2018-06-04 at 2 01 35 am](https://user-images.githubusercontent.com/88840/40892774-414d3de2-679b-11e8-872c-03be00efbac9.png)

When logged, this blue button should change the label and the action direct user to account

## How to fix

There's a logic that changes the button to hidden if is logged, you should make this button appear with a diferent label, and a different `onClick` hand

[2018-06-04 00:11] alexanmtz opened #21 "Deadline card should be displayed only for the owner"
Hey, how are you? This is the deadline card:

![screen shot 2018-06-04 at 2 08 07 am](https://user-images.githubusercontent.com/88840/40892827-2c2f0976-679c-11e8-908c-2888370151e6.png)

It's a place to setup a deadline of a task. Please restrict this view only for the Task owner

## How to fix

A important think here is that is possible to create task without a owner. So in this case he will see t

[2018-06-04 00:17] alexanmtz opened #22 "Translation"
- [x] React with reducer structure
- [x] Node part
- [x] Preferences page
- [x] Change all strings

Hey, this is a huge one and has a impact in the whole platform.

Have you worked with translation before? You already tried some solution around? This is chance to work and implement from the scratch a solution for translation because we have to support english language. We accept payment worldwide

[2018-06-04 00:22] alexanmtz opened #23 "Exchange status to closed"
Making possible to edit status that we show in the title part of the top bar as we can see below:

You should use a [Material ui React component](https://material-ui.com/demos/chips/), adding a context menu in the ship that have one of the actions set the states of the task, OPEN, INPROGRESS, DONE and FINISHED

[2018-06-04 00:27] alexanmtz opened #24 "Webpack host for staging"
Extract as env variable the API host that is used on the webpack project, and with this we can set a staging env.

Other issue related to that is that we have to pass production keys when generate the main js script bundle to production, so I have to do something like:

`FOO=BAR webpack --config webpack.prod.js`

We generate locally the production bundle. Think twice before change that, because we

[2018-06-04 00:30] alexanmtz opened #25 "Preference buttons"
There's a bug when we click on the menu elements, because the active area don't cover all the menu as we can see here:

![screen shot 2018-06-04 at 2 28 27 am](https://user-images.githubusercontent.com/88840/40893031-24b023e4-679f-11e8-9c5e-a6a113a66a1c.png)

You can access this page at [https://gitpay.me/#/profile](https://gitpay.me/#/profile) (you need to be logged)

[2018-06-04 09:01] alexanmtz opened #26 "Signin authentications for github API"
We are exceeding the limit for Github requests for issues. We need to have a signed authentication to be able to cross to increase our rate limit for requests

### Why
The Github public api for issues has a limited rate limit:
https://developer.github.com/v3/rate_limit/

We need authenticated requests on the api in the places that we call the public api to increase the limit:
https://developer.git

[2018-06-04 10:44] alexanmtz opened #27 "Validations for task already registered and github issues that is not a real issue"
Tasks like these: [https://gitpay.me/#/task/12](https://gitpay.me/#/task/12) was created because it could not be validated as invalid issue. We need to validate when create a task for this case as well when a task already exist. Currently they created a non valid successful page

[2018-06-04 11:00] alexanmtz opened #28 "Authenticated route on the backend to delete a task"
It should be possible for a authenticated user that owns the task to delete it. This task is just the backend route that should be a rest call of the type `DELETE` to a defined task like `tasks/delete/:id`

### Why
This is a part of a feature to implement a delete task on the front-end

### Level
Beginner

### Current behavior
Not possible to delete a task

### Expected behavior
A route in the RES

[2018-06-04 20:47] WalshJP commented on #20
codemill$20

[2018-06-06 18:56] alexanmtz opened #29 "Duplicated assigns users"
When a user is added to the list of possible assigns, sequelize is not restricting to unique

[2018-06-08 11:40] #23 closed

[2018-06-08 11:41] alexanmtz commented on #20
Are you working on this @WalshJP ?

[2018-06-08 21:21] mthais opened #30 "Responsive Website"
In version mobile the gitpay website is showing some layout error. Check it.

### Screenshot attached

![whatsapp image 2018-06-05 at 08 15 09](https://user-images.githubusercontent.com/27444220/41181546-80f7fed6-6b48-11e8-993a-4f76e41f22c9.jpeg)
![whatsapp image 2018-06-08 at 18 23 46](https://user-images.githubusercontent.com/27444220/41181720-2b8caacc-6b49-11e8-82d9-5555a40af9f8.jpeg)

### How

[2018-06-10 19:54] #21 closed

[2018-06-10 19:55] #18 closed

[2018-06-11 16:32] alexanmtz commented on #27
Now we check on github api if is a real issue before register, and if this url exist for a task already

[2018-06-11 16:32] #27 closed

[2018-06-13 13:20] alexanmtz commented on #29
@wharley , I tried to check this. I have a assign table that has `user_id` and `task_id` and both should be unique, but I couldn't find a way to do that. You know how to handle this?

[2018-06-13 18:31] alexanmtz opened #33 "A real issue to test the flow"
This is a task that will demonstrate the payment flow for [https://gitpay.me](https://gitpay.me)

This is a task that I will assign for myself. So I will follow the steps to complete:

1. Paste this task on Gitpay in `Criar tarefa`
2. Make a payment for that task
3. Show interested on this task
4. Be assigned for this task
5. Change the task to done
6. Pay for the task

[2018-06-13 18:39] alexanmtz opened #34 "Failed transfer should give the proper feedback"
When a transfer fails for insufficient funds, let the user knows instead to show success

[2018-06-13 18:44] alexanmtz commented on #33
https://gitpay.me/#/task/23

[2018-06-14 17:13] #34 closed

[2018-06-16 12:32] mthais opened #36 "Option to create account is in error"
Description

When I click to create an account, the system showing the success alert message, but the system don't reload the page and nothing happened.

### Screenshot attached

![criar conta](https://user-images.githubusercontent.com/27444220/41498565-4f3b9830-7147-11e8-85a3-cb2bc48ead98.png)

### How to reproduze the user scenario

1- Access your account on Gitpay;
2 - Choose the option "Criar

[2018-06-17 15:08] alexanmtz commented on #29
https://gitpay.me/#/task/24

[2018-06-18 11:36] alexanmtz commented on #36
https://gitpay.me/#/task/25

[2018-06-18 11:37] #20 closed

[2018-06-18 11:38] #33 closed

[2018-06-18 13:22] alexanmtz opened #40 "Fix the undefined value and add a next step button"
This task consist in two things on the same screen as you can see in the screenshot.

First, there's a undefined there that I think is just a matter of handle the object empty state.

Second, we would like to add the same button to the first step to go to the next step, and having control of the steps as is possible when click on a item.

### Screenshot attached

![pageshot of gitpay - freelancing

[2018-06-18 20:09] alexanmtz commented on #36
Your e-mail is null cause you are with your public email disabled:
https://stackoverflow.com/questions/35373995/github-user-email-is-null-despite-useremail-scope

[2018-06-18 20:42] alexanmtz opened #44 "Create new webhook for a new card created"
We have webhooks to have to notify payment updates, and we already have a lot for charges, transfer and payouts. We need now to handle a webhook that gives information about the card payment

The object send by the webhook is this one:

[code]

### How to reproduze the user scenario

 - Run the tests that emulates a webhook request, create a new test that emulates the object above

### How should

[2018-06-19 16:48] alexanmtz opened #48 "Beta tester to validate an account and be rewarded"
This a task that will validate the flow for a freelancer be rewarded by solve a issue.

This is the issue that it has to be solved by validating your account on [http://gitpay.me](http://gitpay.me)

### How to conclude this task

 - You have to login on gitpay.me, and setup your account. You will fill the fields required and we will contact you to complete the account setup
 - You will visit the l

[2018-06-21 18:37] alexanmtz commented on #29
💯

[2018-06-21 18:37] #29 closed

[2018-06-21 18:47] alexanmtz commented on #48
😍

[2018-06-21 18:47] #48 closed

[2018-06-23 15:24] alexanmtz opened #54 "Filters for task list"
We should have more filters on the task list to track better the tasks status

[2018-06-23 15:25] alexanmtz opened #55 "Task title"
The task title should be added to the task table and sync with Github whatever is possible

[2018-06-23 15:31] alexanmtz opened #56 "Redirect to the original url when login"
When login, redirect to the same page before the user logs in

[2018-06-23 21:40] alexanmtz commented on #56
👍

[2018-06-23 21:40] #56 closed

[2018-06-23 22:25] alexanmtz opened #58 "No dependency of Mailchimp to create accounts"
Currently we need mailchimp api keys to develop locally, and this should be avoided, since there's no real need for it.

[2018-06-24 10:15] alexanmtz commented on #24
#61 🚀

[2018-06-24 10:15] #24 closed

[2018-06-24 11:01] alexanmtz commented on #58
#62 🚀

[2018-06-24 11:01] #58 closed

[2018-06-24 21:35] alexanmtz commented on #54
#65

[2018-06-24 21:36] alexanmtz commented on #54
🐎 🐎 🐎 🐎 🐎 🐎 🐎 🐎 🐎

[2018-06-24 21:36] #54 closed

[2018-06-25 10:56] alexanmtz commented on #25
https://gitpay.me/#/task/34

[2018-06-26 16:43] alexanmtz opened #68 "Proccess webhook of transfer failed"
We have a webhook about a failed transfer that should be send to the destination account as the other webhooks

Here is the format:
[code]

So create a new case for this webhook and follow the tests in the webhooks controller to support this webhook and send to the user warning that the transfer failed

[2018-06-26 16:46] alexanmtz commented on #30
https://gitpay.me/#/task/18

[2018-06-26 18:00] alexanmtz opened #69 "Better task list with filters and pagination"
The task list is getting messy and unorganized and is a base to guide the developer when exploring tasks, now we need to enhance this component, separate from task list container and fix the filter bugs and add pagination and relevant filters (open tasks, closed, higher price etc)

[2018-06-26 18:02] alexanmtz opened #70 "Better check for active account"
Some accounts are activated without bank accounts, so we need a better handle to make sure that a account is active only if have a successful bank account registered

[2018-06-26 19:02] alexanmtz commented on #55
#71

[2018-06-26 19:02] #55 closed

[2018-06-27 13:15] alexanmtz opened #75 "Notify the chosen user assigned to a task about payment"
When a charge is made for a task with a value, send for the `assigned` user that a payment was made

[2018-06-28 10:16] alexanmtz commented on #69
#78 🏎

[2018-06-28 10:16] #69 closed

[2018-06-28 10:17] alexanmtz commented on #68
#74 🚀 🚀 🚀 🚀 🚀 🚀 🚀 🚀

[2018-06-28 10:17] #68 closed

[2018-06-28 11:16] alexanmtz opened #79 "Sendgrid error when there's no api key"
We send notifications for many actions through the platform. When developing locally, if a API key is not provided, it should not crash the actions and just not send emails, and now the code depends of a provided key for that, which is not preferable

### Why
Solving this issue you will help other developers to develop locally without to require a api key to send e-mails, as well not be trigger wi

[2018-06-28 12:09] alexanmtz commented on #75
#80 👍

[2018-06-28 12:09] #75 closed

[2018-06-28 12:16] alexanmtz commented on #25
@oliverbhz, if you're working on this already, please mark as interested here
https://gitpay.me/#/task/34

So I can assign you and you will be able to follow the payment process

[2018-06-28 17:56] alexanmtz opened #81 "Welcome email"
A welcome email with the first steps

[2018-06-28 22:14] alexanmtz commented on #70
Please check @mthais if after this merge your account is working better 🚶

[2018-06-29 21:18] oliverbhz commented on #25
Sorry for the delay, I marked you as interested.

[2018-06-29 21:46] alexanmtz opened #84 "Notification about new transfer for a non activated account"
We have the basic flow of a bounty for a developer that is:

1. _User A_ creates a task with a bounty
2. _User B_,  _User C_ and _User D_ create a user with their Github accounts
3. _User B_,  _User C_ and _User D_ are interested in this task
4. _User B_ is chosen to start this task
5. _User B_ conclude this task
6. _User A_ pay the reward
7. _User B_ should receive

The _User B_ to receive the fu

[2018-06-29 23:34] alexanmtz opened #86 "Support Transferwise"
It should be possible to support Transferwise to make international payments
https://api-docs.transferwise.com/v1/use-cases/cross-border-payments-for-banks

[2018-07-01 15:04] alexanmtz opened #90 "Support Paypal to make simple payments"
Support Paypal to make simple payments that is not covered by Stripe

[2018-07-01 22:46] alexanmtz commented on #30
#88

[2018-07-02 12:11] alexanmtz commented on #36
@mthais ainda não conseguindo ativar a sua conta bancária? Tem um pagamento por esta tarefa lá que gostaria de testar para a sua conta

[2018-07-02 12:14] alexanmtz commented on #19
https://gitpay.me/#/task/36

[2018-07-02 21:34] mthais commented on #70
@alexanmtz it's not working correct yet. When I insert some bank data and click on the button "Próximo passo", the system don't show me some validation message, but I have access in the next step and my account don't stay  activated. Check it, please!

[2018-07-03 09:26] alexanmtz opened #92 "Send notification webhook about new balances"
Stripe send notifications on our webhook route (https://gitpay.me/webhooks) sending information about the balance of an account. This balance is very useful to control the transfer about the bounties being sent.

The webhook notifications is already setup and integrated with the e-mails, tested and working for a lot of notifications that happens in many actions inside the Gitpay platform, as we ha

[2018-07-03 09:41] alexanmtz commented on #86
⛔️ not now

[2018-07-03 09:41] #86 closed

[2018-07-03 15:08] alexanmtz opened #93 "Notify payer that confirms that the payment was sent"
When a payer pay for a task finished, send to the sender as well to confirm the payment and transfer

[2018-07-04 11:14] alexanmtz opened #94 "Unselect assigned for a task"
When create a task, someone can be interested and you can assign someone to complete. It should be possible unchose (now it's just possible choose another) a assigned user. If is possible should be great select and / or write a reason

The assigned user should be able to mark on the task that for some reason he / she couldnt continue to offer opportunity to others

Should notify that the user was

[2018-07-04 22:33] alexanmtz opened #95 "Link Gitpay repo to allow a hook that create a task for new issues"
Connected repos (Gitpay as first case) will allow to link issues, and when an issue is created from the project side, it will automatically be created on Gitpay

[2018-07-06 21:54] mthais commented on #36
@alexanmtz Agora consegui ativar a conta com sucesso.
![image](https://user-images.githubusercontent.com/27444220/42401857-f8bc64dc-814d-11e8-8e55-412f6eaaf55f.png)

[2018-07-07 09:01] alexanmtz commented on #36
Great! I will approve the payment @mthais

🚀 🚀 🚀 🚀 🚀 🚀

Thanks for you patience

[2018-07-07 23:05] alexanmtz commented on #90
#100

[2018-07-07 23:05] #90 closed

[2018-07-07 23:06] #36 closed

[2018-07-07 23:08] alexanmtz commented on #30
I will close this issue cause the code is already merged and working

[2018-07-07 23:08] #30 closed

[2018-07-07 23:09] alexanmtz commented on #70
We've made a lot of improvements and bug fixes to better handle the account activation 🚀

[2018-07-07 23:09] #70 closed

[2018-07-09 11:09] alexanmtz commented on #94
https://gitpay.me/#/task/39 with Paypal

[2018-07-09 11:13] alexanmtz commented on #79
https://gitpay.me/#/task/40

[2018-07-09 12:09] alexanmtz commented on #84
https://gitpay.me/#/task/41

[2018-07-09 12:13] alexanmtz opened #101 "Home page stats about the platform"
Above 'Nossa stack', give a home stats with the amount of tasks, of users and bounties received using chips

![pageshot of gitpay - freelancing with git 2018-07-01-1559 26](https://user-images.githubusercontent.com/88840/42455868-aea8476a-8393-11e8-922c-d279b875b4c4.png)

### Why
The community should be able to track how many users, task and bounties and being created on the platform

### Level
Me

[2018-07-09 12:26] alexanmtz opened #102 "Activate a Paypal account to receive Paypal bounties"

[2018-07-09 12:51] alexanmtz commented on #92
https://gitpay.me/#/task/42

[2018-07-09 13:14] alexanmtz opened #103 "New status for refunded bounties"
Bounties that was refunded should be supported

[2018-07-09 13:36] alexanmtz commented on #26
https://gitpay.me/#/task/44

[2018-07-09 13:44] alexanmtz commented on #28
https://gitpay.me/#/task/45

[2018-07-09 13:45] alexanmtz commented on #81
Already implement a sync with the mailchimp welcome email

[2018-07-09 13:45] #81 closed

[2018-07-10 17:11] alexanmtz opened #104 "Testing user paypal activation"
This task will have a bounty to test the whole Paypal payment flow for a task

[2018-07-10 17:15] alexanmtz commented on #104
#105

[2018-07-10 17:31] alexanmtz commented on #104
https://gitpay.me/#/task/55

[2018-07-10 18:11] alexanmtz opened #107 "Update travis node version to fix the build on travis"
We are using the spread operator like the example below

[code]
And the build is failing because probably the node version on travis is different and local the test pass
We just need to update the node version to the same version that the package.json

[2018-07-10 18:38] alexanmtz commented on #104
Successful paid with Paypal 🤑

[2018-07-10 18:38] #104 closed

[2018-07-10 22:25] alexanmtz opened #108 "Some users can't create an account with no public email"
As we have faced before, the users that try to login with their Github account can't have an associated e-mail if his e-mail is private on Github.

We have this issue:
https://stackoverflow.com/questions/35373995/github-user-email-is-null-despite-useremail-scope

### Why
We need that the users be able to login regardless of the Github email privacy settings

### Level
Advanced

### Current behavio

[2018-07-24 17:14] alexanmtz commented on #108
The related pull request was merged. Thanks @ataquino ! 🥇

[2018-07-24 17:14] #108 closed

[2018-07-24 17:16] #102 closed

[2018-07-24 22:29] lucianojfj opened #112 "Docker support for development environment"
Improve development experience by automating the infrastructure with docker containers.

By running `docker-compose up`, we should be able to get the project working when opening the browser at http://localhost:<frontend port\>

By running `docker-compose -f docker-compose.test up`, all tests should run.

[2018-07-25 11:31] alexanmtz commented on #107
Fixed 👍

[2018-07-25 11:31] #107 closed

[2018-07-25 15:41] alexanmtz commented on #112
merged and released 🚀

thanks @lucianojfj 🥇

[2018-07-25 15:41] #112 closed

[2018-07-25 15:53] alexanmtz commented on #26
Merged and released 🚀

Thanks @ataquino 🥇

[2018-07-25 15:53] #26 closed

[2018-07-28 23:15] alexanmtz commented on #92
Thanks @lucianojfj for contribution. Merged 🚀

[2018-07-28 23:15] #92 closed

[2018-07-28 23:57] alexanmtz commented on #28
#121

[2018-07-28 23:57] #28 closed

[2018-07-28 23:59] alexanmtz commented on #103
no need for this now

[2018-07-28 23:59] #103 closed

[2018-07-29 00:22] wharley opened #123 "Remove errors from ESLint"
It's necessary remove all errors what the ESLint show when is run command of verify Javascript pattern what was configurated on project.

### Why
To maintain a standard of code

### Level
Medium

### Expected behavior
Today is configured not to pass eslint error in prepush. You need to run git push with success

### How to solve this issue
All message what ESLint show are intuitive

### What you w

[2018-07-29 23:05] alexanmtz commented on #44
Merged and deployed, thanks for the great contribution @theodorosidmar 🥇

[2018-07-29 23:05] #44 closed

[2018-08-03 02:36] lucianojfj commented on #101
@alexanmtz please close this issue.

[2018-08-03 08:27] alexanmtz commented on #101
Closing this and released 🚀 , thanks @lucianojfj

[2018-08-03 08:27] #101 closed

[2018-08-03 08:30] #25 closed

[2018-08-03 08:31] alexanmtz commented on #25
Merged and solved, thanks @lucianojfj 🥇

[2018-08-03 08:38] alexanmtz opened #129 "Invite someone for a task"
When create a task, it should be great invite others users to see the task created

### Why
There's situation that we would like that some specific user know that we are offering a reward for that task

### Level
Medium

### How to solve this issue
Add a new option for the task owner to add invite, then show a dialog with the user email and a option to send, that will send to the the target user a

[2018-08-05 19:01] #19 closed

[2018-08-05 19:05] alexanmtz commented on #19
Merged and deployed just now, thanks @lucianojfj for fix this  🤺  🐞

[2018-08-06 18:05] alexanmtz commented on #94
Merged and deployed 🚀 , thanks @jardix22 for the great contribution

[2018-08-06 18:05] #94 closed

[2018-08-06 18:05] alexanmtz commented on #79
Merged and deployed, thanks for the great contribution @ataquino 🏅

[2018-08-06 18:05] #79 closed

[2018-08-07 03:31] wharley opened #136 "Date to delivery"
When I choose a date, an earlier date is set.

### Why
Because it is set to date incorrect

### Level
Medium

### Current behavior
Setting incorrect date

### Expected behavior
Set date correct

### How to reproduze the user scenario

![screencast 2018-08-06 at 11 36 54 pm](https://user-images.githubusercontent.com/11954498/43752783-fe624750-99d8-11e8-8c1c-74b403b8d64f.gif)

[2018-08-10 21:18] alexanmtz commented on #123
Merged 🚀

[2018-08-10 21:18] #123 closed

[2018-08-11 16:07] alexanmtz opened #143 "Create sitemap for Google index"
We should use this component to create our `sitemap.xml`:
https://www.npmjs.com/package/react-router-sitemap

And we should use server rendering to allow our pages be indexed on Google

### Why
We want to map our site structure to be indexed on Google

### Level
Medium

### Current behavior
It's a single page app, so we need to indicate through a sitemap how is gitpay structured

### Expected beha

[2018-08-11 17:33] alexanmtz commented on #129
🚀 🚀 🚀 🚀 🚀 🚀 🚀 🚀 🚀

[2018-08-11 17:33] #129 closed

[2018-08-13 22:15] alexanmtz commented on #84
Merged and deployed, 🚀 , thanks 🙏 @lucianojfj

[2018-08-13 22:15] #84 closed

[2018-08-15 11:34] alexanmtz opened #147 "Cron notifications"
An infrasctructe to prepare the platform to be able to send notifications according to important events

### Why
You want to send important notifications for users based in conditions that is not from an user action, but for other reasons, like remember a task deadline and other purposes

### Level
Advanced

### Current behavior
No infrastructure to send emails in a cron format

### Expected behav

[2018-08-18 12:32] alexanmtz opened #149 "Bank Account number incorrect for 90% of the users"
When updating a bank account, we have incorrect account registered and the payment process is not concluded. This is happening probably because the user are creating the account in the format xxx-x, and the transfer API register a account correctly with xxxx.

Even with a wrong value, the system recognize and the error it will happen in the end of the process, when a transfer is concluded and retu

[2018-08-18 13:34] alexanmtz commented on #12
https://gitpay.me/#/task/64

[2018-08-21 17:02] alexanmtz commented on #147
@wharley can you work on this?

[2018-08-21 17:03] alexanmtz commented on #143
@clarkeadg $50 to make a server side rendering for google index as part of the package? 😄

[2018-08-23 18:45] alexanmtz commented on #147
Merged 🚀 , running everyday at 12:AM @wharley ⌚️ 👁

I will confirm the log in production

[2018-08-23 18:45] #147 closed

[2018-08-23 18:47] alexanmtz commented on #136
Merged 🚀 🚀 🚀 🚀 🚀 🚀 🚀 🚀 , thanks @raivitor

[2018-08-23 18:47] #136 closed

[2018-09-06 18:05] alexanmtz commented on #149
Merged !!!! 🤖 tanks @Partom

[2018-09-06 18:05] #149 closed

[2018-10-23 19:01] alexanmtz commented on #22
Merged 🚀 #162

[2018-10-23 19:01] #22 closed

[2018-10-31 17:25] mthais opened #167 "Save Card number of customer for use in other task payment"
### Description
To improve the payment process on gitpay, the system could store the card number of the user that was used to paid the last issue.

### Why
Every time that the user needs to pay an issue, the system solicits to the user the card number again, the user loses much time doing this process.

### Level
Medium

### Current behavior
* The user makes a payment for an issue on gitpay and th

[2018-10-31 17:29] mthais opened #168 "Create emails to the team"
### Description
It's necessary to create an email for each a one the team.

[2018-10-31 17:52] mthais opened #169 "The task isn't change on gitpay when the user change these on github"
### Description
When the user changes the issue on Github that was registered on gitpay, the gitpay system doesn't refresh this task.

### Why
We have a problem because we don't have the same information in these two places.

### Level
Beginning

### Current behavior
* The user registers an issue on GitHub and inserts this task on Gitpay, so the user needs to change some wrong information and chan

[2018-10-31 18:50] mthais opened #170 "Delete a task created on gitpay"
Description

When the user creates a task on gitpay, the system doesn't have a functionality for the user to delete this task.

### Why

It's necessary to create a function that allows the user to delete a task that the user created wrong or gave up

### Level
Beginning

### Current behavior

* The user inserts a task and when the user needs to delete this task, the system doesn't have this functi

[2018-11-04 12:40] alexanmtz opened #171 "Text improvements and review for English and Portuguese language"
Now that we provide a support for English and Portuguese language, we need to review the texts in the whole platform to have a better communication with our users and fix minor issues in our texts in both language.

### Why
We want to have a correct and right communication with our users. We want to start to introduce non developers and translators to use Gitpay to receive bounties by text transla

[2018-11-05 13:54] alexanmtz opened #173 "New purchase on the card with wrong language"
The following template e-mail are being send in English when the language from the source is set in Brazilian Portuguese

[code]

### Why
The user should receive the email in the language he set, the default is in English but in this case, he is receiving the email in English even if the preferences are set as default language Brazilian Portuguese

### Level
Beginner

### Current behavior
An email

[2018-11-05 17:37] alexanmtz commented on #171
https://gitpay.me/#/task/107

[2018-11-05 17:42] alexanmtz opened #176 "After a payment is sent the page keeps loading"
As you can see on the screenshot, after a payment is concluded, the price is not updated and the page keeps on loading state

![pageshot of gitpay - freelancing with git 2018-11-05-1837 16](https://user-images.githubusercontent.com/88840/48015870-67bb3c00-e12a-11e8-949c-cde5fdd81f8e.png)

[2018-11-05 17:46] alexanmtz opened #177 "The payment for assigned user is not being send"
Once the user is assigned and a payment is made, the user should receive a notification about the payment update.

[2018-11-06 18:45] alexanmtz commented on #176
fixed and deployed 🚀

[2018-11-06 18:45] #176 closed

[2018-11-06 18:46] alexanmtz commented on #171
#181 #180 #179 #178

[2018-11-06 19:01] alexanmtz commented on #171
thanks @CamilleLabanca for the great review and making our platform better to understand 📚 🎈

[2018-11-06 19:01] #171 closed

[2018-11-19 17:14] alexanmtz opened #182 "Send an email to task owner when someone is assigned"
When a task is assigned, the owner should receive a en email as the one send to the assigned one

Here the following template (in english):

[code]

### Why
The user who create a task on Gitpay can assig other user to complete the task. We send through our notifications a message to the assigned user, and the owner should be notified about the next steps as well.

### Level
beginner

### Current b

[2018-11-19 17:27] alexanmtz opened #183 "Implement a local login"
Insert a local strategy that enable the user to login without any external dependency.

### Why
We use Github and Bitbucket to login, but regular users should be able to create a account as well, for this we have [Passport.js](http://www.passportjs.org/) and we should add a `localStrategy`.

Another reason is allow us to easy have in app login, so we don't need a dependency of a external provider

[2018-11-19 18:30] alexanmtz opened #184 "Create a slack icon for our channel"
We need a slack button on the top bar, once you click, a dialog appear you can add an email to receive an invite. But for this will add the e-mails for an mailchimp list. We already use Mailchimp on the main form, so you will use something similar.

The slack integration requires the Slack API, but we will add on a Mailchimp list that will send for Slack later.

The slack button attached should be

[2018-11-19 18:46] alexanmtz commented on #183
![](https://github.trello.services/images/mini-trello-icon.png) [Common login](https://trello.com/c/vYu3uJKK/201-common-login)

[2018-11-19 18:46] alexanmtz commented on #184
![](https://github.trello.services/images/mini-trello-icon.png) [Slack channel](https://trello.com/c/ke0IQ8cy/221-slack-channel)

[2018-11-19 18:54] #177 closed

[2018-11-20 01:42] riddokun commented on #184
codemill$10

[2018-11-23 02:04] riddokun commented on #184
I can't do any npm commands on this project. I have to resign the offer :(

[2018-11-25 11:51] alexanmtz commented on #184
@farolanf you mean on the front-end? And for this offer you can implement using directly the slack API and count users as the example?

Can you open an issue describing this issue with modules so we can address in other PR?

[2018-11-25 13:22] alexanmtz opened #185 "Update Material-ui library to new version (3.5.1)"
We are using now Material UI beta 1.0, and we need to update to current version: 3.5.1

### Why
We tested material ui as our main ui library and we have a really great result. Now we need to update cause we are now too much behind and this make difficult for us to use new features.

### Level
Beginner

Useful links
https://material-ui.com/getting-started/installation/

### How to solve this issue

[2018-11-25 15:44] alexanmtz opened #186 "Onboarding bank accounts from other countries"
We want to support accounts from another countries that is supported by Stripe and allow the platform to onboard other accounts than Brazil to receive bounties directly on their bank accounts.

### Why
We have a demand from other developers worldwide that wish to join the platform and we should be able to support other countries, specially that ones supported by Stripe to allow them to receive pay

[2018-11-25 16:47] alexanmtz opened #187 "Scroll issue when select bank accounts for Brazil onboarding"
Description

### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

usefull links
https://github.com/worknenjoy/gitpay/tree/master/modules/mail

### Screenshot attached
![pageshot of gitpay - freelancing with git 2018-11-25-1745 08](https://user-images.githubusercontent.com/88840/4898

[2018-11-25 22:05] farolanf commented on #184
@alexanmtz yes, on the front-end. OK, I'll use the Slack API instead of adding to mailchimp list.

Will do that now.

[2018-11-25 22:19] farolanf opened #188 "Can't import @fortawesome/free-brands-svg-icons module"
### Why
So we can use fontawesome svg icons.

### Level
Beginner

### Current behavior
Module imported as a string of hashed filename. Ie.
require('@fortawesome/free-brands-svg-icons') === 'ef87e1bcdbd95967089d69927a46cbc4.js'

### Expected behavior
require('@fortawesome/free-brands-svg-icons') === [object]

### How to solve this issue
Fix file-loader pattern on webpack.conf.js, update it to: `tes

[2018-11-26 16:20] #188 closed

[2018-11-27 21:21] #184 closed

[2018-11-28 21:43] alexanmtz commented on #183
https://gitpay.me/#/task/108

[2018-11-29 21:23] mthais opened #191 "Fix Responsive topbar"
In version mobile, the gitpay website is showing some layout error. Check it on image bellow.

### Why
The gitpay platform should work in all devices including mobile.

### Level
Medium

### Current behavior
When the user accesses the Gitpay website by mobile, the website is showing the screen not responsive.

### Expected behavior
When the user accesses the Gitpay by mobile, the website should to

[2018-11-29 21:31] alexanmtz commented on #191
https://gitpay.me/#/task/109

[2018-11-30 18:48] alexanmtz opened #192 "Presentation"
Add presentation to pitchme

![1](https://user-images.githubusercontent.com/88840/49308487-c0d38100-f4d8-11e8-85a9-800f4fa757df.png)
![2](https://user-images.githubusercontent.com/88840/49308488-c0d38100-f4d8-11e8-962f-254167e64aea.png)
![3](https://user-images.githubusercontent.com/88840/49308489-c0d38100-f4d8-11e8-9abd-33f35445cfa5.png)
![4](https://user-images.githubusercontent.com/88840/493084

[2018-11-30 18:59] alexanmtz commented on #192
https://github.com/worknenjoy/gitpay/blob/master/PITCHME.md

[2018-11-30 18:59] #192 closed

[2018-12-03 21:05] mathvaleriano opened #193 "Uncaught TypeError: Cannot read property 'ease' of undefined"
### Description
This bug occurs when i click at the chevron right button while i'm using mobile version.

https://gitpay.me/#/task/109

### Screenshot attached
![bug](https://user-images.githubusercontent.com/12265496/49401211-a9410600-f72d-11e8-998f-dccd407d2ca8.png)

### How to reproduze the user scenario
- change to mobile
- click at the chevron right button

[2018-12-04 10:09] alexanmtz commented on #193
thanks for report @mathvaleriano , it's seems the animation library is missing

[2018-12-10 19:36] alexanmtz commented on #186
![](https://github.trello.services/images/mini-trello-icon.png) [Allow onboarding accounts supported by stripe](https://trello.com/c/KVJNNcoq/233-allow-onboarding-accounts-supported-by-stripe)

[2018-12-10 19:36] alexanmtz commented on #186
![](https://github.trello.services/images/mini-trello-icon.png) [choose country when activate account](https://trello.com/c/uMBfGzMZ/210-choose-country-when-activate-account)

[2018-12-10 21:19] alexanmtz opened #194 "Show task level and assigns"
We want to show and define the task level based on the Github labels and description

### Why
We want to define the difficulty of the task on the platform and the requirement as well and know how many users are interested

### Level
Medium

### Current behavior
Currently we don't have cards telling about the level and interested users

### Expected behavior
We expect two new cards, with the follow

[2018-12-10 22:17] alexanmtz opened #195 "Setup basic preferences"
We want to know our user preferences so we can offer a better experience on the platform and receive tasks that match their interested

### Why
Users that want to work on projects have different skills and interest, so we should be able to know their preferences to offer a better experience to work with bounties

### Level
Medium

### Current behavior

- The preferences page is filled with minimal

[2018-12-10 23:19] alexanmtz opened #196 "Make an offer for a task"
An user on our platform can candidate for a task and receive the bounties. Then the task maintainer is contacted and the user can be assigned to work on that and receive a bounty when the task is finished by a merge, after the user sends a solution with a Pull Request

### Why
We have many context that that a bounty can be defined. The collaborator should be able to suggest a value and negotiate t

[2018-12-11 21:36] AlexandreRStos commented on #183
Olá! qual db vai usar para criar o login?

[2018-12-11 21:39] alexanmtz commented on #183
@AlexandreRStos O login já está configurado para o Github e Bitbucket no lado do servidor usando o [Passport.js](http://www.passportjs.org/), neste caso vamos implementar um `localStrategy` local para ele. A base no back-end já está totalmente montada, é agora implementar no front-end e o que falta para fazer o Passport funcionar para contas locais simples

[2018-12-11 21:43] AlexandreRStos commented on #183
Ok! os campos obrigatorio para criar o login sera nome e email somente?

[2018-12-11 21:45] alexanmtz commented on #183
@AlexandreRStos Nome, Email e senha somente, e você pode realizar a validação de acordo com o [Material-UI](https://material-ui.com/)

[2018-12-11 21:49] AlexandreRStos commented on #183
Estarei fazendo a implementação!  vou abrir uma nova branch com nome da issue

[2018-12-11 21:50] AlexandreRStos commented on #183
caso quera entra em contato direto comigo estou disponivel no whats 11 977184120 ou email alexandresantos84@gmail.com

[2018-12-11 21:53] alexanmtz commented on #183
Tudo bem @AlexandreRStos, perfeito, qualquer dúvida só falar. Favor configurar seus dados em [https://gitpay.me/#/profile/payment-options](https://gitpay.me/#/profile/payment-options) para receber na sua conta bancária diretamente

[2018-12-11 21:55] AlexandreRStos commented on #183
ok

[2018-12-11 21:55] alexanmtz commented on #183
Temos também o [canal no Slack](https://join.slack.com/t/gitpay/shared_invite/enQtNDg4NzM2NDI5NDg4LWE1MzZlM2VhOGJhM2QyNmFhMjlhNzQyZjY0NjcwOGVlMGU1ZmIyMDZmOTEwOTBjNWU1ZTA0NjBlYjUyZGE2ZWU) para se comunicar e tirar dúvidas

[2018-12-13 19:55] alexanmtz opened #197 "Error on Node logs in the server on Sequelize"
[code]

[code]

[2018-12-15 19:25] alexanmtz opened #198 "Implement email templates"
For this case we will test an email template to send information about one task

### Why
Implement e-mail templates to enrich and automate the newsletter experience

### Level
Medium

### Requirements
- The static part of the template should be internationalized
- We should be able to test calling a function that you should test or a endpoint (a function should be enough)
- The implementation shou

[2018-12-21 13:15] alexanmtz commented on #183
Nos this task is supposed to create a forgot password following the #199 solution that created the local login.

[2018-12-21 13:21] alexanmtz commented on #194
![](https://github.trello.services/images/mini-trello-icon.png) [Task level](https://trello.com/c/BELK30eX/224-task-level)

[2018-12-21 14:21] alexanmtz opened #200 "Task level"

[2018-12-21 14:22] #200 closed

[2018-12-21 14:42] alexanmtz opened #201 "Send dependencies"

[2018-12-21 14:42] alexanmtz opened #202 "Preferences"

[2018-12-21 14:42] alexanmtz opened #203 "Reminder about task deadline, assigned and useful notifications for a task interest and completition"

[2018-12-21 14:42] alexanmtz opened #204 "When type "Send to Gitpay" on the issue comment send the notification for developers about that task"

[2018-12-21 14:42] alexanmtz opened #205 "Send invite to fund an issue"

[2018-12-21 14:42] alexanmtz opened #206 "Deadline chosen by developer"
Give an option when create a task to give the developer the option to give a deadline

[2018-12-21 15:37] alexanmtz opened #207 "Task level"
https://zapier.com/engine/hydrate/2533539/.eJwVjEsOwiAQQO8y6y5aEMNwCK9AYBgswaIpk5im6d3F9fucUFqX0Ih9SeBu1hpcLE6QC7-Sb2FjcBBEAq0bN-kwAa1M1Vc-wCmjtdFDp3eTgb0cn3_wGFr9hv3ZwZ1AYR9vMJEwJo2LiirbO2KaKec4w3X9AJwSKtQ:1gaKyL:9Ea7eganqP8lcgJEP2gj5jUGAtQ/

[2018-12-21 15:48] #207 closed

[2018-12-21 15:49] alexanmtz opened #208 "Slack users about task"

[2018-12-21 15:49] alexanmtz opened #209 "Send mail info when message the owner about an user"

[2018-12-21 15:49] alexanmtz opened #210 "When choose a interested user, send a confirmation before assign"
https://zapier.com/engine/hydrate/2533539/.eJwVjEkOgzAMAP_iM5dsyvKIfiEyxi1RSloRSwgh_t70PMsFpXXBRpzLAsmG4KIKcYJn4feSG24MCVAEad24SYcJaGWqufIJSTtjnBk6fZoMnOX8_oPH0OqB-6tDuoBwH29wc8CZlY9BIbKK7DVZbzXc9w-a3ipx:1gaN2x:U1g1ttFvYGqwhqAMswOgf9pdImo/

[2018-12-21 15:49] alexanmtz opened #211 "Non activated accounts allow to send payment after sent once"
Non activated account after the payment is triggered is not blocking the payment button and is not displaying the payment send before.

We need to lock the pay button on send bounty option when the destination user don't have an active account. One active account has the `account_id`

[2018-12-21 15:49] alexanmtz opened #212 "Send solution"
https://zapier.com/engine/hydrate/2533539/.eJwVjEsOgyAQhu_yr10UEEUO0SuQ6TBWYqWNkDTGePfS9fc4kXKplFlCivC9c3ZSbuowJ3nFkGkTeFCtxMsmuRZ04EV4Dasc8NoaY03T-Z1rw6Een39wb9r6pf1Z4E8w7e0N-xhmq9s-GqWUGxyNvebbiOv6AY0BKbE:1gaN2z:D_-yjkYHldmrt-CfXx0b2pw5Pak/

[2018-12-21 15:49] alexanmtz opened #213 "Better flow to let contributors know about paypal and direct payments"
![task extras](https://user-images.githubusercontent.com/88840/50350766-6e6a0b00-0540-11e9-862b-00e977edb945.png)

[2018-12-21 16:11] alexanmtz opened #214 "Company pay with invoice"
### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to reproduce the user scenario

 - steps to reproduce the issue

### What you will need to

[2018-12-21 16:27] alexanmtz opened #215 "Allow onboarding accounts supported by stripe"
### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to reproduce the user scenario

 - steps to reproduce the issue

### What you will need to

[2018-12-21 16:27] alexanmtz opened #216 "Plans for companies at home page"
### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to reproduce the user scenario

 - steps to reproduce the issue

### What you will need to

[2018-12-21 16:27] alexanmtz opened #217 "Points for a task accomplished (Badge)"
### Why
We want to give points for tasks accomplished that will correspond to badges

### Level
Medium

### Screenshot
![badges](https://user-images.githubusercontent.com/88840/58943991-2a329600-8781-11e9-923b-687d8ab42f26.png)

[2018-12-21 16:27] alexanmtz opened #218 "Gitpay bot"
### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to reproduce the user scenario

 - steps to reproduce the issue

### What you will need to

[2018-12-21 18:23] alexanmtz opened #219 "choose country when activate account"
### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to reproduce the user scenario

 - steps to reproduce the issue

### What you will need to

[2018-12-21 18:23] alexanmtz opened #220 "As Im interested button, add a make an offer buttom"
Add a button "Make an offer" on the task actions bar for non owners that will show the dialog like the screenshot attached, and after choose an offer he can send and the owner will receive this offer by e-mail

### Level
Beginner

### Screenshot
![make an offer dialog](https://user-images.githubusercontent.com/88840/50368894-b2373180-058d-11e9-9c4b-011b3e049cc2.png)

[2018-12-21 18:24] alexanmtz opened #221 "Deadline chosen by developer"
Give an option when create a task to give the developer the option to give a deadline

### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to r

[2018-12-21 18:24] alexanmtz opened #222 "Send an invite to fund an issue"
Invite a user to add funds to an issue added on Gitpay.

We have already an invite to contributors that were done in #129 and a new design for that page.

You will need to use the same component, so we need to refactor the code to invite contributors in order to reuse one same component for both.

An email should be sent to the address provided in the following format:

[code]

### Level
Medium

#

[2018-12-21 18:24] alexanmtz opened #223 "Reminder about task deadline, assigned and useful notifications for a task interest and completition"
Email notification service using cron to send for users assigned to any task:

- Send an email for the user assigned and author one day after he was assigned
- Send an email for the user assigned and author when left one day to the deadline
- Send an email after the the deadline for the user assigned and author with the notice that the author may revoked this user
- Don't worry about the content o

[2018-12-21 18:24] alexanmtz opened #224 "When type "Send to Gitpay" on the issue comment send the notification for developers about that task"
When type _Send to Gitpay_ on comments, trigger a e-mail for all community about that issue if the issue was already funded at Gitpay, so we need to check this first and if who is commenting is actually the task owner

### Depends on

#198

### Tips
You should validate the method that will trigger the e-mail for all users, so is preferable to have a automated test

[2018-12-21 18:24] alexanmtz opened #225 "Preferences"
A new preferences page with options about the user

### Level
Medium

### Current behavior
- The preferences page is minimal

### Expected behavior
- The preferences as on the screenshot. We already have the model implemented, and this is basically add more fields and setup updates for the user preferences

### Screenshot
![preferences](https://user-images.githubusercontent.com/88840/50368415-ba40

[2018-12-21 18:24] alexanmtz opened #226 "Send dependencies"
Send the dependencies needed (common used to send api keys)

### Level
Medium

### Current behavior
- Sometimes we need to send extra files that contains data that is sensitive to public and could be send just for users assigned

### Expected behavior
- We expect as the screenshot a little file manager that should store files at Amazon S3

### Screenshot
![task extras](https://user-images.githubus

[2018-12-21 18:24] alexanmtz opened #227 "Better flow to let contributors know about paypal and direct payments"
We will add extra info in the task view page

### Level
Beginner

### Current behavior
- We are facing a issue about the payment, the user isn't aware about how method the payment for a bounty was, and for this there's issues to activate the account. The screenshot is self explanatory, we need more info about that bounty. We have all the information, but this make it clear on the interface

### Ex

[2018-12-21 18:24] alexanmtz opened #228 "Send solution"
Send solution by providing a link (for a Pull Request for example) or uploading a file

### Why
We need a way to the contributors send the solution to be reviewed

### Level
Medium

### Requirements
 - This task needs to upload the files for a storage service that can be Amazon S3

### Screenshot
![task extras](https://user-images.githubusercontent.com/88840/50368289-68e3e380-0587-11e9-8f3b-79565f

[2018-12-21 18:24] alexanmtz opened #229 "When choose a interested user, send a confirmation before assign"
An extra confirmation before assign the user. The destination user will be notified that he has to confirm (a link should be included at this email) and the user has to confirm to then call the action that assign the user

### Level
Medium

### Current behavior
- Currently the user is assigned when he confirms on the task view page

### Expected behavior
- A new step will be required to assign the

[2018-12-21 18:24] alexanmtz opened #230 "Send mail info when message the owner about an user"
We need more info on the template that sends e-mail to the owner about the user interested

### Depends on
- Sendgrid keys

### Level
Beginner

### Current behavior
 - Currently the email from the user is not on the owner notification

### Expected behavior
 - We expect that you look at the templates:
https://github.com/worknenjoy/gitpay/tree/master/modules/mail

And send the e-mail along with the

[2018-12-21 18:24] alexanmtz opened #231 "Slack users about task"
Would be nice to notify about task in all the channels we are in, so this maybe could be done by a Zapier automation or even this can be a post with the learnings?

[2018-12-21 18:24] alexanmtz opened #232 "Company pay with invoice"
Allow pay with an invoice using the Stripe API

a great opportunity to work with Stripe.

### Depends
It depends on #201

### Why
Instead to type and pay in advance with credit card, we must be able to generate invoices that can be paid after the task is concluded, or split in different variants of payment, starting from the one on the screenshot attached

### Level
Advanced

### Current behavior

[2018-12-21 18:24] alexanmtz opened #233 "Task level"
### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to reproduce the user scenario

 - steps to reproduce the issue

### What you will need to

[2018-12-21 18:24] alexanmtz opened #234 "Points for a task accomplished (Badge)"
This is a starting point to start to provide badges that correspond different levels of accomplishments on the platform.

It's a starting point, so the Badge can be added calling a route on the back-end, like post to `/tasks/2/badge/1` with the params needed to create a badge with a reference

### Why
We want to improve the contributor progress and evaluation with badges that will make easier to c

[2018-12-21 18:24] alexanmtz opened #235 "Allow onboarding accounts supported by stripe"
### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to reproduce the user scenario

 - steps to reproduce the issue

### What you will need to

[2018-12-21 18:24] alexanmtz opened #236 "Plans for companies at home page"
We want to show the possible plans for companies on our home page

### Why
We need to show the plan options that we offer for companies and to generate our revenue about the services we provide

### Level
Advanced

### Current behavior
- On home page, there's explanatory sections, but actually a call to actions for the plans is missing

### Expected behavior
- The plans sections should be displaye

[2018-12-21 18:24] alexanmtz opened #237 "Make an offer for a task"
When an user is interested to develop a task, they can show interested by clicking in "I'm interested", but we need to know their suggestion and give some guidance with extra information

### Why
We want to know about the contributor opinion about the task bounty and send an different offer if for some reason they don't agree with the current offer

### Level
Medium

### Current behavior
- The use

[2018-12-21 18:24] alexanmtz opened #238 "Gitpay bot"
We want to create a bot that trigger comments on the issue as the screenshot attached, providing information about the issue and important links to start

### Why
We want to automate the post to the issue providing important info about the issue. It's a way to communicate about the task status and funding

### Level
Advanced

### Current behavior
- When a issue is created on Gitpay, there's no rel

[2018-12-21 18:24] alexanmtz opened #239 "Plans for companies page (pt-br)"
### Why
Motivations when solve this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
some screenshot

### How to solve this issue
 - steps to solve

### How to reproduce the user scenario

 - steps to reproduce the issue

### What you will need to

[2018-12-21 18:24] alexanmtz opened #240 "Plans for companies page (pt-br)"
We need a new page with the route `/companies/plans` that shows options about plans that companies can sign when contact us.

*Don't forget to reference all the strings with our React I18n library for multi-language support*

### Why
We support in development process for freelancers and we have options for projects that is starting and that needs some basic structure to start

### Level
Beginner

[2018-12-21 19:14] #218 closed

[2018-12-21 19:14] #239 closed

[2018-12-21 19:16] #214 closed

[2018-12-21 19:16] #213 closed

[2018-12-21 19:17] #216 closed

[2018-12-21 19:18] #212 closed

[2018-12-21 19:19] #210 closed

[2018-12-21 19:19] #209 closed

[2018-12-21 19:20] #208 closed

[2018-12-21 19:38] alexanmtz commented on #240
![](https://github.trello.services/images/mini-trello-icon.png) [Plans for companies page (pt-br)](https://trello.com/c/BsatI5oi/293-plans-for-companies-page-pt-br)

[2018-12-21 19:39] alexanmtz commented on #238
![](https://github.trello.services/images/mini-trello-icon.png) [Gitpay bot](https://trello.com/c/Nb2UHdDh/199-gitpay-bot)

[2018-12-21 19:40] alexanmtz commented on #236
![](https://github.trello.services/images/mini-trello-icon.png) [Plans for companies at home page](https://trello.com/c/xaOnKRUp/291-plans-for-companies-at-home-page)

[2018-12-21 19:40] alexanmtz commented on #236
![](https://github.trello.services/images/mini-trello-icon.png) [Plans for companies at home page](https://trello.com/c/xaOnKRUp/291-plans-for-companies-at-home-page)

[2018-12-21 19:40] alexanmtz commented on #236
![](https://github.trello.services/images/mini-trello-icon.png) [Plans for companies at home page](https://trello.com/c/xaOnKRUp/291-plans-for-companies-at-home-page)

[2018-12-21 19:40] alexanmtz commented on #234
![](https://github.trello.services/images/mini-trello-icon.png) [Points for a task accomplished (Badge)](https://trello.com/c/O6iavtST/214-points-for-a-task-accomplished-badge)

[2018-12-21 19:40] alexanmtz commented on #234
![](https://github.trello.services/images/mini-trello-icon.png) [Points for a task accomplished (Badge)](https://trello.com/c/O6iavtST/214-points-for-a-task-accomplished-badge)

[2018-12-21 19:40] alexanmtz commented on #234
![](https://github.trello.services/images/mini-trello-icon.png) [Points for a task accomplished (Badge)](https://trello.com/c/O6iavtST/214-points-for-a-task-accomplished-badge)

[2018-12-21 19:41] alexanmtz commented on #234
![](https://github.trello.services/images/mini-trello-icon.png) [Points for a task accomplished (Badge)](https://trello.com/c/O6iavtST/214-points-for-a-task-accomplished-badge)

[2018-12-21 19:41] alexanmtz commented on #232
![](https://github.trello.services/images/mini-trello-icon.png) [Company pay with invoice](https://trello.com/c/HsRWE4xv/260-company-pay-with-invoice)

[2018-12-21 19:42] alexanmtz commented on #237
![](https://github.trello.services/images/mini-trello-icon.png) [Make an offer for a task](https://trello.com/c/FkTa79mP/204-make-an-offer-for-a-task)

[2018-12-21 19:42] alexanmtz commented on #231
![](https://github.trello.services/images/mini-trello-icon.png) [Slack users about task](https://trello.com/c/kfsZwlH1/254-slack-users-about-task)

[2018-12-21 19:43] alexanmtz commented on #230
![](https://github.trello.services/images/mini-trello-icon.png) [Send mail info when message the owner about an user](https://trello.com/c/iR7rzDsU/252-send-mail-info-when-message-the-owner-about-an-user)

[2018-12-21 19:43] alexanmtz commented on #229
![](https://github.trello.services/images/mini-trello-icon.png) [When choose a interested user, send a confirmation before assign](https://trello.com/c/SOBlk2hy/206-when-choose-a-interested-user-send-a-confirmation-before-assign)

[2018-12-21 19:43] alexanmtz commented on #211
![](https://github.trello.services/images/mini-trello-icon.png) [Non activated accounts allow to send payment after sent once](https://trello.com/c/JZ40NF49/202-non-activated-accounts-allow-to-send-payment-after-sent-once)

[2018-12-21 19:44] alexanmtz commented on #228
![](https://github.trello.services/images/mini-trello-icon.png) [Send solution](https://trello.com/c/vEUWM4BN/198-send-solution)

[2018-12-21 19:44] alexanmtz commented on #227
![](https://github.trello.services/images/mini-trello-icon.png) [Better flow to let contributors know about paypal and direct payments](https://trello.com/c/xROaIBuQ/257-better-flow-to-let-contributors-know-about-paypal-and-direct-payments)

[2018-12-21 19:45] alexanmtz commented on #226
![](https://github.trello.services/images/mini-trello-icon.png) [Send dependencies](https://trello.com/c/Ebfq8Jac/274-send-dependencies)

[2018-12-21 19:45] alexanmtz commented on #225
![](https://github.trello.services/images/mini-trello-icon.png) [Preferences](https://trello.com/c/7howIRCs/275-preferences)

[2018-12-21 19:46] alexanmtz commented on #223
![](https://github.trello.services/images/mini-trello-icon.png) [Reminder about task deadline, assigned and useful notifications for a task interest and completition](https://trello.com/c/d8YhAEZw/289-reminder-about-task-deadline-assigned-and-useful-notifications-for-a-task-interest-and-completition)

[2018-12-21 19:46] alexanmtz commented on #222
![](https://github.trello.services/images/mini-trello-icon.png) [Send invite to fund an issue](https://trello.com/c/lRXGNyzH/280-send-invite-to-fund-an-issue)

[2018-12-21 19:47] alexanmtz commented on #221
![](https://github.trello.services/images/mini-trello-icon.png) [Deadline chosen by developer](https://trello.com/c/3wkB8z08/184-deadline-chosen-by-developer)

[2018-12-21 19:47] alexanmtz commented on #220
![](https://github.trello.services/images/mini-trello-icon.png) [As Im interested button, add a make an offer buttom](https://trello.com/c/Kh3RTFoi/287-as-im-interested-button-add-a-make-an-offer-buttom)

[2018-12-21 22:44] #215 closed

[2018-12-21 22:45] #235 closed

[2018-12-21 23:19] #233 closed

[2018-12-22 01:10] #205 closed

[2018-12-22 01:10] #206 closed

[2018-12-22 01:12] #203 closed

[2018-12-22 01:12] #204 closed

[2018-12-25 14:06] alexanmtz commented on #198
![](https://github.trello.services/images/mini-trello-icon.png) [Mail template](https://trello.com/c/cPHpw0cT/298-mail-template)

[2018-12-25 17:51] alexanmtz commented on #185
![](https://github.trello.services/images/mini-trello-icon.png) [Update material-ui](https://trello.com/c/yWgYPvtI/299-update-material-ui)

[2018-12-25 23:52] alexanmtz opened #241 "Paypal unauthorized"
We having an issue when send Paypal payments
[code]

[2018-12-26 00:56] leonardohof commented on #237
codemill$100

[2018-12-26 11:35] alexanmtz commented on #237
@leonardohof you we're assigned on Gitpay: https://gitpay.me/#/task/146

[2018-12-27 14:10] alexanmtz commented on #230
Related pull #242 merged

[2018-12-27 14:10] #230 closed

[2018-12-27 22:53] alexanmtz commented on #241
A new test will be made

[2018-12-27 22:53] #241 closed

[2018-12-27 22:53] alexanmtz opened #243 "Test a paypal flow"
[code]

[2018-12-28 14:38] alexanmtz opened #244 "The filters and tabs on task list is not opening a new tab"
On places that we have the task list like here: [https://gitpay.me/#/tasks/explore](https://gitpay.me/#/tasks/explore) we need to make the tabs and filter regular links to be able to open in a new tab (accessibility) and to be persisted as well (added on the url like https://gitpay.me/#/tasks/explore/open for open tasks, for example)

### Why
We need to improve our task list for accessibility and

[2018-12-28 14:41] alexanmtz commented on #244
https://gitpay.me/#/task/151

[2018-12-29 12:02] alexanmtz commented on #244
Maybe this link could help with the issue when try to run the project on Linux:
https://github.com/mui-org/material-ui/issues/12408

[2018-12-31 13:33] alexanmtz opened #245 "Security issue on authentication"
As reported by @farolanf, authenticated user can access other users data by supplying their user id with the API. We should restrict the user data based on the id of the logged user.

[2019-01-02 07:40] sagarchaturvedi19 commented on #228
Solution sample.

[2019-01-02 21:11] first-timers[bot] opened #247 "Update readme"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

You can see [our Brazilian Portuguese version](https://github.com/hoodiehq/first-timers-bot/blob/master/instructions.pt_br.md)

[About First Timers Only](http://www.firstt

[2019-01-03 02:19] first-timers[bot] opened #250 "Rendering Octocats"
You can see [our Brazilian Portuguese version](https://github.com/hoodiehq/first-timers-bot/blob/master/instructions.pt_br.md)

### We have a challenge for you

When request https://gitpay.me/octos, return an object with all the articles that corresponds to a Octolist from Feedburner.

On the end of this exercise you will be able to make this request on Gitpay and see the list of [Octocats from Gi

[2019-01-03 13:45] alexanmtz opened #252 "Send message action"
A send message button on actions that makes easier to communicate with the candidates

On Actions column add a button that will show a dialog with a message to send message directly to the interested user.

<img width="816" alt="screen shot 2019-01-03 at 2 43 36 pm" src="https://user-images.githubusercontent.com/88840/50640749-0830af80-0f66-11e9-8bff-803af8e42cdd.png">

[2019-01-03 17:59] alexanmtz commented on #238
The app was created: https://github.com/apps/gitpay-me

[2019-01-03 18:00] alexanmtz commented on #238
We have a first comment on issues on a test instalation:
https://github.com/alexanmtz/test-repo-gitpay-github-app/issues/7

[2019-01-03 22:31] alexanmtz commented on #250
We were invited @alnagaev, now you can proceed and be assigned, please let me know if you need any help 🆘

Look forward to see your changes 🚀

[2019-01-04 14:30] alexanmtz commented on #250
I assigned you :-)

[2019-01-04 15:08] alexanmtz commented on #250
#255 merged, congrats @alnagaev for your contribution. Please register on https://gitpay.me to be assigned to tasks and receive bounties for your PR's

[2019-01-04 15:08] #250 closed

[2019-01-04 16:50] alexanmtz opened #256 "Retry button for Paypal payments"
When a paypal payment is failed or open due to no concluded transaction, we should have a button to allow users to retry payment.

### Why
Users with the payment failed should have a chance to retry that same payment rather than create another one

### Level
Beginner

### Current behavior
When a payment is failed, we store the checkout url for the user and we should be able to allow the user to tr

[2019-01-04 18:03] alexanmtz commented on #237
Great contribution @leonardohof, It's working on production

🚀 🚀 🚀 🚀 🚀

[2019-01-04 18:03] #237 closed

[2019-01-05 00:37] alexanmtz commented on #237
@leonardohof just to let you know I've made some changes cause the notifications by email was sent in inverse order, you can check here:
https://github.com/worknenjoy/gitpay/commit/fe62e4c45a16be033a17619933db8881093ce6b8

[2019-01-05 00:49] leonardohof commented on #237
Ok, Sorry about that.

On Fri, Jan 4, 2019, 22:37 Alexandre Magno <notifications@github.com> wrote:

[2019-01-05 11:55] SachinNishal commented on #247
Add me, please ?

[2019-01-05 13:11] alexanmtz commented on #247
You were added and thanks for the PR #259, I approved and we merged already.

Thanks for the contribution 🥇

[2019-01-05 13:15] SachinNishal commented on #247
great !

[2019-01-05 16:34] chan4lk commented on #247
I would like to contribute.

[2019-01-05 16:51] alexanmtz commented on #247
I invited you @chan4lk

You can accept and send a Pull Request ;-)

[2019-01-05 22:09] diegominelli commented on #247
Me adiciona por favor ?

[2019-01-05 22:49] yuritoledo commented on #247
Add me too @alexanmtz please :)

[2019-01-05 23:15] yuritoledo commented on #244
Now it's working fine on linux @alexanmtz . The mui link isn't necessary anymore!

[2019-01-06 00:15] alexanmtz commented on #247
@diegominelli e @yuritoledo vocês foram convidados, e só aceitar que adiciono vocês e podem seguir com os próximos passos e enviar o Pull Request 🔢

[2019-01-06 00:17] yuritoledo commented on #247
Done!

[2019-01-06 00:17] alexanmtz commented on #244
great @yuritoledo and the migrations is working now as well?

[2019-01-06 00:21] yuritoledo commented on #244
Yes, the migrations are. I'd sent a message to you in Slack about another problem :/

[2019-01-07 13:34] PrernaVerma commented on #247
I would like to contribute

[2019-01-07 13:37] alexanmtz commented on #247
@PrernaVerma I sent an invite, just accept the invite you received and you can start 👍

[2019-01-07 13:54] PrernaVerma commented on #247
Done !

[2019-01-07 13:56] alexanmtz commented on #247
You were assigned and now you will need to send a Pull Request to proceed, looking forward to see your PR 🤞

[2019-01-07 14:02] PrernaVerma commented on #247
I have already sent a Pull Request

[2019-01-07 14:09] alexanmtz commented on #247
There's no PR from you @PrernaVerma : https://github.com/worknenjoy/gitpay/pulls

Maybe you created in your own repo?

[2019-01-07 15:04] alexanmtz opened #264 "Assigned to me is showing tasks that I'm not assigned"
At [task explore](https://gitpay.me/#/tasks/explore) page, the assign to me show other tasks that I'm not the one assigned

### Level
Beginner

### Current behavior
On the task filters, when choose "Assigned to me", it shows tasks I'm not assigned

### Expected behavior
The expected behavior is shown only the tasks assigned to me

### Useful links
We use selectors to create the filters

### How to

[2019-01-07 15:06] PrernaVerma commented on #247
Please check it now.

[2019-01-07 15:06] PrernaVerma commented on #247
Please check it now.

[2019-01-07 15:11] alexanmtz commented on #247
Great @PrernaVerma , your code was merged successfully 🥇

[2019-01-07 15:58] alexanmtz opened #265 "Open by default open tasks on task explore"
When access the task exploration page, open by default the open status tasks

### Level
Beginner

### Current behavior
When access the task explorer page, it open all tasks and the finished usually open first

### Expected behavior
Open by default the tasks with the status 'open'

[2019-01-07 22:27] alexanmtz opened #266 "A nice feedback after import an issue to Gitpay"
Would be nice to have a more clear steps after an issue is imported to Gitpay.

Requirements:
- Only load on the first time the user add an issue to Gitpay

## See the screenshots:
![Desktop Copy 2](https://user-images.githubusercontent.com/88840/65995323-97d3a200-e495-11e9-91c8-92c74046c6bd.png)
![Desktop Copy](https://user-images.githubusercontent.com/88840/65995324-986c3880-e495-11e9-8838-c9c2b

[2019-01-07 22:33] mthais opened #267 "Fix the layout of offer"
The goal of this issue is to do some changes to the layout of popup of the option "Tenho interesse" in the task area.

### Why
Is needed to have a layout according to with platform pattern.

### Level
Beginner

### Current behavior
When the developer is interested in a task and he clicks on the button "Tenho Interesse", the system is showing a popup up with some bugs.

### Expected behavior
The po

[2019-01-08 09:27] alexanmtz opened #268 "Update comment doc for Gitpay app"
A portuguese version for this doc that is used to post a comment on a new issue added on Gitpay:
https://github.com/worknenjoy/gitpay-github-app/blob/master/first-comment.md

I started here:
So just edit this document: https://github.com/worknenjoy/gitpay-github-app/blob/master/first-comment.pt-br.md with a portuguese translation

[2019-01-08 10:25] alexanmtz opened #269 "Paypal payment clarification"
Add a text placeholder before the Paypal confirm payment button to explain better how the pre approved payment works

[2019-01-08 11:16] alexanmtz opened #270 "Refactor in Task component"
The Task component is too big and need to split in minor components.

[2019-01-08 11:40] alexanmtz opened #271 "Escreva um artigo na nossa documentação em português"
Escreva um artigo em Markdown sobre como foi a experiência de contribuir com o Open Source

### Referências
Página da documentação: https://docs.gitpay.me/
Branch: `gh-pages`

Você deverá criar uma nova página neste diretório após fazer o fork do projeto:
https://github.com/worknenjoy/gitpay/tree/gh-pages/_posts

Então você deverá criar um Pull Request para a branch `gh-pages`

[2019-01-08 12:45] alexanmtz opened #272 "Find a bug and fix"
If you find a bug and fix it in a Pull Request you will receive a bounty.

Bugs found:
- insecure HTTP cookies: add secure flag
- missing HTTP security headers
- use seperate stylesheet for data-jss
- performance issue on Internet Explorer: website doesn't load

Please verify these bugs and propose a solution or a discussion if you don't agree with some item on this list

[2019-01-11 07:11] wicaker commented on #247
Add me, please!  :)

[2019-01-11 09:14] alexanmtz commented on #225
### 🆕 Welcome to Gitpay

Gitpay is an Open Source platform to reward contributors to get thinks done 💝

[About Gitpay platform](https://gitpay.me).

For portuguese, you can [access the portuguese version](first-comment.pt-br.md)

### 📋 Step by Step

- [x] 🔔 ***Issue open*** an issue was created
- [x] 👌 **Issue added on Gitpay** this issue was added on gitpay [{{url}}]({{url}})
- [ ] 📝 **Add bounti

[2019-01-11 10:59] alexanmtz commented on #245
Solved by @farolanf and already in production 🚀

[2019-01-11 10:59] #245 closed

[2019-01-11 12:08] alexanmtz commented on #95
🚀 first demo working as a Github app

[2019-01-11 12:08] #95 closed

[2019-01-13 12:32] alexanmtz commented on #244
### 🆕 Welcome to Gitpay

Gitpay is an Open Source platform to reward contributors to get thinks done 💝

[About Gitpay platform](https://gitpay.me).

For portuguese, you can [access the portuguese version](https://github.com/worknenjoy/gitpay-github-app/blob/master/first-comment.pt-br.md)

### 📋 Step by Step

- [x] 🔔 ***Issue open*** an issue was created
- [x] 👌 **Issue added on Gitpay** this issue

[2019-01-13 21:48] #268 closed

[2019-01-18 00:58] leonardohof commented on #225
@alexanmtz I spent more time on this task than I thought it would. How about adding $ 25? I'll release today.

[2019-01-18 09:57] alexanmtz commented on #225
Sounds fair @leonardohof , I reviewed your PR and you made a excellent work, just a minor change required and we are good to go 💸

[2019-01-18 11:06] alexanmtz commented on #225
🚀 💯

[2019-01-18 11:06] #225 closed

[2019-01-22 12:32] alexanmtz commented on #198
Done 🚀 , successful use of Sendgrid templates

[2019-01-22 12:32] #198 closed

[2019-01-22 13:54] alexanmtz commented on #264
### 🆕 Welcome to Gitpay

Gitpay is an Open Source platform to reward contributors to get thinks done 💝

[About Gitpay platform](https://gitpay.me).

For portuguese, you can [access the portuguese version](first-comment-pt-br.md)

### 📋 Step by Step

- [x] 🔔 ***Issue open*** an issue was created
- [x] 👌 **Issue added on Gitpay** this issue was added on gitpay [https://gitpay.me/#/task/204](https://

[2019-01-22 13:56] alexanmtz commented on #195
duplicated from other issue solved and merged 🚀

[2019-01-22 13:56] #195 closed

[2019-01-22 18:22] gellys commented on #12
Hello everyone. Add me, please?

[2019-01-23 09:11] alexanmtz commented on #264
Tested and merged, thanks @leonardohof 🥇 🚀

[2019-01-23 09:11] #264 closed

[2019-01-23 09:16] #183 closed

[2019-01-24 14:57] alexanmtz commented on #244
merged on #292

[2019-01-24 14:57] #244 closed

[2019-01-24 14:58] alexanmtz commented on #265
Now it easier with #244 merged

[2019-01-29 09:23] alexanmtz commented on #265
Merged and deployed 🚀 , thanks @elloserafim for the contribution 🎉

[2019-01-29 09:23] #265 closed

[2019-01-29 13:54] #243 closed

[2019-01-29 13:55] #221 closed

[2019-01-29 14:31] #219 closed

[2019-01-30 00:19] alexanmtz commented on #170
Great @rafael-acerqueira 🎉

No problem about your starter experience, It's for learning purpose indeed.
I sent an invite, when you accept I will assign for you.

The backend is already implemented, so it's a good task to learn react and redux by doing

[2019-01-30 00:20] #236 closed

[2019-01-30 09:47] rafael-acerqueira commented on #170
Awesome @alexanmtz

I'm going to start tonight. I let you know if a have any doubts, ok ?

[2019-01-30 19:34] alexanmtz commented on #170
Great @rafael-acerqueira 👍

[2019-01-30 19:50] alexanmtz opened #311 "Make main navigation follow the sections as we scroll the page"
Our main navigation on home page link to sections on the main page. Is possible to click on the links and navigate through the page, but to have it fully working, we need to listen the scroll to change sections as we scroll down the page or use the links.

We use a [react-scroll-to-component](https://www.npmjs.com/package/react-scroll-to-component) to create the animated navigation in the sections

[2019-01-30 20:09] alexanmtz opened #312 "Create sequelize seeds to allow the initial setup of the database"
Create Sequelize seeds, with users and tasks to help developers with the initial setup.

You can follow this tutorial: http://docs.sequelizejs.com/manual/tutorial/migrations.html

### Why
We need a initial setup with at least two users and two tasks

### Level
Level required to conclude this issue

### Current behavior
When start the project, we need to create by hand the first users and task

###

[2019-01-31 00:31] rafael-acerqueira commented on #170
Can I change the delete icon? At the screenshot is showed delete_outline icon, but in the frontend dependencies I don't have this icon.
![delete-icons](https://user-images.githubusercontent.com/9022148/52021792-1e824a80-24d5-11e9-8639-1c41f726fe1b.png).

Can I use delete instead of delete_outline?  ![delete-icons-site](https://user-images.githubusercontent.com/9022148/52021834-483b7180-24d5-11e9-9

[2019-01-31 09:02] alexanmtz commented on #170
Hello @rafael-acerqueira, good observation, we need to update our Material ui version indeed.

You can use icons from the icon library from material ui, that's how they did in old versions, so for the add icon, for example: `import AddIcon from material-ui-icons/Add`

So you can use the delete from here: https://material.io/tools/icons/?style=baseline

And I think will work with `import DeleteIcon

[2019-01-31 09:06] alexanmtz commented on #170
And something which is not described on the issue but will be necessary, it's when the user click on delete, it opens a popup (dialog) to confirm, otherwise the user can delete by accident and if there's bounty added, it will be lost, so good to have a confirmation in this case.

If you think this solution will increase the complexity for you, you can use a default javascript confirm, but if you d

[2019-01-31 09:31] rafael-acerqueira commented on #170
No problem, I didn't explain very well

[2019-01-31 09:32] alexanmtz commented on #170
great @rafael-acerqueira and sorry about the task component, we will need a huge refactoring to split it in more components to be more readable and maintainable.

[2019-01-31 23:38] laugustofrontend opened #314 "Register Bank Account"
Hello, I'm trying to register my bank account, but this one giving error, I get to the end but it does not record, it happens the banks nubank and inter bank, which are the accounts that I have

### Why
Register bank account of users

### Level
Advanced

### Current behavior
![screenshot from 2019-01-31 21-30-35](https://user-images.githubusercontent.com/7988674/52092823-0e836d00-25a0-11e9-9b8e-50

[2019-02-01 02:01] alexanmtz commented on #314
@laugustofrontend have you tried to fill with numbers only, without `-`?

[2019-02-01 09:31] rafael-acerqueira commented on #170
It's no problem. Our code always can be improved

[2019-02-01 23:33] rafael-acerqueira commented on #170
@alexanmtz, I believe that I have finished this task. How can I proceed? Do I create a branch and commit there and then I create a PR ?

[2019-02-02 12:34] alexanmtz commented on #170
Great @rafael-acerqueira , you should have created a fork, and push to a branch and make a PR from your branch. If you created your branch from our repo, you should add a new remote with your fork.

There's a great tutorial about the fork workflow: https://www.atlassian.com/git/tutorials/comparing-workflows/forking-workflow

If this is the case, to not loose what you did, you can proceed adding a

[2019-02-02 13:04] alexanmtz commented on #170
Oh, great that you created the forked already @rafael-acerqueira.

So you should commit (pay attention if your commit have only the files you changed for this PR), push to a branch in your forked repo (it can be the same name) exactly as you mentioned.

From that, you will have a remote branch in your forked repo. To create a PR, if you go the Github repo page, it will show a notification about yo

[2019-02-02 14:04] rafael-acerqueira commented on #170
I got it! https://github.com/worknenjoy/gitpay/pull/319

[2019-02-02 14:16] alexanmtz commented on #170
Great @rafael-acerqueira , I reviewed, please take a look on the comments and suggestion, I will deploy a test app as well to see the result before we merge.

[2019-02-02 18:53] #191 closed

[2019-02-02 21:11] rafael-acerqueira commented on #170
@alexanmtz, as soon as possible I will take a look on the comments and I will make the changes

[2019-02-03 16:40] VictorAlessander commented on #314
My Nubank account was successfully registered without "-"

[2019-02-05 09:08] alexanmtz commented on #170
Deployed to production and excellent first contribution @rafael-acerqueira 🚀 🥇

[2019-02-05 09:08] #170 closed

[2019-02-06 00:14] VictorAlessander commented on #314
On **account number**, I received the hint text saying "Only digits".

@alexanmtz , you can check this field? I can't remove the registered bank account to confirm the information.

[2019-02-07 08:45] yeohsoonkeat commented on #247
I would like to contribute too

[2019-02-07 23:52] alexanmtz commented on #247
@yeohsoonkeat please send a Pull Request following the instructions and we
will review

On Thu, 7 Feb 2019 at 06.45, yeohsoonkeat <notifications@github.com> wrote:

--
--
Alexandre Magno
*Software Engineer*
https://alexandremagno.net/
+45 26479776
@alexanmtz

[2019-02-08 14:42] alexanmtz commented on #314
@VictorAlessander Good! So we have this verification and for account routing we cant apply the same cause I remember some issue with Banco do Brasil

[2019-03-05 04:09] alexanmtz commented on #185
It's been a while, but finally we finish this important task, thanks @laugustofrontend for all your effort and great contribution 🥇  and please check my commits [https://github.com/worknenjoy/gitpay/pull/326/commits](https://github.com/worknenjoy/gitpay/pull/326/commits) to check the fixes needed to complete this.

[2019-03-05 04:09] #185 closed

[2019-03-15 22:58] alexanmtz opened #329 "null value in column "userId" violates not-null constraint on Ubuntu"
We have the following error when run: `docker-compose -f docker-compose.test.yml up`

On ubuntu as result from tests. Probably this happen cause there's test adding records without `userId`.

These tests should be found and fixed and this error should disappear

[code]

[2019-03-15 23:22] alexanmtz commented on #269
🚀

[2019-03-15 23:22] #269 closed

[2019-03-15 23:26] alexanmtz commented on #314
We updated this account manually and I will close this issue for now

[2019-03-15 23:26] #314 closed

[2019-03-15 23:26] alexanmtz commented on #267
🚀

[2019-03-15 23:26] #267 closed

[2019-03-16 13:02] xavierleonardo commented on #311
I'm interested in help with this one.

[2019-03-17 22:40] alexanmtz commented on #311
@xavierleonardo check you solution on the website right now. It on master and it seems not working properly, you can check from master and see why is acting weird and jumping to the last section.

[2019-03-19 02:29] luisabfs commented on #247
I would love to contribute!

[2019-03-19 03:44] leonardohof commented on #329
@alexanmtz See my pull request, please.

[2019-03-19 10:39] alexanmtz commented on #247
@luisabfs , click here to be added to the team and I will assign you

[Invite for Gitpay team](http://probot-invite.herokuapp.com/join/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ3b3JrbmVuam95IiwiaXNzIjo1NTM1NTQsInJvbGUiOiJtZW1iZXIiLCJ0ZWFtcyI6WyIyODA0NDE5IiwiMjYzNzkyOSJdLCJpYXQiOjE1NDY0NzI4NjR9.iHSIS0XuvmvhwOROdkKw64i00PgzeK4e7h_yCxFh1YE)

[2019-03-19 19:53] alexanmtz commented on #247
You were assigned @luisabfs , now you can send the Pull Request as on the instructions 📖

[2019-03-19 20:20] luisabfs commented on #247
Done!

[2019-03-19 20:23] alexanmtz commented on #247
Just missing to reference the issue here @luisabfs , so I completed cause it can be referenced here. Great job, I think maybe you're ready to another challenge?

[2019-03-19 21:03] mthais commented on #168
It has been successfully resolved.

[2019-03-19 21:03] #168 closed

[2019-03-20 00:47] luisabfs commented on #247
Sure, my mistake. And yes, I could do another one.

[2019-03-20 09:28] alexanmtz commented on #247
@luisabfs , what you think about this one: https://github.com/worknenjoy/gitpay/issues/256 ?

[2019-03-22 19:14] mthais opened #340 "Task grid filter doesn't work correctly"
The filter isn't working correctly. When the user selects the option "Created by me" the system returns all registers created by others authors, when the user select the option "I'm Interested" the system returns all tasks created on the system. It's necessary to change the filter to work according their specific action.

### Why
The user needs to filter the task to know about their information.

[2019-03-24 18:15] alexanmtz commented on #311
As the #341 merged we have now a solution for this issue and we're done and thanks @xavierleonardo for the great contribution!

[2019-03-24 18:15] #311 closed

[2019-03-28 08:46] alexanmtz commented on #329
Your changes was merged @leonardohof , thanks for contributing and fix this 👍

[2019-03-28 08:46] #329 closed

[2019-03-28 11:12] alexanmtz commented on #312
I've created a seed for testing but for some reason is not storing on the database, you know the reason @wharley ?

https://github.com/worknenjoy/gitpay/blob/master/migration/seeders/20190326142803-roles.js

https://github.com/worknenjoy/gitpay/blob/master/migrate.js#L51

https://github.com/worknenjoy/gitpay/blob/master/package.json#L12

[2019-03-28 13:41] raulvictorrosa opened #346 "Unable to access the payment setting"
### Current behavior
![Capture2](https://user-images.githubusercontent.com/13530065/55162031-a8513b80-5145-11e9-955e-ca8d5e4f0f95.PNG)

When clicking on payment settings on page Account -> Preferences it gives me the page bellow and after shows me a white page.

![image](https://user-images.githubusercontent.com/13530065/55162070-c159ec80-5145-11e9-97ef-43fc7c3edf8f.png)

### Expected behavior
Sho

[2019-04-22 20:28] mthais opened #349 "Sign-up form validation"
When the user leaves the fields empty and click on the button "Signup", the system shows an error message.

### Why

The system should show theu user the validation message showing that the fields are empty.

### Level
Medium

### Current Behavior

When the user doesn't insert the information on the fields on the SignUp screen and click on the button "Signup", the system shows an error message. (S

[2019-04-25 18:33] alexanmtz commented on #346
@raivitor I think I fixed with #350

Can you test and try to setup your payment?

[2019-04-26 15:56] alexanmtz commented on #143
I think we're good with this for now, merged and deployed 🚀

[2019-04-26 15:56] #143 closed

[2019-04-26 16:00] alexanmtz commented on #186
Let's test this with @gabrielfalcao, who will test with his international account when we create a Pull Request and deploy in a new environment 👍

[2019-04-28 13:57] alexanmtz commented on #223
Related PR #352 merged and deployed 🚀

[2019-04-28 13:57] #223 closed

[2019-05-01 18:35] alexanmtz commented on #346
I will close this now and the bug seems to be fixed

[2019-05-01 18:35] #346 closed

[2019-05-08 09:05] Alamin02 commented on #247
I would like to contribute.

[2019-05-10 17:29] alexanmtz commented on #247
@Alamin02 please click here to join the team and I will assign this issue to you:

http://probot-invite.herokuapp.com/join/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ3b3JrbmVuam95IiwiaXNzIjo1NTM1NTQsInJvbGUiOiJtZW1iZXIiLCJ0ZWFtcyI6WyIyODA0NDE5IiwiMjYzNzkyOSJdLCJpYXQiOjE1NDY0NzI4NjR9.iHSIS0XuvmvhwOROdkKw64i00PgzeK4e7h_yCxFh1YE

[2019-05-11 13:13] alexanmtz commented on #186
I've tested some accounts and it's working, and the Brazilians accounts still works, now we are global 👍

@gabrielfalcao, can you validate your Brazilian account, and with other email, you can create a new account and set your German account to receive payments. Let's try it, it is in production 🚀

[2019-05-11 13:13] #186 closed

[2019-05-15 09:36] alexanmtz commented on #349
Fixed and deployed 🚀

[2019-05-15 09:36] #349 closed

[2019-05-19 15:44] Rbwebsol commented on #272
I am interested

[2019-05-20 11:51] alexanmtz commented on #272
@Rbwebsol please [click here ](http://probot-invite.herokuapp.com/join/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ3b3JrbmVuam95IiwiaXNzIjo1NTM1NTQsInJvbGUiOiJtZW1iZXIiLCJ0ZWFtcyI6WyIyODA0NDE5IiwiMjYzNzkyOSJdLCJpYXQiOjE1NDY0NzI4NjR9.iHSIS0XuvmvhwOROdkKw64i00PgzeK4e7h_yCxFh1YE)to be added to the team and I will assign this task for you

[2019-05-27 13:43] alexanmtz commented on #193
I think is fixed now

[2019-05-27 13:43] #193 closed

[2019-05-27 13:45] #196 closed

[2019-05-27 13:45] #197 closed

[2019-05-27 13:46] #220 closed

[2019-05-27 14:00] lorenzdesmedt commented on #272
- insecure HTTP cookies: add secure flag
- missing HTTP security headers
- use seperate stylesheet for data-jss
- performance issue on Internet Explorer: website doesn't load

[2019-05-27 16:33] alexanmtz commented on #12
This is the favicon that should be added
![9gCANvoJ](https://user-images.githubusercontent.com/88840/58431414-f0d99680-80ad-11e9-8a54-3d1c0a96ee0b.png)

[2019-05-28 10:32] weekly-digest[bot] opened #361 "Weekly Digest (21 May, 2019 - 28 May, 2019)"
Here's the **Weekly Digest** for [*worknenjoy/gitpay*](https://github.com/worknenjoy/gitpay):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week there were no stargazers.

[2019-05-30 23:18] alexanmtz commented on #12
Merged, deployed 🚀  and bounty sent 💸 , thanks @lorenzdesmedt to contribute!

[2019-05-30 23:18] #12 closed

[2019-05-31 08:37] lorenzdesmedt commented on #12
Thanks Alexandre, received the bounty!

Op vr 31 mei 2019 om 01:18 schreef Alexandre Magno <notifications@github.com

[2019-05-31 10:26] #361 closed

[2019-06-04 22:45] alexanmtz commented on #194
🚀

[2019-06-04 22:45] #194 closed

[2019-06-07 13:03] ajmorozoff commented on #256
Hey, I'd like to take this.

[2019-06-07 13:23] alexanmtz commented on #256
@ajmorozoff please confirm your interest https://gitpay.me/#/task/213/ in "I'm interested" button, so I can assign you and you can receive a bounty once your changes is merged.

And you can join the Gitpay team here on Github: https://bit.ly/2Irhfqk
And the slack channel if you need any help: https://bit.ly/31fXhr7

[2019-06-15 23:44] VictorAlessander commented on #340
Greetings.

This issue is already solved?

[2019-06-19 14:08] mthais commented on #340
@VictorAlessander Not yet. Do you want to contribute?

[2019-06-22 21:37] VictorAlessander commented on #340
Yes. Would be great!

Now I'm setting up the project on my workspace. This issue have a deadline?

[2019-06-23 20:51] alexanmtz commented on #340
There's no deadline @VictorAlessander, let me know if you need any help here or on our slack channel

[2019-06-25 02:49] VictorAlessander commented on #312
Greetings.

Can I contribute in this issue?

[2019-06-25 07:26] alexanmtz commented on #312
great @VictorAlessander, I assigned to you this issue, so you can solve it. I started already to implement and we have a command to run seed on npm in package (https://github.com/worknenjoy/gitpay/blob/master/package.json#L12)

And we have some seeds: https://github.com/worknenjoy/gitpay/tree/master/migration/seeders

But isn't working, so the issue is enable locally and maybe add example tasks if

[2019-06-26 00:38] VictorAlessander commented on #312
I tested on my workspace the command `npm run seed` and only not work if the command `npm run migrate` wasn't executed before.

[2019-06-26 07:11] alexanmtz commented on #312
That's great @VictorAlessander, looking forward to review it ✋

[2019-06-27 11:21] VictorAlessander commented on #312
Pull Request created.

[2019-06-27 12:55] alexanmtz commented on #312
Great @VictorAlessander , it was approved and merged and is already in the code base, thanks for your contribution 🚀 🥇

[2019-06-27 12:55] #312 closed

[2019-06-28 01:51] VictorAlessander commented on #340
I don't know if the correct is to tell for you guys what's happened or just open a pull request. If is just open an pull request, please, tell me and I will go right to the point and not explain the cause of other bug again.

Well, I was able to reproduce the bug. Happens basically because for example, changing the language of user, triggers the ComponentDidUpdate. But ComponentDidUpdate will call

[2019-06-28 08:35] alexanmtz commented on #340
Thanks for the suggestions @VictorAlessander , I would go with the suggestion two, it's better handled and with less conditionals flows (if / else and switch)

You can proceed with a Pull request from that one, from the Pull Request we will create a review app from your changes where @mthais can test, and we will use your seed to create the initial setup :-)

[2019-06-29 02:01] VictorAlessander commented on #340
Pull request created :tada:

[2019-07-01 08:50] alexanmtz commented on #340
Great @VictorAlessander , we have now a review app from your Pull Request and we will check, please test the app @mthais https://github.com/worknenjoy/gitpay/pull/377

[2019-07-01 17:02] mthais opened #379 "Mobile browsing with a hamburger menu"
We need to have a better experience in mobile browsing with a hamburger menu, because currently it is breaking the layout on mobile version.

### Why
The menu of the mobile version don't support all items, and it's breaking the layout.

### Level
Medium

### Current behavior
When the user access Gitpay platform on mobile, the system is showing a menu with broke layout.

### Expected behavior
When

[2019-07-02 18:49] alexanmtz commented on #340
Merged and deployed 🚀

Thanks for the great contribution @VictorAlessander

[2019-07-02 18:49] #340 closed

[2019-07-04 11:59] caioreis123 commented on #247
I would love to contribute! :)

[2019-07-04 12:03] alexanmtz commented on #247
You were assigned @caioreis123, looking forward to see your Pull request ✋

[2019-07-04 13:03] alexanmtz commented on #247
Thanks @caioreis123 to send you first PR 🚀 , now you're good to move forward with other issues 🏃

[2019-07-06 11:09] alexanmtz opened #384 "Accept offers and handle transfer from webhooks"
We want to be able to accept created offers and update a payment based on Webhooks from Stripe that trigger a new transfer initiated from the Gitpay platform fund, we want to recognize this way of payment and update the task property.

### Description
We will need to send one extra notification about the offer, with a call to action to accept or reject. Regarding of the choice, it directs the auth

[2019-07-07 11:07] alexanmtz commented on #384
I will close this one cause we need to find a better solution to use the existing payment flow

[2019-07-07 11:07] #384 closed

[2019-07-07 16:05] VictorAlessander commented on #256
I found a possible bug in file **paypal-payment-dialog.js** on line 18.
The conditional is checking the value of state property **termsPaypal**, but doesn't exists.

I'm right about my analysis? If yes, I fix this in the same issue or I need to create another?
![Screenshot from 2019-07-07 13-03-19](https://user-images.githubusercontent.com/21283066/60771011-e8ff1000-a0b7-11e9-8eaf-ac640ff117c6.png

[2019-07-08 08:57] alexanmtz commented on #256
@VictorAlessander , great catch about the bug, actually this was probably after a huge refactoring we did. Thanks for looking into this one! You can send the PR together as you did, and let's review that 👍

[2019-07-10 08:52] alexanmtz commented on #256
Hey @VictorAlessander , we merged your solution and it was deployed 🚀

Check it here: https://gitpay.me/#/task/245, you can see that I've created a Paypal payment that was cancelled, and it works expected, but there's a big issue:

The only user that should be able to see the button is the logged user who created the order. So can you please send a new Pull Request allowing only the logged user to

[2019-07-10 11:17] VictorAlessander commented on #256
Of course.
I will do this right now.

[2019-07-10 12:45] alexanmtz commented on #256
merged, deployed and now work as expected  🎉and the bounty will be send 💸@VictorAlessander , thanks for the great contribution 🙏

[2019-07-10 12:45] #256 closed

[2019-07-10 13:48] alexanmtz commented on #232
This is not good for now, I will close to create other one in the future

[2019-07-10 13:48] #232 closed

[2019-07-10 13:50] alexanmtz commented on #217
duplicate of #234

[2019-07-10 13:50] #217 closed

[2019-07-17 08:11] sinharaksh1t commented on #379
Is anyone working on this issue? If not, I would like to try my hands on it.

[2019-07-18 13:33] mthais commented on #379
@sinharaksh1t Yes, we have another person working on this issue. You can check other issues if you'd like. I'm looking forward to having  you working with us on these issues!

[2019-07-19 00:24] sinharaksh1t commented on #379
Cool, thanks. I'll check other issues then.

[2019-07-19 07:03] alexanmtz commented on #379
@sinharaksh1t , actually you can start work on this, cause the other contributor that was working on these is having issues, please take a look in a good reference from this project of how to do with Material-UI: https://github.com/alexanmtz/material-sense/blob/master/src/components/Topbar.js

Let me know if you have any question on issue and you were assigned

[2019-07-19 12:29] sinharaksh1t commented on #379
Sounds good. I'll start working on this after my work today.
Just curious what would be the deadline to resolve this issue? Also, are there any contributing guidelines you'd like me to follow before I start working on this?

[2019-07-19 12:46] alexanmtz commented on #379
Great @sinharaksh1t 🎉

This is a high priority bug, so it should be fixed as soon is possible, but it suppose to be pleasure for you and a good issue for learn as well, so you think one week is enough?

We have these fresh guidelines: https://github.com/worknenjoy/gitpay/blob/master/CONTRIBUTING.md

And because this is a simple front-end task, you will not need any extra requirements to run the pr

[2019-07-19 20:33] sinharaksh1t commented on #379
Awesome, thanks @alexanmtz. I'll go over the links you provided and get this done within 1 week. I'll keep providing regular updates if things don't go as planned, but that's highly unlikely.
Just last question for now before I begin - do you prefer commits squashed? Or would you like an unaltered complete history of all the commits?

[2019-07-19 20:55] alexanmtz commented on #379
@sinharaksh1t great! Thanks for let me know. Your question is a good on to improve our contribution guidelines, you can commit normally on your branch and we can squash when we approve the Pull Request.

[2019-07-20 03:53] sinharaksh1t commented on #379
Sounds good, thanks @alexanmtz.

[2019-07-20 04:13] sinharaksh1t commented on #379
I ran `npm run test` on master branch itself and I found the following error:
![Capture](https://user-images.githubusercontent.com/28585848/61573837-f1692a80-aa69-11e9-8a78-21f77f18f90b.PNG)

Should I try to fix them in another PR as well or just let them be?

[2019-07-20 15:27] alexanmtz commented on #379
@sinharaksh1t you can run `npm run lint-fix` to solve this and you can send in the same PR

[2019-07-27 07:24] sinharaksh1t commented on #379
@alexanmtz - Sorry about the delay. I couldn't work on this over the entire week due to my full-time work schedule. I just spent some time on this today and the progress is tracked no my branch here: https://github.com/worknenjoy/gitpay/compare/master...sinharaksh1t:sinharaksh1t/issue-379-hamburger-menu
The finish line is still far coz I still need to do a lot of cleanups and of course the actual

[2019-07-30 01:56] alexanmtz commented on #379
Hello @sinharaksh1t , thanks for let me know and great that you made progress! Looking forward to see your pull request 🙏

[2019-07-30 19:18] alexanmtz commented on #270
Deployed and tested 🚀 🤖

Thanks @VictorAlessander for the great contribution 🥇

[2019-08-05 21:44] alexanmtz commented on #379
@sinharaksh1t , some update on this?

[2019-08-08 07:54] alexanmtz commented on #270
@VictorAlessander , when we choose a interested user it throws an error
<img width="1675" alt="Screenshot 2019-08-08 at 09 51 57" src="https://user-images.githubusercontent.com/88840/62685136-560d0a80-b9c2-11e9-85a2-7b24778795d6.png">

Can you check this?

@mthais I think you missed this test.

[2019-08-08 20:58] alexanmtz commented on #270
@VictorAlessander , I fixed the bug and I will close this again, just check #394 to verify what was missing.

Thanks!

[2019-08-08 20:58] #270 closed

[2019-08-08 21:07] alexanmtz commented on #379
@sinharaksh1t , this issue was assigned to @alexandreramosdev on Gitpay. Feel free when you have time to solve any other issue and thanks for the effort.

[2019-08-08 23:15] alexandreramosdev commented on #379
@alexanmtz I'll start start solving this issue. If i have question I'll send a mensage to you! ;)

[2019-08-09 05:57] sinharaksh1t commented on #379
Hey @alexanmtz I'm so sorry for not responding on time. I feel really guilty that I took up this task and I wasn't able to complete it on time. I didn't mean to ghost you like this. Just way too many things happening all of a sudden IRL.
Thank you @alexandreramosdev for taking over. 🙏

[2019-08-09 07:38] alexanmtz commented on #238
This issue was implemented by our Github app

[2019-08-09 07:38] #238 closed

[2019-08-09 07:39] alexanmtz commented on #229
No need for this right now

[2019-08-09 07:57] alexanmtz commented on #228
We will close this for now to simplify to send solution by pasting a link. We need more design requirements

[2019-08-09 07:57] #228 closed

[2019-08-09 08:09] alexanmtz commented on #169
@mthais this is still an issue?

[2019-08-09 08:10] alexanmtz commented on #226
I will close for now, it requires a more detailed design

[2019-08-09 08:10] #226 closed

[2019-08-09 08:12] alexanmtz commented on #379
No problem @sinharaksh1t , this is a bug so we need to solve asap as affect the mobile experience. I can suggest you to do the #222 that is a good first issue. What do you think?

[2019-08-09 08:12] alexanmtz commented on #379
Great @alexandreramosdev , good to have you contributing again 🎉

[2019-08-09 09:15] alexanmtz commented on #231
Zapier automation created 🚀

[2019-08-09 09:15] #231 closed

[2019-08-09 09:17] alexanmtz commented on #224
This needs to be reviewed

[2019-08-09 09:17] #224 closed

[2019-08-09 19:01] mthais commented on #169
@alexanmtz Just the task title that isn't working ok.

[2019-08-11 22:48] VictorAlessander commented on #270
Sorry about this. I don't know how I let this pass.

[2019-08-12 07:56] alexanmtz commented on #169
So I will close this for now

[2019-08-12 07:56] #169 closed

[2019-08-12 18:15] sinharaksh1t commented on #379
Thank you @alexanmtz for understanding. I truly appreciate it. I will check #222 out and post more questions if necessary. Thanks for giving me another chance. I look forward to working on that issue.

[2019-08-12 18:17] sinharaksh1t commented on #222
Can I please have more information about what needs to be done for this issue?
The link (https://github.com/worknenjoy/gitpay/issues/222#issuecomment-449481839) in your comment above says "Card not found"

[2019-08-12 18:53] alexanmtz commented on #222
@sinharaksh1t sorry this card is where the initial plan for this issue was opened, we use before to create the issue.

This is a good issue for you start cause it has a similar feature if you go in "I'm interested" button on the issue page on Gitpay:

<img width="651" alt="Screen Shot 2019-08-12 at 8 34 32 PM" src="https://user-images.githubusercontent.com/88840/62889004-c1e3d000-bd40-11e9-9692-dc

[2019-08-13 10:27] alexanmtz commented on #270
No problem @VictorAlessander , it was a big refactoring and you did a real good job 🤝

[2019-08-21 09:09] alexanmtz commented on #222
@sinharaksh1t some update on this?

[2019-08-21 11:33] #229 closed

[2019-08-22 09:12] #240 closed

[2019-09-02 10:47] alexandreramosdev commented on #379
@alexanmtz I made it as simple as possible not to increase the complexity of the component.

[2019-09-02 11:18] alexanmtz commented on #379
@alexandreramosdev this is not exactly the solution we were expected as the reference we provided, but you did in a simpler, efficient and beauty way of solving this. Many thanks @alexandreramosdev 🎉 🎉 🎉 🎉 🎉 🎉 for the great solution and contribution 🙏

[2019-09-02 11:33] alexanmtz commented on #379
There's still minor issues @alexandreramosdev , if you click on the menu it should change state like the screenshot

And when we scroll with the mobile menu opened, it scroll the screen behind.

But I decided to merge it cause currently it was breaking the layout the way before.

![5c461332c8c0fdfa83316562_cover](https://user-images.githubusercontent.com/88840/64111948-2e714e00-cd86-11e9-8e9f-bca5

[2019-09-02 11:33] #379 closed

[2019-09-02 11:38] alexandreramosdev commented on #379
Ok!  change state in hambuguer is easy !  I will made today !

[2019-09-15 09:37] sinharaksh1t commented on #222
Hey @alexandreramosdev, I'm so sorry I haven't been able to work on this and I don't think I also have the bandwidth to finish this task anytime soon. I sincerely apologize for letting you down twice but I think my current full-time work is something I need to spend the majority of my time on.
Feel free to remove me as the assigned person for this task from me and assign it to someone if they are

[2019-09-16 10:08] alexanmtz commented on #222
Hello @sinharaksh1t , thanks for let me know. Let me know when you available again and feel free to show your interest on the issues you want to work with and good luck with your work!

[2019-09-28 21:27] srkyaganti commented on #182
Hey, can I take this up?

[2019-09-29 13:39] alexanmtz commented on #182
Yes, sure, @srkyaganti ! 👍

[2019-09-29 15:53] srkyaganti opened #410 "Add db seed info to readme"
The documentation contains setup instructions for databases. For a new user to test changes related to maintaining a lot of users, it becomes a tedious task to create users or as a matter of fact data in all the tables for testing.

I would like to propose a seeding script that populates data in all the database tables starting with users

### Why
Motivations when solve this issue
- Reduce break-i

[2019-09-29 16:12] alexanmtz commented on #410
Hello @srkyaganti , thanks for contribute adding an issue. We have a seed here:
https://github.com/worknenjoy/gitpay/tree/master/migration/seeders

Maybe you should documented more, you can run the seeds with:
`npm run seed` and `npm run seed-test` for tests

[2019-09-29 16:35] srkyaganti commented on #410
got it, thanks

[2019-09-29 18:32] srkyaganti commented on #182
Hi @alexanmtz,

If I have any questions/blockers when fixing this issue, is there any channel for communication?
I believe back and forth communication here might be slow.

Thanks,
Srikar

[2019-09-29 18:36] srkyaganti commented on #410
Sorry for accidentally closing it. Will submit a PR soon.

Thanks,
Srikar

[2019-09-29 18:52] alexanmtz commented on #182
Hey @srkyaganti <https://github.com/srkyaganti>

You can join our slack channel:
https://join.slack.com/t/gitpay/shared_invite/enQtNDg4NzM2NDI5NDg4LTk1ZTlhMGJhOGJlOGJhNjgzNTJjM2QxMmNjM2M4Njk0YjllZDBiZDFjZTVlMzBiMzU0NTI3NjE2YWNhNjllOTQ

And we can discuss about the issue you’re facing.

On Sun, 29 Sep 2019 at 20.32, Srikar Yaganti <notifications@github.com>
wrote:

--
--
Alexandre Magno
*Software E

[2019-09-30 10:36] ShivamLatawa commented on #247
I would like to contribute. Thanks! :)

[2019-09-30 11:04] alexanmtz commented on #247
I assigned you @ShivamLatawa to this and you can start and I'm looking forward to see your first Pull Request ✋

[2019-09-30 15:14] saaddalida commented on #247
I would like to contribute too :)

[2019-09-30 17:12] alexanmtz commented on #247
@saaddalida you were assigned and I'm looking forward to see your first Pull Request ✋

[2019-09-30 20:57] alexanmtz commented on #410
Fixed with #412 , thanks @srkyaganti 🥇

[2019-09-30 20:57] #410 closed

[2019-10-02 12:20] alexanmtz commented on #182
![](https://github.trello.services/images/mini-trello-icon.png) [Email to the maintainer that assigned an user](https://trello.com/c/5lnsiwUu/349-email-to-the-maintainer-that-assigned-an-user)

[2019-10-04 08:25] sisohs commented on #247
If it is allowed, I would like to contribute and create a Pull request

[2019-10-04 11:42] alexanmtz commented on #247
You're assigned @sisohs , feel free to create a Pull Request

[2019-10-05 16:24] alexanmtz commented on #182
Merged #418 sent by @srkyaganti . Thanks for your contribution 🎉

[2019-10-05 16:24] #182 closed

[2019-10-05 16:35] alexanmtz commented on #187
We couldn't reproduce this again so we will close for now

[2019-10-05 16:35] #187 closed

[2019-10-06 20:18] laurenelizamax commented on #247
I would like to contribute if this is still open!

[2019-10-08 10:53] alexanmtz commented on #247
Yeah @laurenelizamax , you were assigned and feel free to send a Pull Request!

[2019-10-08 11:35] Alamin02 commented on #247
Assign me, please?

[2019-10-08 11:57] alexanmtz commented on #247
Done @Alamin02 , feel free to send a Pull Request ✋

[2019-10-10 10:33] Alamin02 commented on #266
Hi, can I try this?

[2019-10-10 11:00] alexanmtz commented on #266
Yes @Alamin02 , You were assigned and please follow the project documentation to be able to run the project and develop this feature. If you need any help, feel free to comment here and happy coding 👨‍💻

[2019-10-10 16:28] eduaugustus commented on #266
Hi, can i do this?

[2019-10-10 16:30] alexanmtz commented on #266
@eduaugustus I assigned @Alamin02 to this, can you take another one?

[2019-10-10 16:31] alexanmtz commented on #266
How about this one https://github.com/worknenjoy/gitpay/issues/222 @eduaugustus

[2019-10-11 15:28] alexanmtz opened #425 "Issue page interest redesign"
We have a new page redesign for users interested to solve an issue. This page should now follow the screenshot. It's a task to redesign an existing component.

### Why
We want to improve the experience to apply to solve issues, make offers and understand how to work on Gitpay, as well as an agreement before confirming interest to solve an issue.

### Level
Beginner, and cover only front-end

### C

[2019-10-11 17:06] denni5lin commented on #247
I would like to contribute!

[2019-10-11 17:51] alexanmtz commented on #247
Hello @denni5lin , I assigned you 👍

Looking forward to see your Pull Request.

[2019-10-16 14:13] alexanmtz commented on #252
This was already merged on #421 🚀

[2019-10-16 14:13] #252 closed

[2019-10-20 18:24] SebastianLF commented on #425
Can I work on this?

[2019-10-20 21:45] alexanmtz commented on #425
Hello @SebastianLF , we already received a Pull Request from this one #428 , probably will be merged soon, so feel free to take another one avaiable from our issues.

[2019-10-24 10:07] sisohs commented on #247
I would like to contribute

[2019-10-24 18:53] vchandev commented on #247
Hi! I would like to contribute as well.

[2019-10-25 13:24] alexanmtz opened #433 "Demo for React Advanced London"
This is just a demo issue to show how to add an issue to Gitpay from the Github App

[2019-10-28 09:13] #433 closed

[2019-10-28 20:28] alexanmtz commented on #266
Hello @Alamin02 , some progress with this issue?

[2019-10-30 03:15] Alamin02 commented on #266
Hi, thanks for following up. I am using windows as my development machine. Whenever I run - `npm install`  I get the following errors -

`

Downloading binary from https://github.com/sass/node-sass/releases/download/v4.11.0/win32-x64-72_binding.node
Cannot download "https://github.com/sass/node-sass/releases/download/v4.11.0/win32-x64-72_binding.node":

HTTP error 404 Not Found

Hint: If github.co

[2019-10-31 02:47] IsabelleH02 commented on #247
Gostaria de contribuir, mas ainda não sei muito como funciona...

[2019-10-31 15:05] alexanmtz commented on #266
Hello @Alamin02 , can you try one of these solutions:
https://spin.atomicobject.com/2019/03/27/node-gyp-windows/ ?

[2019-10-31 15:05] alexanmtz commented on #266
@eduaugustus, still interested to work on this?

[2019-11-01 11:52] alexanmtz commented on #247
Hi @vchandev , I assigned you, feel free to send a Pull Request and show your work!

[2019-11-08 15:53] alexanmtz commented on #425
Merged #438 and deployed 🚀

thanks @okansahin for this contribution

[2019-11-08 15:53] #425 closed

[2019-11-08 19:06] alexanmtz commented on #167
Let's close this for now to create a area to setup cards

[2019-11-08 19:06] #167 closed

[2019-11-08 19:08] alexanmtz commented on #234
We will define this better later on with a user profile

[2019-11-08 19:08] #234 closed

[2019-11-09 05:28] SebastianLF commented on #425
Sorry I havent received the notification. :/

[2019-11-16 00:18] alexanmtz commented on #247
Olá  @IsabelleH02, basta editar o arquivo README, adicionar seu nome e
enviar um Pull Request pedindo a integração.

On Thu, 31 Oct 2019 at 03:47, IsabelleH02 <notifications@github.com> wrote:

--
--
Alexandre Magno
*Software Engineer*
https://alexandremagno.net/
+45 26479776
@alexanmtz

[2019-11-18 14:31] alexanmtz commented on #272
We have now issues open related to the bugs reported, we will close this for now, thank you

[2019-11-18 14:31] #272 closed

[2019-11-18 17:23] alexanmtz commented on #247
@luisabfs , @caioreis123 , algum de vocês se interessa em contar a experiência de ter enviado um Pull Request por aqui?
https://github.com/worknenjoy/gitpay/issues/271

[2019-11-18 17:33] alexanmtz commented on #247
Please check our issues https://github.com/worknenjoy/gitpay/issues to continue to contribute with real issues and learn with a real project.

Just comment that you're interested and we will help you ✋

[2019-11-18 19:20] caioreis123 commented on #247
Claro! Foi o meu primeiro pull request, então cumpriu um papel importante no meu aprendizado sobre o funcionamento da dinâmica de se trabalhar com open source.
Foi bom pra mostrar que contribuir com código aberto não é um bicho de sete cabeças, basta ter vontade e conhecimento na área que vc se interessa (inclusive tradução, pois programar não é um requisito).
Agradeço pela oportunidade e recomend

[2019-11-18 19:27] alexanmtz commented on #247
@caioreis123 , pode dar uma olhada nesta issue #271 e saber gostaria de contribuir descrevendo sua experiência com um pequeno texto e assim contribuir com nossa documentação. O que acha?

[2019-11-19 00:07] renatoramiro commented on #173
I would like to contribute with this issue.

[2019-11-19 08:35] alexanmtz commented on #173
Great @renatoramiro , you were assigned! Please start to run the project locally in order to start to work on the issue

[2019-11-29 13:13] amrut07 commented on #247
Hi @alexanmtz,
I'm interested add me please.

[2019-11-29 13:31] alexanmtz commented on #247
@amrut07, you were assigned, feel free to send the pull request

[2019-12-01 15:59] saikiranmarripati commented on #173
I would like to contribute with this issue.

[2019-12-02 10:10] alexanmtz commented on #173
@saikiranmarripati great, I assigned you and you can start to work on it. Please start to run the project locally in order to start to work on the issue.

Please [join our slack channel](https://join.slack.com/t/gitpay/shared_invite/enQtNDg4NzM2NDI5NDg4LTk1ZTlhMGJhOGJlOGJhNjgzNTJjM2QxMmNjM2M4Njk0YjllZDBiZDFjZTVlMzBiMzU0NTI3NjE2YWNhNjllOTQ) in order to get support:

I will send you the development

[2019-12-04 11:05] amrut07 commented on #222
Hi @alexanmtz,
Can I work on this?

[2019-12-04 11:07] alexanmtz commented on #222
Yes @amrut07 , I assigned you, feel free to start and let us know here if you have any question 🙏

[2019-12-08 11:39] justperez commented on #247
Hi, I can have this Issue ready in the day! :D
Bom dia pra tudos!

[2020-01-28 14:03] alexanmtz commented on #222
@amrut07 it's been a while without any updates from this, so I will remove you from this issue

[2020-01-28 14:03] alexanmtz commented on #173
@saikiranmarripati it's been a while without any updates from this, so I will remove you from this issue

[2020-02-03 19:26] alexandreramosdev opened #450 "loading slowly"
### Why
Loading more 10min to finish

### Screenshot attached
![image](https://user-images.githubusercontent.com/34720135/73683566-3caef780-46a1-11ea-870d-4e9c390eb83d.png)
![image](https://user-images.githubusercontent.com/34720135/73684256-919f3d80-46a2-11ea-9100-25449e9b3cb1.png)

### How to reproduce the user scenario

 - Firefox
 - SO - Archlinux

[2020-02-10 21:48] alexanmtz opened #451 "When add a bounty, choose between plans and apply to final price"
We have different plans when adding a bounty, as the screenshot

1. 8% Fee for open source projects
2. 18% For private projects
3. 30% with support

We have saved the project type (public or private) and we need to set automatically 8% for open source and disable 18%, as for private projects we disable open source and set automatically 18% fee.

Please add the plans scheme on the database as an at

[2020-02-10 21:54] alexanmtz opened #452 "[GitHub API] Deprecation notice for authentication via URL query parameters"
On February 10th, 2020 at 21:42 (UTC) your application (Gitpay) used its `client_id` and `client_secret` (with the User-Agent octonode/0.3 (https://github.com/pksunkara/octonode) terminal/0.0) as part of a set of query parameters to access an endpoint through the GitHub API:

https://api.github.com/repositories/481872/issues/10022

Please use Basic Authentication instead as using OAuth credentials

[2020-02-14 08:23] nobady90 commented on #450
yesterday solved right?

[2020-02-14 08:46] nobady90 commented on #173
Hi, if you want, from next week, I can watch it.

[2020-02-14 10:02] alexanmtz commented on #173
Amazing @nobady90 , I will assign you and then you can start

[2020-02-14 14:23] sachinpatil2 commented on #222
Hi @alexanmtz,
Can I work on this?

[2020-02-14 14:32] alexanmtz commented on #222
Yes, you will be assigned, and you will be assigned on Gitpay to receive the bounty: https://gitpay.me/#/task/210

[2020-02-14 14:38] alexanmtz commented on #450
@alexandreramosdev which firefox version this happens?

[2020-02-14 14:47] alexanmtz commented on #451
![](https://github.trello.services/images/mini-trello-icon.png) [Implement fees](https://trello.com/c/zTJdjhRm/391-implement-fees)

[2020-02-14 18:15] alexanmtz opened #453 "Add Signup on main page"
Change the current home page to disable newsletter and add a signup action to direct to signin / signup

### Why
We are moving to signup users directly cause we're not landing page anymore

### Level
easy

### Current behavior
On home page, there's an e-mail field that should be replaced to a sign/signup button that opens the signup / sign-in modal

### Expected behavior
A Signup / Sign in button

[2020-02-14 21:07] #453 closed

[2020-02-15 14:06] alexandreramosdev commented on #450
before there is 73.0 (64-bit).
In this version, the time of loading was 2.58min.

Already on Chrome
![image](https://user-images.githubusercontent.com/34720135/74589302-d56b3e80-4fe2-11ea-8552-ed9a51c98f46.png)

A solution, I think to make a split on app.js because it is the file biggest.

[2020-02-17 11:45] alexanmtz opened #460 "Wrong redirect when trying to login locally in a docker container"
Login fails when running on a docker container for a Linux environment.

### Screenshot attached
![Screenshot from 2019-10-28 22-24-52](https://user-images.githubusercontent.com/88840/74651033-4184a880-5183-11ea-99de-2f01ba963ef8.png)

[2020-02-20 04:18] FrancoisJULIENNE opened #462 "Unable to access the payment setting [depreacation]"
Issue #346 is always present, regression ?

Current behavior
![image](https://user-images.githubusercontent.com/190781/74900370-d8c64780-539f-11ea-96e0-24be331ec2ea.png)

When clicking on payment settings on page Account -> Preferences it gives me the page bellow and after shows me a white page.

![image](https://user-images.githubusercontent.com/190781/74900388-e976bd80-539f-11ea-946c-94a441b3aff

[2020-02-21 11:46] alexanmtz commented on #462
@FrancoisJULIENNE is not the same issue, now this issue happens cause Stripe change the APi and we did an update, but it's not working as expected.

What we can do now is handle the 500 error and provide a message with error, avoiding the blank screen, what do you think? You want to work on this until we have a position from Stripe support?

[2020-02-23 03:48] kandalf commented on #460
@alexanmtz I cannot start the docker containers on Arch Linux. I'm getting this error:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/43977/75103147-a43bd100-55d5-11ea-8668-22fe6da1ab32.png">

Just for what it's worth it works on MacOS Mojave with Docker Desktop Community Edition 2.2.0.3

Any clue about what I might be missing?

[2020-02-23 03:55] kandalf commented on #460
Here's the same running on MacOS:
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/43977/75103236-cf72f000-55d6-11ea-8bf5-10d3440b1969.png">

This seems to be some frontend app dependency that might bot be resolving properly on Linux, but can't tell for sure, I'm no familiar enough with the app.

[2020-02-23 21:10] alexanmtz commented on #460
Hey @kandalf , thanks to report this issue. I verified the module and everything is right, the module is on `package.json`, on `package.lock` and it's imported correctly.

I tried to search and I found this: https://stackoverflow.com/questions/49118005/webpack-unable-to-resolve-node-module-in-docker-image

Maybe try this?

[2020-02-25 05:10] kandalf commented on #460
Hi @alexanmtz It's not only happening on docker, it happens on Linux.
`docker-compose up` didn't create a volume, so there's nothing I could delete as that post suggests.

I'm trying to run `npm run dev` directly on the host (up to date Arch Linux) and I'm getting the same error

[2020-02-25 19:01] kandalf commented on #460
Alright, I got it working. The problem was that `invert-color` is not a dependency of the frontend app itself. IMO, it should be listed in the `frontend/package.json` as well.

[2020-02-25 20:57] alexanmtz commented on #460
Great catch @kandalf 🎉

Yeah, it is used on the front-end on the React application.

So let's proceed and let's have this included in your PR.

[2020-02-25 23:01] alexanmtz opened #465 "Add new labels as filters on "Explorer tasks""
Add extra labels on Explorer tasks, to show issues with bounties and contributions
(issues without bounties).

We need to highlight that new labels add new filters rather than select just one option. So we can have as example issues with `In progress` filter with `Contribution`.

### Why
We want to filter with extra filters, `$` for issues with bounties and `Contributions` to list issues without b

[2020-02-26 21:26] blarcmann commented on #465
Can I please have more information about what needs to be done for this issue?

[2020-02-26 21:31] alexanmtz commented on #465
hello @blarcmann , you need to basically extend our existing filters with react selectors, providing an interface to apply these filters as on the screenshots.

Here is the logic https://github.com/worknenjoy/gitpay/tree/master/frontend/src/selectors used to filter our existing list (with status open, in progress and done), and from that selectors renders on the components on the interface.

You n

[2020-02-27 22:21] alexanmtz opened #466 "Notify all interested users when someone is assigned"
When someone is assigned to an issue, all the interested users who follow that issue should be notified with a generic email.

This is the template email:

[code]

### Why
We need to notified all users interested when someone is assigned, in order to communicate the status with all interested users.

### Level
Beginner

### Current behavior
Currently, when someone is assigned, all the interested u

[2020-02-27 22:24] alexanmtz commented on #466
![](https://github.trello.services/images/mini-trello-icon.png) [Notify all interested user - publish a task update](https://trello.com/c/bpBDxj5a/682-notify-all-interested-user-publish-a-task-update)

[2020-02-28 08:35] arrudaricardo commented on #466
This issue exists and I am willing to work on this.

[2020-02-28 08:50] alexanmtz commented on #466
Great @arrudaricardo, I will assign you to this, and let me know if you need any help.

[2020-02-29 18:27] blarcmann commented on #465
Hi @alexanmtz, can you add me please, so I can make my PR... I'm currently getting 403.

[2020-03-02 21:08] alexanmtz commented on #211
Let's close this, for now, it's been one year and this will need to be revisited

[2020-03-02 21:08] #211 closed

[2020-03-03 14:42] alexanmtz commented on #173
Merged and deployed, thanks @nobady90 for your great contribution 🚀

[2020-03-03 14:42] #173 closed

[2020-03-03 14:44] alexanmtz commented on #222
@TrickSantos is working on this right now

[2020-03-03 14:46] alexanmtz commented on #271
Nobody interested for now, let's close

[2020-03-03 14:46] #271 closed

[2020-03-03 14:48] alexanmtz commented on #462
So to solve this issue we should provide a friendly error page instead of a blank screen when the API call returns 500.

[2020-03-04 10:04] alexanmtz commented on #466
@arrudaricardo , are you still working on this issue?

[2020-03-04 10:20] arrudaricardo commented on #466
Yes, I gonna make a PR latter today.

On Wed, Mar 4, 2020, 12:04 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-03-04 12:37] vinicius98s commented on #266
Hi everyone is there someone working on this? I would be willing to get this task

[2020-03-04 12:56] alexanmtz commented on #266
No @vinicius98s , you can start to work on this one

[2020-03-04 17:06] alexanmtz commented on #466
Merged and deployed 🚀 , thanks for the contribution @arrudaricardo

[2020-03-04 17:06] #466 closed

[2020-03-05 13:36] arrudaricardo commented on #451
@alexanmtz can I work on this issue?

[2020-03-05 13:52] alexanmtz commented on #451
@arrudaricardo this issue is on Gitpay: https://gitpay.me/#/task/314 and someone were assigned to it, it's almost reaching the deadline, so let's see how it goes.

[2020-03-05 14:04] arrudaricardo commented on #451
@alexanmtz Alright, thanks.

[2020-03-09 13:53] alexanmtz commented on #266
@vinicius98s , some progress on this issue?

[2020-03-09 14:21] alexanmtz commented on #465
@blarcmann, are still work on this?

[2020-03-09 14:27] vinicius98s commented on #266
@alexanmtz I setup all the environment on the weekend, also created the modal, just need a better styling and the functionality to move between the steps, I'll try to get this frontend done at least this week

[2020-03-09 15:18] alexanmtz opened #484 "Sync issues status with Github"
We need to sync the issues statuses from Github, so when an issue is closed on Github repository, the status on Gitpay change to closed too. And when this happens, trigger a e-mail notification to inform the user who imported the issue to Gitpay about the issue closed.

The email should follow this template:
[code]

### Why
Synchronize to reflect the status from Github. So when an issue is closed

[2020-03-09 17:57] alexanmtz opened #487 "Sync assigned user from Github"
We need to sync the issues assigned to users from Github, so when someone is assigned to Github, the user assigned should be assigned on Gitpay as well. And we expect that the user is notified about this change by email.

We have two scenarios:
1. User assigned on Github is registered on Gitpay
2. User assigned on Github is not registered on Gitpay

The email should follow this template:

#### Whe

[2020-03-10 04:46] OmegaPointZero opened #490 "Cannot start front-end server on Ubuntu following documentation"
Description

### Why
Documentation regarding how to start and run the front-end server does not work on Ubuntu machines.

### Level
Low

### Current behavior
Attempting  to run npm run dev per documentation to start the front-end server results in `npm ERR! missing script: dev` on Ubuntu machines.

### Expected behavior
The front-end server begins to run without error

### Screenshot attached
![Sc

[2020-03-12 02:11] kandalf commented on #460
@alexanmtz I'm still unable to migrate the database following the instructions, even when the connection information is OK since I can connect to the database using the same credentials with `psql`

![gitpay_migrate](https://user-images.githubusercontent.com/43977/76480434-68827300-63ed-11ea-9022-2ed362e5f0d4.gif)

Feel free to re-assing this issue, since it's taking way longer than anticipated an

[2020-03-12 08:47] alexanmtz commented on #460
@kandalf let's extend the deadline.

And thanks to clarify your issue.

Please try to set your password to `postgres`

As we expected in our config: https://github.com/worknenjoy/gitpay/search?q=postgres&unscoped_q=postgres

Let me know if works 🤞

[2020-03-12 11:57] VictorAlessander commented on #222
Greetings. This issue is available?

[2020-03-12 13:39] alexanmtz commented on #222
Yes @VictorAlessander , I assigned to you: https://gitpay.me/#/task/210

[2020-03-13 19:31] iwaduarte commented on #487
I guess using cronjobs are not the best way. How about using github webhooks and we get an update of every time an issue is created? If I am implementing with cronjobs I will have to check the db state everyday and change for each change (remove, added, updated), the email message will take a day to arrive and a lot of  others problems.

I guess the emit would be the way to go. What are your thoug

[2020-03-14 23:37] alexanmtz commented on #490
@OmegaPointZero are you running on `frontend` folder? It suppose to start from there, if you're running on the root folder, it suppose to run the back end with `npm run start:dev`

[2020-03-15 18:40] alexanmtz commented on #487
thanks @iwaduarte for the suggest, actually you're right, and after some investigation, we will have issues with the limit of request to Github API, once we have thousand of issues to check. So webhooks will be the best option and I updated the issue.

[2020-03-15 20:54] vinicius98s commented on #266
Hey @alexanmtz  just to keep an update on this, I've made the frontend, any thoughts?

![01](https://user-images.githubusercontent.com/38966428/76710316-4a668c80-66e5-11ea-9acf-fa5410ea6c23.gif)

Now Im just wondering how can I get if it's the user's first task, is there already some information on the server that I can use?

[2020-03-15 21:56] alexanmtz commented on #266
Great @vinicius98s !

For now, just a little adjustment with the main images, you need to switch the deadline image with the community image.

And about the information to display on the first task, I was looking for several solutions, and I will suggest one purely on the front-end, to avoid calling the back-end to retrieve the number of issues from that user, or any extra flag on the user to chec

[2020-03-16 05:34] iwaduarte commented on #487
Could you assign that task to me ? I will do it. 👍

[2020-03-16 09:19] alexanmtz commented on #487
Yes @iwaduarte , I assigned you to it, thanks 🙏

[2020-03-16 09:21] alexanmtz commented on #487
@iwaduarte We will need a script to run the check of status on the existing ones

[2020-03-17 13:11] alexanmtz opened #496 "Add current deadline and an option to remove deadline"
When an issue has a deadline, we should open the current value when we open the deadline field, and we need to have a way to disable the deadline to set it to empty again.

### Why
It's a bug that happens for tasks that are recurring, like this one:
https://gitpay.me/#/task/156
https://github.com/worknenjoy/gitpay/issues/247

### Level
Beginner

### Current behavior
Now the panel to set deadlines

[2020-03-17 13:30] alexanmtz opened #497 "Null value on orders from a task"
Any user can add a bounty, even not registered users. But we need to handle null values here for all payments (credit card and Paypal). We should display _User not registered_

### Why
We should handle null values for a given user when they create an order

### Level
Beginner

### Current behavior
It shows a null value

### Expected behavior
It should display _User not registered_

### Screenshot

[2020-03-17 14:20] alexanmtz opened #498 "Who is using Gitpay component on home page"
Create a component to list our clients on our home page. It should be added to the sessions on the top menu as well. For now, the component will receive paths for images and a link to the project.

### Why
Let's start to highlight our clients from projects using Gitpay

### Level
Beginner

### Useful links
  - https://material-ui.com/

### Screenshot attached
![Gitpay - who is using - Desktop HD](

[2020-03-17 14:48] alexanmtz opened #499 "Notify user assigned about deadline updates"
When a deadline is extended or set with a user assigned, notify the assigned user with an email:

We have already set the mail functions with an update for deadlines:
https://github.com/worknenjoy/gitpay/blob/7dbb832ee8859436b31518966a18f5a0ff5e58ea/modules/mail/deadline.js

So it should work, but for some reason, these e-mails are not working.

### Why
We need to notify assigned users about a dea

[2020-03-17 15:17] alexanmtz opened #500 "Random images at home page"
We would like to load different images on our home page from developers and remote work categories.

You can follow this tutorial as reference:
https://dev.to/desi/using-the-unsplash-api-to-display-random-images-15co

### Why
We want a more dynamic home page and this is a pretty interesting challenge

### Level
Beginner

### Current behavior
A fixed home image

### Expected behavior
For each loadi

[2020-03-17 16:22] alexanmtz opened #502 "Error 404 and 500"
Handle some 404 and 500 errors:
- Handle error 404 when access a task not found
- Handle error 500 from newly created accounts with a notification: "There's was an error to process your request"

### Why
We have an empty screen or crash in those situations that we need to handle gracefully

### Level
Beginner

### Current behavior
We're not handling properly error 404 and 500 when access a task an

[2020-03-17 16:43] Progressandro commented on #500
Hi, I'm looking forward to start contributing to Open Source and I like very much the concept of this project.

I would like to know where exactly would these images go. Do you have any sketch or further specs?

[2020-03-17 17:11] alexanmtz commented on #500
Hello @Progressandro, it would be awesome if you could work on this.

I think we don't need a design to this one, it's the main image at the home page, the presentational image in our main hero call.

Is this static image that should be replaced by random images from Unsplash: https://gitpay.me/960b3d9b3ed3000f99c120121c4928f1.jpg

[2020-03-17 17:21] Progressandro commented on #500
Great, I'll try getting this done tonight.

This will be my first contribution attempt, I'll do my best but hope you can understand if I don't nail the PR at first try :grinning: .

[2020-03-17 17:24] alexanmtz commented on #500
I assigned you @Progressandro and we help you in whatever you need to complete, and we're glad that you starting to contribute and that you will do your first contribution with us 🙏

[2020-03-17 17:29] alexanmtz opened #503 "Add issue title in all email notifications templates"
We need to update all email notifications to include the issue title and not only the URL as today.

### Why
Now we're providing only the issue URL, so the user needs to click to actually know what this issue is about, so it would be good to include `title` on email templates.

### Level
Beginner

### Current behavior
On our email notifications related to tasks, we provide only the url on our noti

[2020-03-17 17:41] alexanmtz opened #504 "Keep only one tab when add bounty or change deadline"
When we open _Add bounty_ or _Deadline_ it should keep just the current clicked opened

### Why
It gets confused when both are opened and it would be nice to close one as tabs

### Level
Beginner

### Current behavior
The two contexts open when you click in each one (See screenshot)

### Expected behavior
It should keep just one open (Add bounty or Deadline)

### Screenshot attached
<img width="10

[2020-03-18 01:29] VictorAlessander commented on #222
PR created. Sorry my delay. I had some health issues over last four days ago and currently I'm still under recovering.

So, I need to report some things for this PR (#505)

1- I couldn't test the e-mail notification for invite (Mailchimp). I created an account to myself and added the api key, but somehow I didn't received any e-mail originated by my tests.

2- I refactored the task-invite componen

[2020-03-18 19:17] alexanmtz commented on #222
@VictorAlessander thanks for the update, and no problem, and I hope you get well soon :-)

We have a great progress here.

About your questions:

1- I couldn't test the e-mail notification for an invite (Mailchimp). I created an account to myself and added the API key, but somehow I didn't receive any e-mail originated by my tests.
_The email notifications are sent with Sendgrid, so I need to send

[2020-03-19 00:45] Progressandro commented on #497
Noob question: I'm trying to tackle this, however, I don't really know how to import a task in the development enviroment, since I can't really run the github auth.

 How can I do that?

[2020-03-19 13:51] alexanmtz commented on #497
@Progressandro you can create an account on the platform, without Github or Bitbucket, and then you can import an issue 👍

[2020-03-19 13:53] alexanmtz commented on #500
Let's see how it works, great solution and thanks for contributing @Progressandro 🚀

[2020-03-19 13:53] #500 closed

[2020-03-19 14:07] alexanmtz opened #507 "Enable apply button when interested user choose issue for learning purposes"
When a user is interested to work on an issue, we have an option to apply for learning purposes, but now there's a bug that the button to apply is not enabled when he set to work for learning purposes

### Level
Beginner

### Current behavior
The button is not enabled when you check _For learning purposes_ when you're applying to solve an issue

### Expected behavior
The button to apply to solve t

[2020-03-19 14:54] Progressandro commented on #500
Alright then, thanks for the assignation @alexanmtz ! :grinning:

Would you mind if I try to solve other issues? Or there are already covered? I need real life examples for my React practices, and it would be nice if it can also help the project :smile:

[2020-03-19 15:02] alexanmtz commented on #500
Sure @Progressandro, feel free to comment on the issue you want to challenge yourself, and I can assign you 👍

[2020-03-19 15:32] alexanmtz opened #508 "Send message for assigned users is not working"
When a user is assigned, we have a box to send him a message, the same that open on the interested list, but for some reason, the modal to send a message is not showing.

### Level
Beginner

### Current behavior
When clicking in _Send Message_, on the assigned message box, nothing happens

### Expected behavior
When clicking in _Send Message_, open the dialog to send message to that user, the same

[2020-03-19 16:16] Progressandro commented on #507
Please assign this one to me, already solved it :rocket: .

[2020-03-19 17:50] arrudaricardo commented on #451
@alexanmtz  Just to confirm, since users can make many order for each task each order should have a fix plan? or each order created should have a specific plan ? In this case plan should be an attribute for the Order and not for task ?

[2020-03-20 09:46] alexanmtz commented on #507
Great @Progressandro , great catch, you can create now a PR with your changes 👍

[2020-03-20 10:32] alexanmtz opened #509 "Filter labels"
On our task explorer, provide filters that correspond to issues labels

### Why
We want a way to filter issues by _React_, for example, or _React_ + _Node.js_

### Level
Medium

### Current behavior
The issues can be filtered by status, but not by labels

### Expected behavior
We want a filter for labels. So if I have an issue A, with the label _React_ and _Node.js_, and an issue B with _Documenta

[2020-03-20 10:45] alexanmtz opened #510 "Wrong email sender when send message to interested users"
When an email is sent using our message system, it should send as the current user logged not the author

### Why
When we send message to interested and assigned users, the message from seems to use the author who imported that issue to Gitpay, but users from original issues have access and can send messages, so we need to make sure that the message from is from the current user

### Level
Beginne

[2020-03-21 01:37] kandalf commented on #460
@alexanmtz I changed the password in `config/config.js` and `config/secrets.js`, that worked, not sure which one did the trick, but I just wanted to move on. This shoud be better documented, but it's out of the scope of this ticket.

I finally got the app up and running, and could reproduce the issue. I'll start looking into it now if you think it's OK.

[2020-03-21 06:06] kandalf commented on #460
Alright, PR sent. The issue was really simple, too bad it took too long to to get the app up and running.
Instructions for docker should be added in the README.
Maybe a follow-up PR for that?

[2020-03-22 14:12] alexanmtz commented on #460
Great @kandalf, and a great catch, yeah, sad about the environment but good that we could find an easy solution in the end.

Feel free to update the documentation in another PR 👍

Your solution was merged, thanks for contributing 🚀

[2020-03-22 14:12] #460 closed

[2020-03-22 14:17] alexanmtz commented on #507
Great @Progressandro, your changes was merged and deployed. Thanks for contributing 🚀

[2020-03-22 14:17] #507 closed

[2020-03-22 15:43] alexanmtz opened #513 "Project page"
We need a dedicated page to list our projects. The project information should be used from Github and Bitbucket. We will have a new menu item o the top with the label _Projects_ and should go to the project page as the screenshot.

We need to find a solution to associate current issues to project without any effort and new issues can be associated with their projects.

### Why
Now we have a lot of

[2020-03-22 17:13] alexanmtz opened #514 "Add issue deadline to calendar"
When the assigned user receives the notification about the deadline for an issue, please provide the link to add to the user calendar.

### Why
It would be amazing if we can add the deadline to the user calendar, so this user will be aware of the deadline expected to send a solution to that issue.

### Level
Beginner

### Current behavior
When an email is sent to the assigned user, the user receiv

[2020-03-22 17:22] alexanmtz opened #515 "Update task url on Gitpay that was edited on bitbucket"
When the user edits some task on bitbucket repository, and this task already was added on Gitpay, the system doesn't recognize this task, because the link that was put on Gitpay is associated with the task name that was created

### Level
Beginner

### How to reproduce the user scenario
 - Create a user
 - Import an issue from bitbucket
 - Change title on Bitbucket
 - Check the issue on Gitpay

##

[2020-03-22 17:30] alexanmtz opened #516 "Unit tests for email template is failing"
We have now some unit tests on our email templates.

### Level
Beginner

### Useful links
  - https://github.com/worknenjoy/gitpay/blob/master/test/email.test.js#L10

### How to reproduce the user scenario
 - Replace `xdescribe` to `describe` to see the mail tests running

### What you will need to complete this issue
Run the tests

### Tips
xdescribe is a way to skip some unit tests

[2020-03-22 17:56] alexanmtz opened #517 "Duplicated user on the user interested tab"
We should have a unique interested user row on the interested tab on the task page

### Level
Beginner

### Current behavior
When you're interested to work on an issue, you can apply in _Im' interested_ and if you apply twice, you will see a duplicate entry

### Expected behavior
Users interested should be unique and rather then add a new one, it should update the current interested with the last

[2020-03-22 18:05] alexanmtz opened #518 "Wrong user on update history"
We need to check the user that we display on the history tab on the issue page. It seems that is not the right user, cause in this case on the screenshot, it should be the real author

### Level
Beginner

### Current behavior
It should display on task history who imported that issue, and now displays another user

### Expected behavior
It should display the user who created that issue

### Screens

[2020-03-22 18:16] alexanmtz opened #519 "Wrong target on Bottom navigation"
There are one / more items on bottom navigation pointing to the wrong target dialog

### Level
Beginner

### How to reproduce the user scenario
 - Go to the home page and check the bottom navigation

[2020-03-22 18:21] alexanmtz opened #520 "NaN displaying on interested dialog when the suggested value is empty"
When the price is empty again, the confirmation checkbox retrieves NaN, it should display to the original initial value.

### Why
Motivations when solving this issue

### Level
Level required to conclude this issue

### Current behavior
current behavior

### Expected behavior
expect behavior

### usefull links
  - https://example.com

### Screenshot attached
<img width="611" alt="Screenshot 2020-0

[2020-03-22 18:28] alexanmtz commented on #266
Hello @vinicius98s, are you still working on this?

[2020-03-22 18:34] alexanmtz opened #521 "Notify maintainers with an email asking to add funds"
When a user imports an issue, add a cronjob that will send an email once two days after he imported this issue to Gitpay. Repeat for 5 times

This will be the email template for now:

[code]

### Level
Beginner

### How to reproduce the user scenario
 - Create a user
 - Import an issue
 - A cronjob should send the e-mail 2 days after

### What you will need to complete this issue
You will need the

[2020-03-22 18:49] alexanmtz opened #522 "Notify the updates from history to users interested to work in a task"
We have the history from an issue added to Gitpay, and we would like to send a mail notification to all interested users.

### Why
We want to notify interested users about all updates from an issue imported to Gitpay.

### Level
Beginner

### Current behavior
When some state from an issue changes, nothing happen.

### Expected behavior
When any update happens, we have a table that stores the chang

[2020-03-22 18:53] alexanmtz opened #523 "Assigned card on the top when add bounty is opened"
The assigned card should be displayed below the add bounty component.

### Level
Beginner

### Screenshot attached
<img width="809" alt="Screen_Shot_2019-05-27_at_6 40 00_PM" src="https://user-images.githubusercontent.com/88840/77257744-8619cd00-6c76-11ea-948a-df50848ad1ba.png">

### How to reproduce the user scenario
 - Create a user
 - Import an issue
 - Create another user
 - Apply to solve the

[2020-03-22 20:01] vinicius98s commented on #266
@alexanmtz Yes, i'm sorry i didn't have much time at the past week but i will try to open a PR asap

[2020-03-23 08:31] alexanmtz opened #524 "Should confirm an account created"
When a new account is created (register with a local account, Github or Bitbucket), the user should confirm the account.

### Why
When an account is created, we need a way to confirm to increase security and avoid spams accounts.

### Level
Medium

### Current behavior
When the user Sign up, there's no confirmation to validate his account.

### Expected behavior
When the user Sign up, create the a

[2020-03-23 08:53] alexanmtz opened #525 "Website doesn't load on Internet Explorer"
On our Find a bug and fix program #272, one of our members reported that the site is not opening on Internet Explorer.

### Level
Beginner

[2020-03-23 08:55] alexanmtz opened #526 "insecure HTTP cookies"
On our Find a bug and fix program #272, add secure flags in our HTTP cookies to improve security

### Level
Beginner

[2020-03-23 08:57] alexanmtz opened #527 "Missing HTTP secure headers"
On our Find a bug and fix program #272, check this information and add the security headers needed

### Level
Beginner

[2020-03-23 08:59] alexanmtz opened #528 "Use a separate stylesheet for data-jss"
On our Find a bug and fix program #272, we want to see the possibility to use a separate stylesheet for data-jss.

### Level
Beginner

[2020-03-23 09:01] alexanmtz opened #529 "See on provider link should go to a new tab"
When we have a provider (Github or Bitbucket) link on the task page and task explorer, it should direct to a new tab.

### Level
Beginner

### How to reproduce the user scenario
 - Create a user
 - Import an issue

[2020-03-23 09:06] alexanmtz opened #530 "Remove all email information about the assigned user on email templates"
We don't want to provide more email information on the email we send to the user when he assigns a user, as well as other email notifications.

### Why
We have now a message system, so no need to share the e-mail in the email notification body

### Level
Beginner

[2020-03-23 09:11] alexanmtz opened #531 "Add Mailchimp language preference to that user and keep in sync"
When a user is created, we add this user to a Mailchimp list, so we should send the user preference of language and update when this user updates their preferences.

### Why
When we need to send a campaign to different markets based on user preferences.

### Level
Beginner

### Useful links
  - https://mailchimp.com/developer/

### How to reproduce the user scenario
 - Create a user - should add t

[2020-03-23 10:38] alexanmtz opened #532 "Define user role"
We want to define user roles when they register and as part of the account settings

### Why
We want to know the user roles to offer a more optimized experience (Later on)

### Level
Medium

### Current behavior
We create a user, and this user is generic

### Expected behavior
The user should have multiple roles

### Screenshot attached
![role-page-config](https://user-images.githubusercontent.com

[2020-03-23 10:43] alexanmtz opened #533 "Display the number of items on the task explore filter"
We want to display the number of items from a filtered list

### Why
So we have an idea of how many items we have in that collection of filters.

### Level
Beginner

### usefull links
  - https://mui.com/material-ui/react-chip/

### Screenshot attached

<img width="562" alt="Screen Shot 2024-01-03 at 8 52 07 PM" src="https://github.com/worknenjoy/gitpay/assets/88840/74a26fa1-c7e8-4301-a199-51ac62d

[2020-03-23 12:55] alexanmtz opened #534 "Welcome user"
A wizard when the user creates an account

### Why
A warm welcome to our user and basic instructions

### Level
Beginner

### Screenshot attached
![Mobile3](https://user-images.githubusercontent.com/88840/77318507-78fbed00-6d0d-11ea-9f40-945f2e4a8cd3.png)
![Mobile2](https://user-images.githubusercontent.com/88840/77318514-7b5e4700-6d0d-11ea-933d-c805f662229e.png)
![Mobile1](https://user-images.git

[2020-03-23 12:59] alexanmtz opened #535 "Change account settings"
A new item on a user account to change their account settings. The menu have an item _Settings_ and the user will be able to connect from Github, Bitbucket or local account and change settings.

### Why
We need a way to change the initial settings from that user

### Level
Beginner

### Screenshot attached
![change-account](https://user-images.githubusercontent.com/88840/77318828-093a3200-6d0e-11e

[2020-03-23 13:55] alexanmtz opened #536 "No bounty added label"
We need to display "No bounty added" instead of $0 on the task page and task explorer

### Why
We want a more clear way to communicate about the state of the funds for that issue

### Level
Beginner

### Screenshot attached
![Desktop Copy](https://user-images.githubusercontent.com/88840/77323839-2bd04900-6d16-11ea-89c2-f220c2c2e231.png)
![Desktop](https://user-images.githubusercontent.com/88840/77

[2020-03-23 15:39] alexanmtz opened #537 "Gitpay team"
A new page (should be included in the top menu "Team"), with a list of team members from the core. The data can be a simple JSON with name, role, description, picture URL, website, and Github (or Bitbucket) profile.

A component to notify someone who wants to join the team. The join action should send an email to our notifications mail (in a constants file) with the content:

[code]

### Why
We ha

[2020-03-23 15:58] alexanmtz opened #538 "Stats page"
A status page as the screenshot, with relevant data about the platform. It should be on the path `/stats`

### Why
We want to have our stats to our users and to follow the community numbers.

### Level
Advanced

### Screenshot attached
![stats-page](https://user-images.githubusercontent.com/88840/77335127-08ad9580-6d26-11ea-84a8-33920c93e456.png)

### Assets
![Group-graph](https://user-images.gith

[2020-03-23 16:23] alexanmtz opened #539 "Hire and work landing page"
Our landing page and new page to start our tool for hiring. This page should be a new route like `/recruitment`

### Why
As part of our strategy, we will start to provide a way to connect contributors to companies

### Level
Medium

### Screenshot attached
![Gitpay landing page hire - Desktop HD](https://user-images.githubusercontent.com/88840/77336979-92f6f900-6d28-11ea-8e10-63ae4ccba229.png)

##

[2020-03-23 17:15] ShubhamCanMakeCommit commented on #450
Yes @alexandreramosdev splitting app.js works. But I also think some images are too big in size and go over 500KB. Can we do something about it?

[2020-03-23 17:52] alexanmtz opened #540 "A new user profile Card"
A better way to highlight the user profile

### Why
A good way to have an overview about the activities on Gitpay

### Level
Beginner

### Screenshot attached
![user-profile-card](https://user-images.githubusercontent.com/88840/77346848-2f27fc80-6d37-11ea-9ca9-9a5078112c4c.png)

### How to reproduce the user scenario
 - Create a user
 - You will be redirected to profile page with a user card compo

[2020-03-23 18:03] alexanmtz opened #541 "Add another avatar with the author listed on task page"
We need to display who is the original author (from Github or Bitbucket) and who created on Gitpay, so we will add another avatar along with the author currently listed. If it is the same, just list one author's avatar as we have today.

So the labels would be _author from provider_, where the provider is Github or Bitbucket, and _Imported by_ with the user who imported the issue to Gitpay

### Wh

[2020-03-23 18:24] alexanmtz opened #542 "Provide a survey link to users who concluded some issue"
When a bounty is sent to this user and the issue is finished and paid, send a survey link to get user feedback. This notification should be sent 5 days after he concluded the issue.

The email would have the following message:
Subject: Please let us know your experience to work on this issue
Content:
[code]

### Why
We want to have user feedback when an issue is concluded.

### Level
Beginner

###

[2020-03-23 18:45] alexanmtz opened #543 "Script to show orphan accounts on Stripe with users registered on Gitpay"
We want a script that we execute in order to have the status from Stripe accounts created from Gitpay.

This script should check for each user if there's an email when checking the Stripe account information. So you should try to get that account with email, and then the script should output for each user as the example:

[code]

The script can be a new js file called `scripts.js` on the root dire

[2020-03-23 19:32] alexanmtz commented on #450
@ShubhamCanMakeCommit  We can reduce the biggest image dimensions, or adjust the quality, but this would be a step further. Let's proceed with app.js split and see the improvement? The main image now we get from Unsplash #500.

[2020-03-23 19:42] alexanmtz opened #544 "Save for later"
A new option on task page action bar, with "Save for later" label with a save icon. And once it is clicked and saved, it should switch to "Remove from Save for later" with the delete icon. Then when we are on task explorer, it should have a new tab item with the label "Saved for later", with the issues filtered by the saved ones.

We should create a model with a user with many saved issues.

### W

[2020-03-23 19:47] alexanmtz opened #545 "Start to count the deadline when a user is assigned"
When a user is assigned, we start to count the deadline defined

### Why
We need to have the deadline starting from where a user was assigned

### Level
Beginner

### Current behavior
When a deadline is set, we start to count from the created date to count

### Expected behavior
When a deadline is set, start counting when a user is assigned

### How to reproduce the user scenario
 - Create a user

[2020-03-23 19:51] alexanmtz opened #546 "Display a loading state when the main page is loading"
Display a central loading when the page is loading

### Why
Feedback to have a perception that we're loading

### Level
Beginner

### Current behavior
A blank page when is loading

### Expected behavior
A loading bar before the page loads

### Useful links
  - https://material-ui.com/components/progress/

### How to reproduce the user scenario
 - Open the home page

[2020-03-23 19:53] alexanmtz opened #547 "A model for teams"
We should create a model to have teams with names, and teams have many users.

### Why
We will start to organize users in teams to have better control of permissions later on.

### Level
Beginner

[2020-03-23 19:56] alexanmtz opened #548 "Display other currencies on transfer notification"
When we send notification about the transfer, we need to support all currencies

### Why
We need to handle the currency when sending this confirmation to our users.

### Level
Beginner

### Screenshot attached
![image jpeg](https://user-images.githubusercontent.com/88840/77357514-98643b80-6d48-11ea-9786-486f59f503ee.jpg)

### How to reproduce the user scenario
 - Create a user

### What you will n

[2020-03-23 20:03] alexanmtz opened #549 "Display friendly dates on mail notifications"
We have some raw dates as the screenshot and we want to display friendly dates.

### Screenshot attached
![image jpeg](https://user-images.githubusercontent.com/88840/77357514-98643b80-6d48-11ea-9786-486f59f503ee.jpg)

### What you will need to complete this issue
You don't need to

### Tips
You can use automated tests to verify if the date passed is in the way you expect.

[2020-03-23 20:11] alexanmtz opened #550 "When add a bounty, if someone is assigned just send to assigned user"
When a user is assigned and someone adds funds to that issue, notify interested users if nobody is assigned, or that user assigned if he's currently assigned.

### Why
We want to notify users to let us know that a bounty was added.

### Level

Beginner

### Current behavior
Part of this feature, that sends a notification to all users when a payment is done successfully, is commented, so you should

[2020-03-23 20:31] alexanmtz opened #551 "Confirm password input"
A confirm password input that should validate if the password confirm match the password

### Why
A good practice to save passwords is a guarantee that is not typed accidentally and causes the user to be unable to access his account.

### Level
Beginner

[2020-03-23 20:38] alexanmtz opened #552 "List issue status - public or private"
List and record the issue status (public or private) on the task page and if it is a bounty.

The part to display if this issue is a bounty is just listed static, cause we just have now bounties.

### Why
We have public and private issues, so we should display the current status.

### Level
Beginner

### Screenshot attached
<img width="496" alt="Screenshot 2020-03-23 at 21 32 39" src="https://user

[2020-03-23 20:40] alexanmtz opened #553 "Add react-native to preferences"
We have a preference table and some topics, and we need to add `react-native` as an option on preferences.

### Why
We want to know users who work with React Native

### Level
Beginner

### How to reproduce the user scenario
 - Create a user
 - Go to preferences

[2020-03-23 20:46] alexanmtz opened #554 "Sync labels"
Sync labels between Gitpay and Github.

### Why
We will process some information from labels, and we don't want to make unnecessary requests to Github to obtain labels.

### Level
Beginner

### Useful links
  - https://developer.github.com/v3/issues/labels/

### Tips
Maybe webhooks will be the best solution.

[2020-03-23 21:09] alexanmtz opened #555 "Let maintainer know that the repo was forked by the assigned user"
When someone forks a repo from an issue from Gitpay, notify the user who imported that issue to Gitpay that the assigned user started a fork.

The email will have the following content:
Subject: The user you assigned to an issue on Gitpay forked your project
Content:
[code]

### Why
We will start to provide ways to show the progress of a task based on events from Github.

### Level
Beginner

### H

[2020-03-24 10:49] alexanmtz opened #557 "Open for jobs checkbox"
Add a checkbox and an attribute on the User model which record if the user is open for job opportunities

### Why
Users with this option activated will have a chance to receive job proposals from their contribution

### Level
Beginner

### How to reproduce the user scenario
 - Create a user
 - Go to user preferences

[2020-03-24 10:54] alexanmtz opened #558 "Weekly emails with available tasks based on user interest"
Send a Cronjob that will match users with emails.

It depends on #554

### Why
We will have a basic recommendation system to send issues based on user interest

### Level
Medium

### Useful links
  - https://github.com/worknenjoy/gitpay/blob/master/cron.js

### Tips
Use the label and user preferences to send to an existing templating (or copying) of a collection of issues, as we have for other pur

[2020-03-24 10:56] alexanmtz opened #559 "Send weekly task with the label "Weekly digest""
When setting a label "Weekly Digest", add this issue as part of a special weekly digest.

### Why
When we want to highlight issues we can add to a weekly digest

### Level
Medium

[2020-03-24 11:00] alexanmtz opened #560 "Update material-ui"
Update Material-UI to the latest version and test

### Level
Beginner

### Useful links
  - https://material-ui.com/

[2020-03-24 11:05] alexanmtz opened #561 "Direct link confirm assignment"
We want a route on the front-end that allows users to confirm interested users to work on an issue. This link will be placed on email notifications and will direct to a route that approved that user (logged) assignment from the author.

### Why
We want to approve directly from the email and directs user to the page with the confirmation.

### Level
Beginner

[2020-03-24 11:39] alexanmtz opened #562 "Price offer on Github labels"
When an issue from Github imported to Gitpay and a bounty is added, for example, the following format: `price: 10USD` on the labels, and comment on this issue:

`A bounty of 10USD was added to this issue. See task on Gitpay: {{url}}`

### Why
A way to set on Github the actions did on Gitpay.

### Level
Medium

### Screenshot attached
![pageshot_of__Git_sever_deploy_Issue_38_tapaswenipathak_Interns

[2020-03-24 11:41] alexanmtz opened #563 "Newsletter about first timers only"
A Cronjob to send a weekly newsletter with issues to Get started. The job should get all issues with the label "first-timers-only".

### Why
A way to offer simple issues so the user can start to contribute with Gitpay

### Level
Beginner

[2020-03-24 11:58] alexanmtz opened #564 "Accept work feature to approve the start of the work"
We should have the status of an offer to track the start of work and complete that offer.

The user should receive the following email:
Subject: You were accepted to work on an issue on Gitpay
Content:
[code]

When the proposal is accepted, we should send the confirmation email as we have today, when rejected, we have the following notification:

Subject: The user interested to work in an issue on

[2020-03-24 12:03] alexanmtz opened #565 "Add info about who is inviting"
Add template variables to add info about who is inviting to work in an issue.

### Why
We want to include the information about who is actually inviting, so they know a better context.

### Level
Beginner

### Useful links
Here where we send this information:
https://github.com/worknenjoy/gitpay/blob/master/modules/tasks/taskInvite.js

[2020-03-24 12:06] alexanmtz opened #566 "Save preferences on check"
Now we need to press save on user preferences to save, and we want to save listening change events, so when a checkbox is checked/uncheck, save these preferences.

### Why
We want to save this information once the user change.

### Level
Beginner

### How to reproduce the user scenario
 - Create a user
 - Go to preferences

[2020-03-24 12:12] alexanmtz opened #567 "Let users interested know if that task is already with someone assigned"
If someone show interest in an issue already assigned, let the user know.

We should send the following notification:
Subject: The issue that you're interested on Gitpay is already assigned
[code]

### Why
We want to notify users to be aware that that issue is already assigned.

### Level
Beginner

### How to reproduce the user scenario
 - Create a user
 - Import an issue to Gitpay
 - Create anoth

[2020-03-24 12:22] alexanmtz opened #568 "Ask feedback to contributors after payment"
Send a notification with a link to a Survey to users 5 days after he had received the notification about the transfer of the funds.

The e-mail has the following format:

Subject: How was the payment from Gitpay
Content:
[code]

### Why
We want to follow up to know that this user received the bounty

### Level
Beginner

### Useful links
  - https://github.com/worknenjoy/gitpay/blob/master/modules/

[2020-03-24 12:27] alexanmtz opened #569 "Adding translation in pricing section and create a tutorial"
We're missing translation in the Pricing section on the home page. We want that we add a section on our documentation about how to add translations based on your experience to implement this.

### Why
All the places in our application we should use the internationalization library.

### Level
Beginner

### Useful links
  - React Intl: https://github.com/formatjs/react-intl

[2020-03-24 12:30] alexanmtz opened #570 "Terms of service"
Create a sample Terms of Service page on our Bottom navigation

### Why
We will provide a Terms of Service of the use of Gitpay

### Level
Beginner

[2020-03-24 12:35] alexanmtz commented on #450
@ShubhamCanMakeCommit please you can apply here:
https://gitpay.me/#/task/316

To receive a bounty to solve this issue 👍

[2020-03-26 05:37] qiweiii commented on #247
Hi @alexanmtz, I interested in this, could you invite me to this repo?

[2020-03-26 06:26] qiweiii commented on #247
@alexanmtz, I have created a PR, please review. Thanks!

[2020-03-26 08:46] qiweiii commented on #536
@alexanmtz  Could i take this one? I think i can do this.

[2020-03-26 12:26] qiweiii commented on #563
@alexanmtz I tried to implement this, please see my PR.

[2020-03-26 14:49] alexanmtz commented on #536
Yes @qiweiii , it is now assigned to you

[2020-03-26 15:14] qiweiii commented on #536
Hi @alexanmtz I created a PR #574 for this, could you please take a look?

[2020-03-26 19:34] arrudaricardo commented on #564
I can work on that, it is open in gitpay?

[2020-03-27 22:28] arrudaricardo commented on #567
I can work on that, it is open in gitpay?

[2020-03-27 22:30] arrudaricardo commented on #566
I can work on that, it is open in gitpay?

[2020-03-27 23:40] iwaduarte commented on #487
@alexanmtz

There are few problems with that implementation.
The issue payload does not provide an email but a `login` field. I guess that would not suffice since we are enabling email notifications.

I haven't thought before but I would guess email is a **protected** field and to prevent spam Github would prevent the API from disclosing via requests/hooks methods.

I guess in order to assign some

[2020-03-28 09:38] qiweiii commented on #563
@alexanmtz I tried to make a PR(#573) for this issue, I added the cron job and its test case.
I also added a mail task for it but didn't create the mail test, because i don't know what to add in locales for mail mesages.

[2020-03-28 10:52] alexanmtz commented on #450
@ShubhamCanMakeCommit your changes were merged and deployed and we had a great performance improvement. Thanks for the great contribution and effort 🚀

[2020-03-28 10:52] #450 closed

[2020-03-29 20:44] vinicius98s commented on #266
Hey, @alexanmtz I got some more things done, I fixed the image order, added the logic with the localStorage and also added the translation.
I just need to know what are exactly the actions for those buttons (Add bounties now and Set Deadline).

![Kapture 2020-03-29 at 17 38 39](https://user-images.githubusercontent.com/38966428/77860271-b6b4b600-71e4-11ea-9eaa-5f1d05d1b7f9.gif)

[2020-03-30 08:22] alexanmtz commented on #536
Merged and deployed 🚀 , thanks for the great contribution @qiweiii 🎉

[2020-03-30 08:22] #536 closed

[2020-03-30 11:30] alexanmtz commented on #222
@VictorAlessander , your PR was merged, but I can see there's still a minor issue before we consider this completed.

You created a validation for the email in the email field, but I can still send it empty. So besides the mail validation, we need to check if the field is not empty before sending it.

So please create a new PR providing this solution so we can finish this 🙏

[2020-03-30 11:53] VictorAlessander commented on #222
Created PR https://github.com/worknenjoy/gitpay/pull/576

[2020-03-30 17:42] alexanmtz commented on #222
You changes were merged @VictorAlessander, thanks for the great contribution 🚀

[2020-03-30 17:42] #222 closed

[2020-03-31 18:44] Yusadolat commented on #570
Hey @alexanmtz
Would like to take up this task

[2020-04-01 14:35] alexanmtz commented on #570
Hello @Yusadolat , sure, I assigned you and let me know if you have any questions

[2020-04-01 18:39] alexanmtz opened #584 "Add translation to tooltips from provider"
Add a translation string for the current tooltip:
https://github.com/worknenjoy/gitpay/blob/master/frontend/src/components/task/task-table.js#L251

### Useful links
  - https://github.com/formatjs/react-intl

### Screenshot attached
![Screen_Shot_2020-04-01_at_1 41 31_PM](https://user-images.githubusercontent.com/88840/78173921-bf152700-7458-11ea-87d8-788fc8c9000e.png)

[2020-04-01 18:41] alexanmtz commented on #465
@blarcmann , we will make this issue available again as we didn't have any response 👍

[2020-04-01 18:43] alexanmtz commented on #266
Amazing @vinicius98s , great progress. The *Add bounties* and *Deadline* will close the modal and open the components of bounties and deadline, the same if you click in "Add bounties" and "Set deadline" in the menu bar.

[2020-04-01 18:45] alexanmtz commented on #568
![](https://github.trello.services/images/mini-trello-icon.png) [Tooltip Language Issue (See Screenshot)](https://trello.com/c/2vM1Wgme/49-tooltip-language-issue-see-screenshot)

[2020-04-01 18:49] alexanmtz commented on #566
@arrudaricardo, It's not open on Gitpay, this is an open-source contribution issue, thanks for the PR

[2020-04-01 19:00] alexanmtz commented on #566
Merged and deployed @arrudaricardo , thanks for the great contribution 🚀

[2020-04-01 19:00] #566 closed

[2020-04-01 19:01] alexanmtz commented on #462
Maybe #502 will help to degrade gracefully this

[2020-04-01 19:34] arrudaricardo opened #585 "React-intl payment options preference"
Not able to access payment options preference under user profile.

error log:
[code]

### Level
Low

### Current behavior
Not able to access payment option

### Expected behavior
Load React Component Payment Option

### Useful links
 https://gitpay.me/#/profile/payment-options

### Screenshot attached
![error](https://user-images.githubusercontent.com/35773631/78178886-fee40a80-7468-11ea-9418-d6b8

[2020-04-02 07:49] alexanmtz commented on #584
![](https://github.trello.services/images/mini-trello-icon.png) [Tooltip Language Issue (See Screenshot)](https://trello.com/c/2vM1Wgme/49-tooltip-language-issue-see-screenshot)

[2020-04-02 11:50] etfaghaoubeid commented on #546
Hello ,I will fix this issue

[2020-04-02 12:45] alexanmtz commented on #546
Hello @etfaghaoubeid , you're now assigned, let me know if you need any help or if you have any questions 👍

[2020-04-02 12:56] alexanmtz commented on #487
Hello @iwaduarte , thanks for all your considerations, yeah, I moved the issue to a medium level, and let's just cover the case when the user is actually on Gitpay, and yeah, we need a login field, as we support Bitbucket too and this is a generic solution, we should add `provider_login` field. We have the `provider` field so we know if is a Github, so we could use that combined information.

[2020-04-02 13:58] ShubhamCanMakeCommit commented on #552
It would be great if you could assign this to me.

[2020-04-02 14:04] alexanmtz commented on #552
Good to see you again here @ShubhamCanMakeCommit, so you're now assigned and you can start to work on it 👍

[2020-04-02 14:36] Faithfinder commented on #514
Hi! Please assign this to me.

[2020-04-02 15:06] azdrenymeri commented on #510
Hello,
I want to work on this issue.

[2020-04-02 15:27] silanka007 commented on #517
Good day sir. Please I would like to work on this issue.

[2020-04-02 16:02] alexanmtz commented on #514
Hello @Faithfinder, you're now assigned 👍

[2020-04-02 16:03] alexanmtz commented on #510
Hello @azdrenymeri, you're now assigned to work on this issue 👍

[2020-04-02 16:07] alexanmtz commented on #517
Hello @silanka007 , you're now assigned to work on this issue

[2020-04-02 16:10] silanka007 commented on #517
@alexanmtz thank you very much sir

[2020-04-02 16:43] spikeboom commented on #565
Hello,

I'm interested in this issue.

[2020-04-02 16:44] topseySuave commented on #544
Hello @alexanmtz I would like to work on this issue and would appreciate I am assigned to it.

[2020-04-02 16:44] alexanmtz commented on #565
Hello @spikeboom, you're now assigned to this issue 👍

[2020-04-02 16:51] alexanmtz commented on #544
Hello @topseySuave, you're now assigned to work on this issue 👍

[2020-04-02 17:00] ChukwuEmekaAjah commented on #508
Okay. I would like to solve this.

[2020-04-02 17:01] alexanmtz commented on #585
Thanks @arrudaricardo to report this issue 🥇

[2020-04-02 17:05] alexanmtz commented on #508
Hello @ChukwuEmekaAjah, you're now assigned and you can start to work on this issue 👍

[2020-04-02 18:01] spikeboom commented on #565
@alexanmtz pode me enviar o convite para o slack? O convite em https://github.com/worknenjoy/gitpay  está vencido.

[2020-04-02 18:40] silanka007 commented on #517
if (!options.clientID) { throw new TypeError('OAuth2Strategy requires a clientID option'); }
                           ^
TypeError: OAuth2Strategy requires a clientID option

this error comes up everything I try to start up the node server.

[2020-04-02 18:58] topseySuave commented on #544
Hi @alexanmtz trying to run the server and I am getting this error

[code]

This is because I do not have the environment variables and adequate credentials for the complete setup, I want to know if I can get the contents of the  .env file for this to work

[2020-04-02 19:25] nrrao commented on #515
I want to work on this issue.

[2020-04-02 19:32] alexanmtz commented on #565
Obrigado por informar Roberto. Tente este link aqui:
https://join.slack.com/t/gitpay/shared_invite/enQtNDg4NzM2NDI5NDg4LTk1ZTlhMGJhOGJlOGJhNjgzNTJjM2QxMmNjM2M4Njk0YjllZDBiZDFjZTVlMzBiMzU0NTI3NjE2YWNhNjllOTQ

On Thu, 2 Apr 2020 at 20:01, Roberto Cruz <notifications@github.com> wrote:

--
--
Alexandre Magno
*Software Engineer*
https://alexandremagno.net/
+45 26479776
@alexanmtz

[2020-04-02 19:33] alexanmtz commented on #517
Hello @silanka007, I think you're missing a step in our documentation to copy the `.env.example` to `.env` in your local environment.

[2020-04-02 19:34] silanka007 commented on #517
Yeah I figured it out. I had to source the .env file. its now working!

[2020-04-02 19:36] alexanmtz commented on #544
Hello @topseySuave , I think you're missing the step in our README to copy `.env.example` to `.env` to have the env variables set.

[2020-04-02 19:37] topseySuave commented on #544
I got it already sorry, thanks.

[2020-04-02 19:38] alexanmtz commented on #515
Hello @nrrao , you're now assigned and you can start to work on this issue 👍

[2020-04-02 19:49] clarencepenz commented on #529
I'm interested

[2020-04-02 19:54] alexanmtz commented on #529
Hey @clarencepenz, you're now assigned and you can start to work on this issue 👍

[2020-04-03 00:03] silanka007 commented on #517
I am done resolving the issue sir. I will be sending in the pull request now.

[2020-04-03 01:10] igorjm commented on #518
Hello @alexanmtz

I would like to be assigned to this issue (:

Thank you

[2020-04-03 01:17] iwaduarte commented on #487
@alexanmtz What do you mean by the user is actually on Gitpay? Could you give an example?
What does the `provider` field contains?

[2020-04-03 01:22] muzhaqi16 commented on #528
I want to work on this issue.

[2020-04-03 03:32] ShubhamCanMakeCommit commented on #552
Thanks. I have just one question.
Can you advise me on how to approach this problem. How can I know that a issue is public or private? eg. I can use `this.props.task.data.status` to know the status or `task.data.deadline` to know the deadline like we do it in [task.js](https://github.com/worknenjoy/gitpay/blob/master/frontend/src/components/task/task.js#L1027)

[2020-04-03 06:04] ShubhamCanMakeCommit commented on #552
Here is my [code diff](https://github.com/worknenjoy/gitpay/compare/master...ShubhamCanMakeCommit:feat/public-private-status#diff-29a9c3eb704a8af119ba3b38d8f75ddeR1078)
I just need to pass the write properties.
It looks like this on localhost for above.
![screen](https://user-images.githubusercontent.com/52590791/78329363-20dfa900-759f-11ea-98be-d5f975135632.png)

[2020-04-03 08:09] vercettizarak commented on #503
I want to work on this issue

[2020-04-03 08:20] alexanmtz commented on #518
Hello @igorjm, you're now assigned to work on this issue 👍

[2020-04-03 08:22] alexanmtz commented on #487
@iwaduarte, I mean the first scenario, that the user assigned on Github is registered on Gitpay, and vice-versa. The provider contains the values `github` or `bitbucket`, which correspond if this user is connected on Github or Bitbucket.

[2020-04-03 08:23] alexanmtz commented on #528
Hello @muzhaqi16, you're now assigned to work on this issue 👍

[2020-04-03 08:25] vercettizarak commented on #247
I'm interrested in this issue, please add me

[2020-04-03 08:45] alexanmtz commented on #552
Hello @ShubhamCanMakeCommit, great progress 🎉

So, for now, you should keep static as you did, since all tasks are public and are a bounty until we define in the model these properties, so you can keep these properties as default. But please move this into a separate component, cause the task component is huge, and no shadow on this component.

[2020-04-03 08:45] alexanmtz commented on #503
Hello @vercettizarak, you're now assigned 👍

[2020-04-03 08:47] alexanmtz commented on #247
@vercettizarak, you're now assigned 👍

[2020-04-03 09:44] alexanmtz commented on #585
Your changes was merged and deployed @arrudaricardo, thanks again for your great contribution 🙏

[2020-04-03 09:44] #585 closed

[2020-04-03 10:08] ShubhamCanMakeCommit commented on #552
Thanks. I have made the required changes.

[2020-04-03 10:19] harshlakhanpal commented on #537
Hello Sir ,I'd like to work on this issue.

[2020-04-03 10:35] alexanmtz commented on #537
Hello @harshlakhanpal, you're now assigned to this issue and you can start to work on it 👍

[2020-04-03 10:39] etfaghaoubeid commented on #546
Hello , i have made a Pull request (set up  a spinner )

On Thu, Apr 2, 2020 at 12:45 PM Alexandre Magno <notifications@github.com>
wrote:

[2020-04-03 13:59] iamfortune commented on #531
hi, ready to do this

[2020-04-03 17:55] iwaduarte commented on #487
@alexanmtz  Is the username the same ? Look at my problem there. How do I know that
userAXAS (github_login) is AXASuser(gitpay_login) ? Which field connects both platforms?

[2020-04-03 18:05] alexanmtz commented on #487
You're right @iwaduarte, we will need something like `provider_username` field. We don't have username/login today. we will check the field `provider`(we have this today) with the value of `github` and the `provider_username` (we don't have this field today).

[2020-04-03 18:12] iwaduarte commented on #487
@alexanmtz So you will need to update the database before we could tackle on that issue. Right?

[2020-04-03 22:29] nrrao commented on #515
I started working on the issue, I was able to start the server and frontend. When I try to create user there was an error to create the user.
**TypeError: models.User.generateHash is not a function**
    at Object.userBuilds (C:\Users\16102\thinkfulProjects\gitpay\modules\users\userBuilds.js:5:41)
    at Object.tryCatcher (C:\Users\16102\thinkfulProjects\gitpay\node_modules\bluebird\js\release\uti

[2020-04-04 00:03] topseySuave commented on #544
Hi, Good day @alexanmtz I have currently added the action button on the frontend and working on actually saving a task in the database,  but I have this issue where I created a migration file as well as the model after running  `sequelize migration:create --name saveTask` and run `npm run migrate` I get only this migration

[code]

the new migration file `20200403235735-saveTask` I have gets ignor

[2020-04-04 07:09] iamNarcisse commented on #520
Hello, @alexanmtz I want to work on this issue.

[2020-04-04 12:57] arpit9667 commented on #547
@alexanmtz  I would like to work on this issue.

[2020-04-04 13:52] alexanmtz commented on #534
Hello @sonny-maan, you're now assigned and you can start to work on this issue 👍

[2020-04-04 13:52] alexanmtz commented on #547
@arpit9667, you're now assigned and you can start to work on this issue 👍

[2020-04-04 13:59] alexanmtz commented on #487
Yes @iwaduarte, you can create a migration like the ones we have today and add the new field, and update the model.

Using Sequelize you can do it like this example:
`sequelize migration:generate --name add-login-from-provider-to-user`

[2020-04-04 14:00] alexanmtz commented on #531
Hello @iamfortune, you're now assigned and you can start to work on this issue 👍

[2020-04-04 16:03] #552 closed

[2020-04-05 12:20] harshlakhanpal commented on #247
Please add me

[2020-04-05 15:52] alexanmtz commented on #247
You're now assigend @harshlakhanpal 👍

[2020-04-06 01:09] nrrao commented on #515
Solved the above issue by changing sequelize version from 5  to 3.

The next problem I am facing is about connecting to Bitbucket from Gitpay.

I have created my own Bitbucket account and have configured ID and Key in the .env file.
However, I get the below error when I click "Bitbucket" button:

Invalid client_id
This integration is misconfigured. Contact the vendor for assistance

Can you send m

[2020-04-06 11:18] alexanmtz commented on #510
The issue was fixed and deployed, thanks @azdrenymeri to your contribution 👍

[2020-04-06 11:18] #510 closed

[2020-04-06 11:23] alexanmtz commented on #515
@nrrao Are you following the instructions to copy the `.env.example` to `.env` in order to setup a basic environment variables set?

[2020-04-06 12:59] alexanmtz commented on #565
@spikeboom, obrigado e sua contribuição já está em produção, mas ainda ficamos com um bug nos convites para sponsors. Pode dar uma olhada? A solução deve ser similar.

[2020-04-06 13:18] alexanmtz commented on #529
the issue was fixed @clarencepenz, thsanks for your contribution 💯

[2020-04-06 13:18] #529 closed

[2020-04-06 14:48] spikeboom commented on #565
Oi, vou verificar sim a questão dos sponsors

[2020-04-06 15:59] nrrao commented on #515
I had set up basic environment variables set by copying .env.example to .env.
I was trying to import issue by logging into bitbucket through gitpay. I didn't have to do this!
Now I am able to add task from bitbucket.

**The issue is NOT reproducible.**
 When I changed the issue name on bitbucket it does not reflect on gitpay, but the link is still working. So the Bitbucket tasks are correctly reco

[2020-04-06 16:06] nrrao commented on #515
![tasks-added](https://user-images.githubusercontent.com/25930687/78579475-fab84400-77fe-11ea-92dc-4c82aec35b76.PNG)
![bitbucket-issues](https://user-images.githubusercontent.com/25930687/78579503-07d53300-77ff-11ea-8f2c-9bbb2816cc0d.PNG)

[2020-04-06 17:47] Faithfinder commented on #514
Hey, so are you talking about Google Calendar link? Because as far as I know there's no universal "calendar link" like there is a "mailto" one. I can also generate and attach an .ics file, but that's, obviously, not a link.
Also you've promised me keys to Sendgrid?

[2020-04-07 09:05] alexanmtz commented on #514
Hello @Faithfinder ,
Yes, a Google calendar is enough.

I will send you the Sendgrid development API_KEYS.

[2020-04-07 09:11] alexanmtz commented on #551
Your changes were merged and deployed @zazk. I realize that it validates once the form appears on the screen, and it should actually listen to onblur events, feel free to send a pull request to improve your solution.

[2020-04-07 09:18] alexanmtz commented on #515
Great @nrrao, thanks for all the clarifications, and we can close this 👍

[2020-04-07 09:18] #515 closed

[2020-04-07 10:46] alexanmtz opened #606 "Add contact author to task page"
Add a new first item on the task page `Contact author` which will open a dialog to send a message for the user who added an issue on Gitpay.

### Why
We need a way to contact the author to make questions about that issue.

### Level
Beginner

### Screenshot attached
Our current bar where the new button should be placed:
<img width="712" alt="Screen Shot 2020-04-07 at 12 40 44 PM" src="https://user

[2020-04-07 10:59] alexanmtz opened #607 "Delete account"
We should be able to delete a user account completely.

You should do this by adding a new option in our user account menu called _Settings_ and then the on this new settings page, an option Delete my account in red should be available, once the user clicks, a confirm dialog should display a message **Are you sure that you want to delete your account?** should be displayed with a confirm and cance

[2020-04-07 16:51] adelmojnr commented on #606
Hi, I'm interested

[2020-04-07 17:07] alexanmtz commented on #606
Hello @adelmojnr, you're now assigned and you can start to work on this issue 👍

[2020-04-07 21:03] spikeboom commented on #607
I would like to work on this issue.

[2020-04-07 21:04] alexanmtz commented on #607
Hello @spikeboom, thanks for your interest. You're now assigned to work on this issue 👍

[2020-04-08 08:09] sachin-duhan26 commented on #607
I would like to work on this issue.

[2020-04-08 11:28] alexanmtz commented on #565
Great @spikeboom, now we have everything working 👍 , thanks for your great contribution 🥇

[2020-04-08 11:28] #565 closed

[2020-04-08 11:39] sachin-duhan26 commented on #584
I'm interested in this issue..

[2020-04-08 12:11] alexanmtz commented on #584
Hello @sachin-duhan26, you're now assigned and you can start to work on this issue 👍

[2020-04-08 12:43] spikeboom commented on #607
@alexanmtz a função para deletar a conta deve excluir também as atividades relacionadas àquele usuário?

[2020-04-08 12:46] spikeboom commented on #607
@alexanmtz a função deletar conta permanentemente deve deletar também as tarefas relacionadas àquele usuário?

[2020-04-08 13:22] wiosnamonika commented on #527
I am working on it.:)

[2020-04-08 13:33] alexanmtz commented on #607
Bem lembrado @spikeboom, vamos deletar as tarefas associadas e interesse em tarefas (`Assigned`), e na mensagem de confirmação notificar isso 👍

[2020-04-08 13:36] alexanmtz commented on #527
You're now assigned @wiosnamonika 👍

[2020-04-08 13:43] #517 closed

[2020-04-08 13:48] #551 closed

[2020-04-08 16:46] #514 closed

[2020-04-08 19:49] alexanmtz commented on #502
@ShubhamCanMakeCommit  after your change we have a temporary blank page before the task page loads, I think it is related to an empty div you return first. We have a loader on the home page, can you please apply this same loader, extract as a component and apply on the task page instead to render a div? Otherwise, we will need to revert your changes. Please let me know if is possible 👍

[2020-04-09 11:49] #502 closed

[2020-04-09 22:08] joemart commented on #524
Challenge accepted

[2020-04-11 21:59] arrudaricardo commented on #564
can I work on that?

[2020-04-12 11:14] alexanmtz commented on #564
Hello @arrudaricardo, it would be great, and this one is very challenging. You're now assigned to this issue 👍

[2020-04-12 11:15] alexanmtz commented on #266
hello @vinicius98s, some update about this issue? You can send a Pull Request with your current progress?

[2020-04-12 15:58] #503 closed

[2020-04-13 12:36] vinicius98s commented on #266
Hi @alexanmtz I'll try to send my PR complete later today

[2020-04-13 13:22] huzaifahere opened #617 "Account Takeover Design Bug"
Here are steps to take over the account

1.  Your web application has three sign up features.
 Github, BitBucket, Through Email

2. Register the account with my Gmail address (eg: test@gmail.com) using email and password flow. No verification link sent to the email.
3. Logged out and tried to create an account using the sign up with google using the same Google account used in Step 2 (i.e., test@g

[2020-04-13 13:38] huzaifahere commented on #617
Step 3: Logged out and tried to create an account using the sign up with Github using the same Google account used in Step 2 (i.e., test@gmail.com). [victim will do this action]
Clarification: Github account is made from Gmail (test@gmail.com)

[2020-04-13 19:17] #607 closed

[2020-04-14 08:13] alexanmtz commented on #452
@arrudaricardo now we had an error em production when fetching an issue:

[code]

Maybe we miss to change here?
https://github.com/worknenjoy/gitpay/blob/master/modules/tasks/taskFetch.js#L70

can you take a look on this, please?

[2020-04-14 10:45] alexanmtz commented on #452
@arrudaricardo It's really weird, cause the issue only happens in production, and maybe is not related to your changes

[2020-04-14 11:31] alexanmtz commented on #452
Don't see related, let's keep this closed 👍

[2020-04-14 11:31] #452 closed

[2020-04-14 11:33] arrudaricardo commented on #452
@alexanmtz I don't think is related, but I gonna take a look, gonna try to reproduce the error locally.

[2020-04-14 11:37] alexanmtz commented on #452
@arrudaricardo this is happening only in production and I'm working in a temporarily fix 🙏

[2020-04-14 11:38] alexanmtz commented on #617
This is part of #524

[2020-04-14 11:39] alexanmtz commented on #524
Hello @joemart, you're now assigned 👍

[2020-04-14 15:56] azie-ginanjar commented on #567
Hi, Could I take this task?

[2020-04-14 16:05] alexanmtz commented on #567
Hello @azie-ginanjar, you're now assigned 👍

[2020-04-14 16:45] alexanmtz commented on #584
Hey @sachin-duhan26, are you still working on this?

[2020-04-14 22:20] azie-ginanjar commented on #567
Hello @alexanmtz, Thanks! :)

[2020-04-15 17:05] alexanmtz commented on #546
Hello @etfaghaoubeid, your pull request was merged and deployed 🚀, thanks for the great contribution 👍

[2020-04-15 17:05] #546 closed

[2020-04-15 17:38] alexanmtz commented on #544
Hello @topseySuave, can you try to run `npm run migrate` instead?

[2020-04-15 18:05] alexanmtz commented on #462
I think this issue was solved from Stripe and we fix some issues with translations from our side 👍

[2020-04-15 18:05] #462 closed

[2020-04-15 19:20] nrrao commented on #519
I looked into the bottom navigation. All the links are working.
![bottom navigation](https://user-images.githubusercontent.com/25930687/79379258-a6af0d00-7f2c-11ea-86b8-ed433a6912dd.PNG)

[2020-04-15 19:24] alexanmtz commented on #519
Hello @nrrao, all the links are working but some of the links point to the wrong target

[2020-04-15 21:50] Saivishalc commented on #569
Hi, I have one question about the issue. When talking about adding a translation in the pricing section are you referring to the language or something else?

[2020-04-15 21:53] Saivishalc commented on #569
Also, I would like to work on this Issue.

[2020-04-16 03:23] nrrao commented on #519
When I click on the links the content for how it works for freelancers and company is the same but the heading is appropriate. Could you give me an example of a wrong target?

[2020-04-16 11:15] alexanmtz commented on #569
@Saivishalc the pricing section has English strings hardcoded, please see our examples of how to add translation keys using ReactIntl: https://github.com/formatjs/react-intl

So we need to replace the hardcoded strings on this section with translations using the ReactIntl library as we do in other sections.

[2020-04-16 11:15] alexanmtz commented on #569
You're now assigned @Saivishalc

[2020-04-16 11:34] alexanmtz commented on #519
@nrrao, maybe on the interface seems right, but looking into the code to see duplicate sessions, cause all sections are unique. Look into the existing code to create the translation entries.

[2020-04-16 12:49] mani-developer commented on #541
I am interested to work on this issue

[2020-04-16 13:06] alexanmtz commented on #541
You're now assigned @mani-developer 👍

[2020-04-16 13:08] mani-developer commented on #541
great. thanks @alexanmtz

[2020-04-16 13:29] #451 closed

[2020-04-16 14:11] caiofp27 commented on #560
I want to work on this issue.

[2020-04-16 16:19] alexanmtz commented on #560
Hello @caiofp27, you're now assigned 👍

[2020-04-16 23:10] aryanvaid2108 commented on #496
Hi, I want to work on this issue.

[2020-04-17 07:36] alexanmtz commented on #496
Hello @aryanvaid2108, you're now assigned and you can start to work on this issue 👍

[2020-04-17 08:59] MelvinManni commented on #545
I will like to work on this issue

[2020-04-17 09:02] robertkibet commented on #227
:tada: @alexanmtz

[2020-04-17 09:11] alexanmtz commented on #545
Hello @MelvinManni, you're now assigned and you can start to work on this issue 👍

[2020-04-17 10:13] alexanmtz commented on #227
Hello @robertkibet, you're now assigned 👍

[2020-04-17 12:10] DewaldMar commented on #542
I would like this issue can you please assign the issue to me

[2020-04-17 13:34] alexanmtz commented on #542
Great @DewaldMar, you're now assigned and you can start to work on this issue 👍

[2020-04-17 14:57] robertkibet commented on #227
@alexanmtz how can I reproduce this locally?

[2020-04-17 15:09] alexanmtz commented on #227
@robertkibet, please follow the documentation on README and run the front-end and back-end locally. Then you can create users, import issues and try to add a bounty with the following credit card number for testing:
`4242424242424242`

So we will have a bounty and we can display this component.

If there's no payment you don't need to show anything

[2020-04-17 17:01] sanjaypokkali commented on #523
Hi I would like to work on this issue

[2020-04-17 17:08] alexanmtz commented on #523
Hello @sanjaypokkali, that's great, you're now assigned and you can start to work on this issue 👍

[2020-04-17 17:50] aryanvaid2108 commented on #496
Hi Alexandre,
I have installed the project on my local machine, and I have been able to
successfully run the front end. I'm kind of confused about the other stuff
that I need to install and run, I would really appreciate some help.

Thanks,
Aryan Vaid

On Fri, Apr 17, 2020 at 12:37 AM Alexandre Magno <notifications@github.com>
wrote:

[2020-04-17 17:52] alexanmtz commented on #496
Please follow the steps to reproduce the user scenario:

### How to reproduce the user scenario
1. You should run the project locally
2. Register your user
3. Import an issue
4. And set deadlines on the Task page you just created

[2020-04-17 19:36] adamash99 commented on #247
I would love to contribute!

[2020-04-17 19:40] adamash99 commented on #549
I want to work on this issue.

[2020-04-17 20:31] Shawn-Noruzi commented on #247
Looking to contribute!

[2020-04-18 05:00] Hardik500 commented on #543
I want to work on this issue.

[2020-04-18 07:52] Shawn-Noruzi commented on #539
Hi! I'm ready to work on this. Please Assign it to me :)
Thank you!

[2020-04-18 10:57] alexanmtz commented on #539
Hello @Shawn-Noruzi, that's great, you're now assigned and you can start to work on this issue 👍

[2020-04-18 11:23] alexanmtz commented on #543
Hello @Hardik500, that's great, you're now assigned to work on this issue 👍

[2020-04-18 11:25] alexanmtz commented on #549
Hello @adamash99, you're now assigned and you can start to work on this issue 👍

[2020-04-18 16:20] sanjaypokkali commented on #523
Hi @alexanmtz , I am having some trouble with downloading all the dependancies and getting the project running on my local machine. Could you please list the steps to get it working. That would be greatly appreciated.

My npm version is 6.14.4